{% if request.page_type == 'article' or request.page_type == 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'page' %}
  {% capture permalinkURL %}{{ shop.url }}{{ page.url }}{% endcapture %}
  {% capture shareTitle %}{{ page.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'collection' %}
  {% capture permalinkURL %}{{ shop.url }}{{ collection.url }}{% endcapture %}
  {% capture shareTitle %}{{ page.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'index' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{{ page.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

{% assign shareButtonStyle = settings.social_sharing_style %}
<script>
 

// $(document).ready(function(){
//   if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
//     $(".aaaa").css("background-color","yellow");
//    console.log('这里是移动');
// } else {
//    console.log('这里是pc');
// }
//  // 开始写 jQuery 代码...

// });
</script>
	<div id="sharing" class="{{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">
      <div class="fn-share">share :</div>
      <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}"onclick="toaddcart();" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
        <img src="https://cdn.shopifycdn.net/s/files/1/0608/6590/4797/files/twitter43.png?v=1653362662" alt="">
      </a>
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{% if request.page_type == 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}&amp;description={{ shareTitle }}" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
        <img src="https://cdn.shopifycdn.net/s/files/1/0608/6590/4797/files/NG.png?v=1653362662" alt="">
      </a>
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" onclick="toaddcart();" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
        <img src="https://cdn.shopifycdn.net/s/files/1/0608/6590/4797/files/facebook_facebook52.png?v=1653362662" alt="">
      </a>
</div>