{% comment %}
    author: Ivan

{% endcomment %}


<style>
    .breadcrumbs {
        margin: 2.5rem 0;
    }

    .breadcrumbs__list {
        line-height: 14px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        /* display: flex; */
    }

    .breadcrumbs__item {
        display: inline-flex;
        align-items: center;
    }

    .breadcrumbs__item:not(:last-child):after {
        border-style: solid;
        border-width: 0.10em 0.10em 0 0;
        content: '';
        display: inline-block;
        height: 0.3em;
        margin: 0 0.5em;
        position: relative;
        transform: rotate(45deg);
        vertical-align: middle;
        width: 0.3em;
    }

  .breadcrumbs__link {
    /* text-decoration: underline; */
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #333333;
  }

  .breadcrumbs__link[aria-current="page"] {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;    
  }

    .breadcrumbs__link[aria-current="page"]:hover,
    .breadcrumbs__link[aria-current="page"]:focus {
        text-decoration: underline;
    }
</style>

{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}

    <section class="section-breadcrumbs">
            <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a class="breadcrumbs__link" href="/">Home</a>
                    </li>
                    {%- case t -%}
                        {%- when 'page' -%}
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                            </li>
                        {%- when 'product' -%}
                            {%- if collection.url -%}
                                <li class="breadcrumbs__item">
                                    {{ collection.title | link_to: collection.url }}
                                </li>
                            {%- endif -%}
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                            </li>
                        {%- when 'collection' and collection.handle -%}
                            {% for link in linklists.header.links %}                              
                                {% for sub_link in link.links %}
                               
                                {% if sub_link.active or sub_link.child_active %}
                                    <li class="breadcrumbs__item">
                                        <span class="breadcrumbs__link t" aria-current="page">{{ sub_link.title }}</span>
                                    </li>
                                
                                    {% endif %}

                                {% endfor %}
                            {% endfor %}
                        {%- when 'blog' -%}
                            {%- if current_tags -%}
                                <li class="breadcrumbs__item">
                                    {{ blog.title | link_to: blog.url }}
                                </li>
                                <li class="breadcrumbs__item">
                                    {%- capture tag_url -%}
                                        {{ blog.url }}/tagged/{{ current_tags | join: "+" }}
                                    {%- endcapture -%}
                                    <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
                                </li>
                            {%- else -%}
                                <li class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                                </li>
                            {%- endif -%}
                        {%- when 'article' -%}
                            <li class="breadcrumbs__item">
                                {{ blog.title | link_to: blog.url }}
                            </li>
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
                            </li>
                        {%- else -%}
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
                            </li>
                    {%- endcase -%}
                </ol>
            </nav>
   
    </section>
{%- endunless -%}
