{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'fn-card-product' %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
    if limit != blank
      assign limit = limit
    else
      assign limit = 5
    endif
  -%}
<div class="card-wrapper">
  <div class="card">
     <a href="{{ card_product.url }}?variant={{ card_product.variants[forloop.index0].id }}">
          <div class="fn-discountstore-product_title t">{{ product_title }} </div>
    </a>
    <div class="fn-color-attr">
    {%- for option in card_product.options_with_values -%}
        {%- if option.name == 'Colors' or option.name == 'Color' -%}
          <ul>
              {%- if option.name == 'Colors' -%}
              {% assign colorList = card_product.options_by_name['Colors'].values | slice: 0, limit %}
              {%- else -%}
              {% assign colorList = card_product.options_by_name['Color'].values | slice: 0, limit %}
              {%- endif -%}
              {%- for value in colorList -%}
              <li>
                  <a href="{{ card_product.url }}?variant={{ card_product.variants[forloop.index0].id }}">
                      {%- if card_product.variants[forloop.index0].featured_image != blank -%}
                      <img src="{{ card_product.variants[forloop.index0].featured_image | img_url: '50x50' }}" alt="{{ value }}">
                      {%- endif -%}
                  </a>
              </li>
              {% endfor %}
          </ul>
        {%- endif -%}
    {% endfor %}
</div>
    <div class="fn-christmas-price">
        {% render 'christmasproduct-price', product: card_product, price_class: '' %}
    </div>
    <div class="fn-christmasactivities-head">
          {% render 'christmas-addcart', product: card_product%}
    </div>
 </div>
</div>
{%- endif -%}