{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'fn-card-product' %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
    if limit != blank
      assign limit = limit
    else
      assign limit = 5
    endif
  -%}
<div class="card-wrapper">
  <div class="card fn-Prackageblog-product">
    <div class="fn-productLucky-head">
          {% render 'lowprice-addcart', product: card_product%}
    </div>
 </div>
</div>
<div class="fn-Eventproducts-productssold">
       Only <span class="fn-Eventproducts-inventoryright">{{ remaining_number }}</span> left
</div>
  <div class="fn-Eventproducts-progressbar">
    <div class="fn-Eventproducts-progressbarone"></div>
    <div class="fn-Eventproducts-progressbartwo" id="fn-lowprice_{{ card_product.id }}"></div>
  </div>
{%- endif -%}
 <script>
$(function (){
  var lowpriceWidth = document.body.clientWidth;
  // 总的目标值remaining_schedule_s
       var lowprice_schedule_s  = {{ schedule_sum }};
  // 实际长度数值
      var lowprice_schedule = {{ schedule }};
  if(lowpriceWidth > 1440) {
        var bar_nums = lowprice_schedule_s / 453;
        var bar_items = bar_nums.toFixed(2);
        var bars_items = lowprice_schedule/bar_items;
        $('#fn-lowprice_{{ card_product.id }}').css("width",bars_items);
  }
  if(lowpriceWidth == 1440) {
        var bar_nums = lowprice_schedule_s / 413;
        var bar_items = bar_nums.toFixed(2);
        var bars_items = lowprice_schedule/bar_items;
        $('#fn-lowprice_{{ card_product.id }}').css("width",bars_items);
  }
  if(lowpriceWidth == 1024) {
        var bar_nums = lowprice_schedule_s / 278;
        var bar_items = bar_nums.toFixed(2);
        var bars_items = lowprice_schedule/bar_items;
        $('#fn-lowprice_{{ card_product.id }}').css("width",bars_items);
  }
  if(lowpriceWidth > 400 && lowpriceWidth < 768) {
        var bar_nums = lowprice_schedule_s / 182;
        var bar_items = bar_nums.toFixed(2);
        var bars_items = lowprice_schedule/bar_items;
        $('#fn-lowprice_{{ card_product.id }}').css("width",bars_items);
  }
    if(lowpriceWidth < 400) {
        var bar_nums = lowprice_schedule_s / 150;
        var bar_items = bar_nums.toFixed(2);
        var bars_items = lowprice_schedule/bar_items;
        $('#fn-lowprice_{{ card_product.id }}').css("width",bars_items);
  }
})
</script> 