<div class="fn-craft-ideas">
  <div class="fn-craft-head">
    <div class="fn-content-title">Craft Ideas & Projects</div>
    <div class="fn-craft-button">
      <a href="{{ section.settings.ideas_link }}">VIEW MORE</a>
    </div>
  </div>
  <div class="fn-craft-content ">
    <ul>
       {% assign blogsList = blogs['Craft-Ideas-Projects'].articles | slice: 0, 4 %}
      {% for article in blogsList %}
      <li class="fn-article-list">
        {% if article.image.src != blank %}
         <a href="{{ article.url }}">
            <div class="fn-craft-imges">
            <img src="{{ article.image.src | image_url: width: 385 }}" alt="">
          </div>
        </a>
        {% endif %}
        <a href="{{ article.url }}">
          <div class="fn-article-title">{{article.title}}</div>
        </a>
        <div class="fn-article-excerpt-text ">{{ article.excerpt | truncate: 123 | strip_html  }}</div>
        <div  class="fn-article-time">{{ article.created_at | date: "%B %d, %Y" }}</div>
      </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "craft ideas",
    "settings": [
        {
            "type":"url",
            "id":"ideas_link",
            "label":{
                "en":"Craft Ideas link",
                "zh-CN":"链接"
            }
        }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
