{%- style -%}
#shopify-section-{{ section.id }} .campaign-to-customers {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    background-color: {{ section.settings.bg_color }};
}
#shopify-section-{{ section.id }} .campaign-to-customers .swiper-button-prev,
#shopify-section-{{ section.id }} .campaign-to-customers .swiper-button-next {
    background-color: {{ section.settings.bg_color }};
}
{%- endstyle -%}
<style>
    .campaign-to-customers .campaign-text {
        text-align: center;
    }
    .campaign-to-customers .campaign-text .t {
        font-size: 48px;
        line-height: 54px;
    }
    .campaign-to-customers .campaign-text .desc {
        margin-top: 25px;
        font-size: 24px;
        line-height: 30px;
    }
    .campaign-to-customers .more a {
        display: inline-block;
        padding: 15px 49px;
        font-size: 20px;
        line-height: 1;
        background: #FF7606;
        border-radius: 6px;
        border: none;
        width: auto;
        height: auto;
        color: #fff;
    }
    .campaign-to-customers .fn-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 60px auto 80px;
    }
    .campaign-to-customers .fn-flex .item {
        max-width: 33.333333%;
    }
    @media (max-width: 749px){
        .campaign-to-customers .campaign-text .t {
            font-size: 36px;
            line-height: 40px;
        }
        .campaign-to-customers .campaign-text .desc {
            margin-top: 12px;
        }
        .campaign-to-customers .fn-flex .item {
            max-width: 100%;
        }
        .campaign-to-customers .fn-flex {
            margin: 30px auto;
        }
        .campaign-to-customers .more a {
            padding: 13px 69px;
            font-size: 12px;
        }
    }
    @media (max-width: 480px){
        .campaign-to-customers .campaign-text .t {
            font-size: 18px;
            line-height: 22px;
        }
        .campaign-to-customers .campaign-text .desc {
            margin-top: 6px;
            font-size: 14px;
            line-height: 18px;
        }
        .campaign-to-customers {
            padding: 50px 0;
        }
    }
</style>
<div class="campaign-to-customers">
    <div class="{{ section.settings.layout }}">
        <div class="campaign-text">
            {%- if section.settings.title != blank -%}
            <div class="t">{{ section.settings.title }}</div>
            {%- endif -%}
            {%- if section.settings.desc != blank -%}
            <div class="desc">{{ section.settings.desc }}</div>
            {%- endif -%}
            <div class="fn-flex">
                {% for block in section.blocks %}
                <div class="item">
                    <img src="{{ block.settings.image | img_url: '520x' }}" alt="{{ block.settings.image.alt }}">
                </div>
                {%- endfor -%}
            </div>
            {%- if section.settings.link != blank -%}
            <div class="more extra-t"><a href="{{ section.settings.link }}">{{ section.settings.label }}</a></div>
            {%- endif -%}
        </div>
    </div>
</div>

{% schema %}
{
    "name":"Campaign to customers",
    "max_blocks": 3,
    "settings":[
        {
            "type":"text",
            "id":"title",
            "default":"Give back to customers",
            "label":"标题"
        },
        {
            "type":"text",
            "id":"desc",
            "default":"Get the following gifts on orders over $200",
            "label":"描述"
        },
        {
            "type":"color",
            "id":"bg_color",
            "label":"背景颜色"
        },
        {
            "type":"url",
            "id":"link",
            "label":"链接"
        },
        {
            "type":"text",
            "id":"label",
            "default":"See More",
            "label":"链接文字"
        },
        {
            "type":"range",
            "id":"padding_top",
            "min":0,
            "max": 200,
            "step": 2,
            "unit":"px",
            "label":"t:sections.all.padding.padding_top",
            "default": 120
        },
        {
            "type":"range",
            "id":"padding_bottom",
            "min":0,
            "max": 200,
            "step": 2,
            "unit":"px",
            "label":"t:sections.all.padding.padding_bottom",
            "default": 118
        },
        {
            "type":"range",
            "id":"margin_top",
            "min":0,
            "max": 100,
            "step": 2,
            "unit":"px",
            "label":"Top margin",
            "default": 0
        },
        {
            "type":"range",
            "id":"margin_bottom",
            "min":0,
            "max":100,
            "step": 2,
            "unit":"px",
            "label":"Bottom margin",
            "default": 0
        },
        {
            "type":"select",
            "id":"layout",
            "options":[
                {
                    "value":"fn-page-width-l",
                    "label":"全屏"
                },
                {
                    "value":"fn-page-width",
                    "label":"内容区域显示1600"
                },
                {
                    "value":"fn-page-width-s",
                    "label":"内容区域显示1200"
                }
            ],
            "default":"fn-page-width",
            "label":"内容显示宽度"
        }
    ],
    "blocks":[
        {
            "type":"image",
            "name":"image",
            "settings":[
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Campaign Feedback to customers",
            "blocks":[
                {
                    "type":"image"
                }
            ]
        }
    ]
}
{% endschema %}