{% style %}
  #shopify-section-{{ section.id }} .cap-hot-press-creativity{
    background-color:{{ section.settings.bg_color }}
  }
{% endstyle %}
<style>
    .cap-hot-press-creativity{
        padding:30px 0 40px;
        letter-spacing:0
    }
    .cap-hot-creativity-content{
        width:1165px;
        margin:0 auto
    }
    .cap-hot-creativity-item{
        display:flex;
        justify-content: space-between;
        margin-bottom:20px;
    }
    .cap-hot-creativity-show{
        flex: 1;
    }
    .cap-hot-creativity-show>img{
        width:100%
    }
    .cap-hot-creativity-product{
        background:#FFF1E0;
        padding:14px;
        border-radius: 10px;
        width:345px;
        display: flex;
        flex-direction: column;
    }
    .cap-hot-creativity-title{
        background:#FFF1E0;
        padding:16px 27px 16px 18px;
        display:flex;
        justify-content: space-between;
        border-radius: 0 0 10px 10px;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #6D3309;
        line-height: 21px;
    }
    .player-btn{
        cursor: pointer;
    }
    .cap-hot-creativity-product>div{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .cap-hot-creativity-title-pro{
        font-size: 20px;
        font-weight: bold;
        color: #6D3309;
        line-height: 23px;
        margin-bottom:11px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    }
    .cap-hot-creativity-list{
        flex:1;
    }
    .cap-hot-creativity-list li{
        position: relative;
        padding-left:20px;
        font-size: 16px;
        font-weight: 400;
        color: #6D3309;
        line-height: 26px;
    }
    .cap-hot-creativity-list li::before{
        content:'';
        width:4px;
        height:4px;
        border-radius:50%;
        background: #FF8B31;
        position: absolute;
        left: 5px;
        top: 10px;
    }
    .cap-hot-creativity-price .fn-compareat_price{
        flex-direction: row;
        align-items: baseline;
        font-size: 18px;
        font-weight: bold;
        color: #FF7500;
        line-height: 21px;
        margin-bottom:8px
    }
    .cap-hot-press-creativity .fn-compareat_price .fn-compare-at_price{
        font-size: 14px;
        font-weight: 400;
        color: #FF7500;
        line-height: 16px;
        margin-left:5px
    }
    .cap-hot-creativity-addtocart{
        position: relative;
        z-index:2
    }
    .cap-hot-creativity-product .button--full-width{
        background: linear-gradient(91deg, #FF9A30 0%, #FF8830 100%);
        border-radius: 4px 4px 4px 4px;
        min-height: 46px;
        height:46px;
        --border-offset: none;
        --border-opacity: none;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 26px;
    }
    .fn-Stories-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        z-index: 999;
        display: none;
    }
    .fn-Stories-mask .fn-Storiesmask-main {
        cursor: pointer;
    }
    .fn-Stories-Video {
        width:100%;
        height:653px;
    }
    .fn-Stories-Video iframe{
        border-radius:10px
    }
    .fn-Stories-mask>div{
        margin: 0 auto;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: absolute;
        background-color: #fff;
        border-radius: 16px;
        padding: 3.9% 6.2%;
        width: 74.85%;
    }
    .fn-Stories-mask .mask-close {
        position: absolute;
        top: 21px;
        right: 25px;
    }
    @media screen and (max-width: 1366px){
        .cap-hot-creativity-content{
            width:1110px
        }
        .cap-hot-creativity-title-pro{
            font-size: 18px;
            margin-bottom: 0px;
        }
    }
    @media screen and (max-width: 1180px){
        .cap-hot-creativity-content{
            width:95%
        }
        .cap-hot-creativity-product{
            width:29.6%
        }
    }
    @media screen and (max-width: 820px){
        .fn-Stories-Video {
            height:300px;
        }
        .fn-Stories-mask .mask-close {
            top: 5px;
            right: 5px;
        }
        .cap-hot-creativity-product{
            padding:6px
        }
        .cap-hot-creativity-title-pro{
            font-size: 14px;
            line-height: 16px;
        }
        .cap-hot-creativity-list li{
            font-size: 14px;
            line-height: 22px;
            padding-left: 16px
        }
        .cap-hot-creativity-list {
            margin: 10px 0;
        }
    }
    @media screen and (max-width: 768px){
        .cap-hot-press-creativity{
            padding:10px 0
        }
        .cap-hot-creativity-item{
            flex-direction:column !important
        }
        .cap-hot-creativity-product{
            width:100%;
            margin-top:8px;
            border-radius:6px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .cap-hot-creativity-product>img{
            width: 59.25%;
        }
        .cap-hot-creativity-product>div{
            margin-left:7px
        }
        .cap-hot-creativity-show{
            margin:0 !important;
            position: relative;
        }
        .cap-hot-creativity-title{
            padding:12px;
            font-size: 14px;
            line-height: 16px;
        }
        .cap-hot-creativity-product .button--full-width{
            padding:0;
            font-size:14px;
            height: 44px;
            min-height: 44px;
        }
        .cap-hot-creativity-price .fn-compareat_price{
            font-size:16px;
            line-height:19px
        }
        .player-btn{
            position:absolute;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -50%);
            width:27px
        }
        .cap-hot-hat-title{
            border-radius: 0 0 6px 6px
        }
        .fn-Stories-mask>div{
            width:100%;
            border-radius: 0;
            padding: 5.1% 6.9%;
        }
        .fn-Stories-mask-mobile>div{
            width:93.6%;
        }
        .fn-Stories-mask .mask-close {
            top: 3px;
            right: 4px;
        }
        .fn-Stories-mask .mask-close img{
            width:19px;
            height:19px
        }
        .fn-Stories-Video {
            height:230px;
        }
        .fn-Stories-Video iframe{
            border-radius:0
        }
    }
    @media screen and (max-width: 480px){
        .player-btn{
            top:40%
        }
        .cap-hot-creativity-product {
          flex-direction: column;
        }
        .cap-hot-creativity-product>div {
            margin-left: 0;
            margin-top: 10px;
        }
        .cap-hot-creativity-product > img {
            width: 100%;
        }
       .cap-hot-creativity-product>a{
         width:100%;
       }
      .cap-hot-creativity-product>a>img{
        margin:0 auto;
      }
    }
</style>
<div class="cap-hot-press-creativity" id="{{ section.settings.card_id }}">
  <div class="cap-module-title">
    <div class="cap-module-host-title">{{ section.settings.title }}</div>
    <div class="cap-module-desc-title">{{ section.settings.title_desc }}</div>
  </div>
  <div class="cap-hot-creativity-content">
    {% for block in section.blocks %}
      {% if block.settings.layout %}
        {% assign layout = 'row-reverse' %}
        {% assign margin = 'margin-left' %}
      {% else %}
        {% assign layout = 'row' %}
        {% assign margin = 'margin-right' %}
      {% endif %}
      <div class="cap-hot-creativity-item" style="flex-direction:{{ layout }}">
        <div class="cap-hot-creativity-show" style="{{ margin }}:1.7%">
          <img src="{{ block.settings.image | img_url:'800x' }}">
          <div class="cap-hot-creativity-title">
            <div>
              {{ block.settings.title }}
            </div>
            <picture>
              <source
                media="(max-width: 768px)"
                srcset="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_365.png?v=1707116579"
              >
              <source
                media="(min-width: 769px)"
                srcset="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_366.png?v=1707183272"
              >
              <img
                class="player-btn"
                src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_366.png?v=1707183272"
                onclick="christmasFunction('1','{{ block.settings.video_url }}')"
              >
            </picture>
          </div>
        </div>
        <div class="cap-hot-creativity-product">
          <a href="{{ block.settings.product.url }}">
            <img src="{{ block.settings.product.featured_media | img_url:'317x' }}">
          </a>
          <div>
            <div class="cap-hot-creativity-title-pro">
              <a href="{{ block.settings.product.url }}">
              {{ block.settings.product.title }}
              </a>
            </div>
            <div class="cap-hot-creativity-list">
              {{ block.settings.list_desc }}
            </div>
            <div class="cap-hot-creativity-price">
              {% render 'sffers-price', product: block.settings.product, price_class: '' %}
            </div>
            <div class="cap-hot-creativity-addtocart">
              {% render 'addCart-Model', product: block.settings.product, buttonText: 'Add To Cart' %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="fn-Stories-mask" id="cap-hat-press-creativity-mask">
  <div>
    <div class="fn-Storiesmask-main">
      <div class="mask-close" onclick="christmasFunction('2')">
        <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/7_8ba31ff8-9cdf-403b-ac36-d36b25abab80.png?v=1683355188">
      </div>
      <div class="fn-Stories-Video">
        <iframe
          id="creativity-Video-Iframe"
          width="100%"
          height="100%"
          src=""
          title="YouTube video player"
          frameborder="no"
          border="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
<script>
  function christmasFunction(e,link){
    if(e == 1 ) {
      $('#creativity-Video-Iframe').eq(0).attr('src',link)
      $('#cap-hat-press-creativity-mask').show();

    }
    if(e == 2 ) {
      $('#cap-hat-press-creativity-mask').hide();
      $('#creativity-Video-Iframe').eq(0).attr('src','')
    }
  }
</script>
{% schema %}
{
  "name": "Cap Hot Press Creativity",
  "settings": [{
      "type":"color",
      "id":"bg_color",
      "label":"background color"
    },{
      "type": "text",
      "id": "title",
      "label": "title"
    },{
      "type": "text",
      "id": "title_desc",
      "label": "title_desc"
    },{
         "type":"text",
          "id":"card_id",
          "label":"id"
  }],
  "blocks":[{
    "type": "product",
    "name": "product",
    "settings": [{
          "type": "product",
          "id": "product",
          "label": "product"
        },{
              "type": "checkbox",
              "id": "layout",
              "label": "image right"
      },{
        "type": "image_picker",
        "id": "image",
        "label": "image"
      },{
        "type": "text",
        "id": "title",
        "label": "title"
      },{
        "type":"html",
        "id":"list_desc",
        "label":"list desc"
      },{
        "type":"text",
        "id":"video_url",
        "label":"video url"
      }
    ]
  }],
  "presets":[
      {
        "name":"Cap Hot Press Creativity"
      }
  ]
}
{% endschema %}
