{% style %}
  #shopify-section-{{ section.id }} .cap-press-video{
    background: url({{ section.settings.image_bg | img_url:'1920x' }}) no-repeat;
    background-size: 100% 100%;
  }
        @media screen and (max-width: 768px){
          #shopify-section-{{ section.id }} .cap-press-video{
            background: #FFEDD2
          }
        }
{% endstyle %}
<style>
  .cap-press-video{
    padding:30px 0 40px;
    letter-spacing: 0;
  }
  .cap-video-content{
    width:1448px;
    margin:0 auto
  }
  .cap-video-title{
    position: relative;
    text-align:center;
    z-index: 2;
  }
  .cap-video-title img{
    margin:0 auto
  }
  .cap-video-title>div{
    position: absolute;
    top:11px;
    width:100%;
    font-size: 36px;
    font-weight: bold;
    color: #802704;
    line-height: 49px;
  }
  .cap-video-item{
    margin-top:-15px;
    position: relative;
  }
  .cap-video-img{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }
  .video-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:102px;
    cursor: pointer;
  }
   .fn-Stories-mask {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      z-index: 999;
      display: none;
    }
    .fn-Stories-mask .fn-Storiesmask-main {
      cursor: pointer;
    }
    .fn-Stories-Video {
      width:100%;
      height:653px;
    }
    .fn-Stories-Video iframe{
      border-radius:10px
    }
    .fn-Stories-mask>div{
      margin: 0 auto;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      background-color: #fff;
      border-radius: 16px;
      padding: 3.9% 6.2%;
      width: 74.85%;
    }
    .fn-Stories-mask .mask-close {
      position: absolute;
      top: 21px;
      right: 25px;
    }
  @media screen and (max-width: 1440px){
    .cap-video-content{
      width:85%
    }
    .cap-video-img{
          width: 88%;
          top: 50px;
    }
  }
    @media screen and (max-width: 1180px){
      .fn-Stories-Video {
        height:400px;
      }
      .cap-video-content{
        width:90%;
      }
      .cap-video-title>div{
        font-size:24px;
        line-height:38px;
        top:16px
      }
      .cap-video-img{
        top:44px
      }
    }
  @media screen and (max-width: 1024px){
    .cap-video-img{
        top:38px
      }
  }
    @media screen and (max-width: 820px){
      .fn-Stories-Video {
          height:300px;
        }
      .fn-Stories-mask .mask-close {
          top: 5px;
          right: 5px;
        }
     .alert-video  .video-btn{
        width:50px
      }
      .cap-video-img{
        top:30px
      }
    }
  
  @media screen and (max-width: 768px){
    .cap-press-video{
      padding:20px 0 26px 0
    }
    .cap-video-content{
      width:93.6%
    }
    .cap-video-item{
      margin-top:-6%
    }
    .cap-video-title>div{
      top:22%
    }
    .cap-video-img{
      top:15%
    }
    .video-btn{
      max-width:70px
    }
  }
    @media screen and (max-width: 750px){
      .fn-Stories-mask>div{
        width:100%;
        border-radius: 0;
        padding: 5.1% 6.9%;
      }
      .fn-Stories-mask-mobile>div{
        width:93.6%;
      }
       .fn-Stories-mask .mask-close {
          top: 3px;
          right: 4px;
        }
      .fn-Stories-mask .mask-close img{
        width:19px;
        height:19px
      }
      .fn-Stories-Video {
          height:230px;
        }
      .fn-Stories-Video iframe{
        border-radius:0
      }
    }
  @media screen and (max-width: 480px){
    .cap-video-title>div{
      font-size:16px;
      line-height:19px;
      top:24%
    }
    
  }
</style>
<div class="cap-press-video"  id="{{ section.settings.id }}">
  <div class="cap-video-content">
    <div class="cap-video-title">
      <picture>
          <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_64_2x_37039e5d-039e-47c6-b068-0f3ff108dfe1.png?v=1704263192">
          <source media="(min-width: 769px)" srcset="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_51.png?v=1704175775">
          <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_51.png?v=1704175775" />
        </picture>
      <div>{{ section.settings.title }}</div>
    </div>
    <div class="cap-video-item">
      
      <picture>
          <source media="(max-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_68_2x_6c0ed8d3-0bae-4163-9a35-0ae8ed142c60.png?v=1704265035">
          <source media="(min-width: 769px)" srcset="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_50.png?v=1704175778">
          <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_50.png?v=1704175778" />
        </picture>
      <div class="cap-video-img">
        <picture>
          <source media="(max-width: 768px)" srcset="{{ section.settings.video_poster_mobile | img_url:'614x' }}">
          <source media="(min-width: 769px)" srcset="{{ section.settings.video_poster | img_url:'1600x' }}">
          <img src="{{ section.settings.video_poster | img_url:'1600x' }}"  />
        </picture>
        
        <img
          class="video-btn"
          onclick="christmasFunction('1','{{ section.settings.live_video }}')"
          src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/8_2x_44e387d9-34c7-4062-a476-c92df26c10ce.png?v=1688953496"
        >
      </div>
    </div>
  </div>
</div>
<div class="fn-Stories-mask">
  <div>
    <div class="fn-Storiesmask-main">
      <div class="mask-close" onclick="christmasFunction('2')">
        <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/7_8ba31ff8-9cdf-403b-ac36-d36b25abab80.png?v=1683355188">
      </div>
      <div class="fn-Stories-Video">
        <iframe
          id="stories-Video-Iframe"
          width="100%"
          height="100%"
          src=""
          title="YouTube video player"
          frameborder="no"
          border="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
<script>
  function christmasFunction(e,link){
    if(e == 1 ) {
      $('#stories-Video-Iframe').eq(0).attr('src',link)
      $('.fn-Stories-mask').show();
    }
    if(e == 2 ) {
      $('.fn-Stories-mask').hide();
      $('#stories-Video-Iframe').eq(0).attr('src','')
    }
  }
</script>
{% schema %}
  {
    "name": "Cap Press Video",
    "settings": [
      {
        "type": "text",
        "id": "id",
        "label": "id(页面唯一性，全英文)"
      },
      {
        "type": "image_picker",
        "id":"image_bg",
        "label":"image_bg"
      },
      {
        "type": "text",
        "id":"title",
        "label":"title"
      },
      {
          "type": "image_picker",
          "id": "video_poster",
          "label": {
              "en": "video poster",
              "zh-CN": "视频海报"
          }
      },
      {
          "type": "image_picker",
          "id": "video_poster_mobile",
          "label": {
              "en": "video poster mobile",
              "zh-CN": "视频海报手机端"
          }
      },
      {
          "type": "url",
          "id": "live_video",
          "label": {
              "en": "video site",
              "zh-CN": "视频嵌入地址"
          }
      }
    ],
    "presets":[
        {
            "name":"Cap Press Video"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}