<div class="fn-christmasactivities-bests">
    <div class="fn-christmasactivities-bestsmain">
      <div class="fn-christmasactivities-bestsmain_backdrop">
          {% if section.settings.Products_bests != blank %}
              <img src="{{  section.settings.Products_bests | img_url: '1242x' }}" alt="">
          {% endif %}
      </div>
    <div class="fn-christmasactivities-bestsmain_main">
           <div class="fn-christmasactivities-bestsmain_img">
          {% if section.settings.bests_Products_link != blank %}
              <a href="{{  section.settings.bests_Products_link }}">
          {% endif %}
          {% if section.settings.bests_imges != blank %}
              <img class="Products_titleimges" src="{{  section.settings.bests_imges | img_url: '657x' }}" alt="">
          {% endif %}
           {% if section.settings.bests_Products_link != blank %}
           </a>
           {% endif %}
          </div>
          <div class="fn-christmasactivities-bestsmain_content">
            {% if section.settings.bests_Products_link != blank %}
              <a href="{{  section.settings.bests_Products_link }}">
            {% endif %}
            {{ section.settings.bests_content_a}}
            {% if section.settings.bests_Products_link != blank %}
            </a>
           {% endif %}
            <div class="fn-christmasactivities-products">
                 {% render 'fn-christmas-products',
                  card_product: section.settings.bests_product,
                  sum_inventory: section.settings.sum_bests
                  %}
            </div>
          </div>
    </div>
  </div>
</div>

    <div class="fn-christmasactivities-bests_mobile">
        <div class="fn-christmasactivities-bests_mobilemain_backdrop">
           {% if section.settings.mobile_bests_backdrop != blank %}
               <img class="fn-mobilemain_backdrop_a"  src="{{  section.settings.mobile_bests_backdrop | img_url: '362x' }}" alt="">
           {% endif %}
           <div class="fn-christmasactivities-bestsmain_main">
             <div class="fn-christmasactivities-bests_mobile_main_img">
               {% if section.settings.bests_Products_link != blank %}
                <a href="{{  section.settings.bests_Products_link }}">
               {% endif %}
                   {% if section.settings.bests_Products_img != blank %}
                     <img src="{{  section.settings.bests_Products_img | img_url: '184x' }}" alt="">
                   {% endif %}
               {% if section.settings.bests_Products_link != blank %}
               </a>
               {% endif %}
     
             </div>
             <div class="fn-christmasactivities-mobile__title_bests">
               {% if section.settings.bests_Products_link != blank %}
                <a href="{{  section.settings.bests_Products_link }}">
               {% endif %}
                 {% if section.settings.bests_explain_img != blank %}
                   <img src="{{  section.settings.bests_explain_img | img_url: '154x' }}" alt="">
                 {% endif %}
               {% if section.settings.bests_Products_link != blank %}
               </a>
               {% endif %}
                  <div class="fn-christmasactivities-products">
                      {% render 'fn-christmas-products',
                       card_product: section.settings.bests_product,
                       sum_inventory: section.settings.sum_bests
                       %}
                 </div>
             </div>
           </div>
       </div>
     </div>
{% schema %}
  {
    "name": "christmas bests",
    "settings": [
          {
             "type":"image_picker",
             "id":"Products_bests",
             "label":{
             "en":"Products background image",
             "zh-CN":"产品背景图片"
           }
         },
        {
             "type":"image_picker",
             "id":"bests_imges",
             "label":{
             "en":"Products image",
             "zh-CN":"产品图片"
           }
         },
         {
           "type":"html",
           "id":"bests_content_a",
           "label":{
           "en":"Products content",
           "zh-CN":"内容"
         }
       }, 
       {
          "type": "product",
          "id": "bests_product",
          "label": "product"
         },
       {
          "type": "text",
          "id": "sum_bests",
          "label": "sum"
         },
        {
             "type":"image_picker",
             "id":"mobile_bests_backdrop",
             "label":{
             "en":"backdrop image",
             "zh-CN":"手机背景图片"
           }
         },
         {
             "type":"image_picker",
             "id":"bests_Products_img",
             "label":{
             "en":"Product image",
             "zh-CN":"产品图片"
           }
         },
         {
             "type":"image_picker",
             "id":"bests_explain_img",
             "label":{
             "en":"explain image",
             "zh-CN":"图片"
           }
         },
              {
            "type":"url",
            "id":"bests_Products_link",
            "label":"product links"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}