<div class="fn-christmasactivities-world">
      <div class="fn-christmasactivities-worldmain">
        <div class="fn-christmasactivities-worldmain_backdrop">
            {% if section.settings.Products_combo != blank %}
                <img src="{{  section.settings.Products_combo | img_url: '1242x' }}" alt="">
            {% endif %}
        </div>
      <div class="fn-christmasactivities-worldmain_main fn-christmasactivities-worldmain_main_world">
             <div class="fn-christmasactivities-worldmain_img">
             {% if section.settings.combo_Products_link != blank %}
                <a href="{{  section.settings.combo_Products_link }}">
             {% endif %}
            {% if section.settings.combo_imges != blank %}
                <img class="Products_titleimges" src="{{  section.settings.combo_imges | img_url: '657x' }}" alt="">
            {% endif %}
             {% if section.settings.combo_Products_link != blank %}
             </a>
             {% endif %}
            </div>
            <div class="fn-christmasactivities-worldmain_content">
             {% if section.settings.combo_Products_link != blank %}
                <a href="{{  section.settings.combo_Products_link }}">
             {% endif %}
              {{ section.settings.combo_content_a}}
             {% if section.settings.combo_Products_link != blank %}
             </a>
             {% endif %}
              <div class="fn-christmasactivities-products">
                   {% render 'fn-christmas-products',
                    card_product: section.settings.combo_product,
                    sum_inventory: section.settings.sum_combo
                    %}
              </div>
            </div>
      </div>
    </div>
</div>

    <div class="fn-christmasactivities-combo_mobile">
        <div class="fn-christmasactivities-combo_mobilemain_backdrop">
           {% if section.settings.mobile_combo_backdrop != blank %}
               <img  class="fn-mobilemain_backdrop_a" src="{{  section.settings.mobile_combo_backdrop | img_url: '362x' }}" alt="">
           {% endif %}
           <div class="fn-christmasactivities-combomain_main">
             <div class="fn-christmasactivities-combo_mobile_main_img">
               {% if section.settings.combo_Products_link != blank %}
                <a href="{{  section.settings.combo_Products_link }}">
               {% endif %}
                   {% if section.settings.combo_Products_img != blank %}
                     <img src="{{  section.settings.combo_Products_img | img_url: '184x' }}" alt="">
                   {% endif %}
               {% if section.settings.combo_Products_link != blank %}
               </a>
               {% endif %}
             </div>
             <div class="fn-christmasactivities-mobile__title_combo">
               {% if section.settings.combo_Products_link != blank %}
                <a href="{{  section.settings.combo_Products_link }}">
               {% endif %}
                 {% if section.settings.combo_explain_img != blank %}
                   <img src="{{  section.settings.combo_explain_img | img_url: '138x' }}" alt="">
                 {% endif %}
               {% if section.settings.combo_Products_link != blank %}
               </a>
               {% endif %}
                  <div class="fn-christmasactivities-products">
                      {% render 'fn-christmas-products',
                       card_product: section.settings.combo_product,
                       sum_inventory: section.settings.sum_combo
                       %}
                 </div>
            <div class="fn-christmasactivities-mobile_heade_a"></div>
             </div>
           </div>
       </div>
     </div>
{% schema %}
  {
    "name": "christmas combo",
    "settings": [
          {
             "type":"image_picker",
             "id":"Products_combo",
             "label":{
             "en":"Products background image",
             "zh-CN":"产品背景图片"
           }
         },
        {
             "type":"image_picker",
             "id":"combo_imges",
             "label":{
             "en":"Products image",
             "zh-CN":"产品图片"
           }
         },
         {
           "type":"html",
           "id":"combo_content_a",
           "label":{
           "en":"Products content",
           "zh-CN":"内容"
         }
       }, 
       {
          "type": "product",
          "id": "combo_product",
          "label": "product"
         },
       {
          "type": "text",
          "id": "sum_combo",
          "label": "sum"
         },
        {
             "type":"image_picker",
             "id":"mobile_combo_backdrop",
             "label":{
             "en":"backdrop image",
             "zh-CN":"手机背景图片"
           }
         },
         {
             "type":"image_picker",
             "id":"combo_Products_img",
             "label":{
             "en":"Product image",
             "zh-CN":"产品图片"
           }
         },
         {
             "type":"image_picker",
             "id":"combo_explain_img",
             "label":{
             "en":"explain image",
             "zh-CN":"图片"
           }
         },
              {
            "type":"url",
            "id":"combo_Products_link",
            "label":"product links"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}