<style>
  .common_sticky_nav{
    position: sticky;
    top: 60px;
    left: 0;
    z-index: 5;
  }
  .fn-common-nav{
    {% if section.settings.background_image != blank %}
      background-image:url('{{ section.settings.background_image | img_url:'1920x' }}');
    {% endif %}
    background-color:{{ section.settings.background_color }};
    background-size: 100% 100%;
    background-position: center;
    padding:10px 0;
    letter-spacing: 0;
  }
  .nav-container{
    width:1240px;
    margin:0 auto;
  }
  .nav-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    display:flex;
    align-items: center;
  }
  .nav-slide{
    margin-right:25px;
  }
  .nav-slide:last-child{
    margin-right:0
  }
  .nav-text{
    margin-left:12px;
    font-size: 18px;
    font-weight: 400;
    color: {{section.settings.text_color}};
    line-height: 23px;
  }
  .icon-light{
    display:none;
  }
  .nav-click.checked .nav-text{
    color: #8A1E0F;
    font-weight: bold;
  }
  @media screen and (max-width: 1280px){
    .nav-container{
      width:80%
    }
  }
  @media screen and (max-width: 1024px){
    .nav-container{
      width:96%
    }
  }
  @media screen and (max-width: 990px){
    .common_sticky_nav{
      top:44px;
    }
  }
  @media screen and (max-width: 860px){
    .nav-text{
      font-size:14px;
      line-height: 16px;
    }
  }
   @media screen and (max-width: 820px){
     .products-steps .step-item{
        margin-bottom: 28px !important;
     }
   }
  @media screen and (max-width: 750px){
    .fn-common-nav{
      padding:10px 0
    }
    .nav-item{
      flex-wrap: wrap;
      height: 67px;
      align-content: space-around;
      justify-content: center;
    }
    .nav-text{
      margin-left:0;
      text-align: center;
    }
    .nav-item>img{
      margin:0 auto;
      max-width: 29px;
    }
    .products-steps .step-item{
        margin-bottom: 17px !important;
    }
  }
  @media screen and (max-width: 480px){
    .products-steps .step-item {
      margin-bottom: 26px !important;
    }
    .nav-click .icon img{
      width:20px;
    }
    .nav-click .nav-text{
      font-size:12px;
      line-height: 14px;
    }
    .fn-common-nav {
      padding: 8px 0;
    }
    .nav-item{
      height: 60px;
    }
  }
  @media screen and (max-width: 410px){
    .products-steps .step-item{
      margin-bottom: 30px !important;
    }
  }
  @media screen and (max-width: 375px){
    .products-steps .step-item{
      margin-bottom: 34px !important;
    }
  }
</style>
<div class="fn-common-nav">
  <div class="nav-container">
    <ul class="nav-content">
      {% for block in section.blocks %}
        <li class="nav-slide">
          <a class="nav-click nav-item" href="#{{ block.settings.nav_id }}">
          <div class="icon">
            <div class="icon-deep">
             <img src="{{ block.settings.icon_deep | img_url: '32x' }}" />
            </div>
            <div class="icon-light">
             <img src="{{ block.settings.icon_light | img_url: '32x' }}" />
            </div>
          </div>
           <p class="nav-text">
              {{ block.settings.nav_text }}
            </p>
         </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<script>
   $(document).ready(function(){
        // 滚动锚点
       $(window).scroll(function() {
         if(isClick) return ''; 
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        $(".nav-click").each(function(index) {
          var href = $(this).attr('href');
          var targetTop = $(href).offset().top;
          var targetHeight = $(href).height();
          if (scrollTop >= targetTop && scrollTop < targetTop + targetHeight) {
             $(this).children('.icon').children('.icon-light').show();
             $(this).children('.icon').children('.icon-deep').hide();
             $(this).addClass("checked").siblings().removeClass('checked');
             $(this).children('.nav-text').css({'font-weight':'bold','color': '#8A1E0F'});
             $(this).parent().siblings().children('.nav-click').children('.nav-text').css({'font-weight':'400','color': '#A45822'});
          } else {
             $(this).removeClass('checked');
             $(this).children('.icon').children('.icon-light').hide();
             $(this).children('.icon').children('.icon-deep').show();
             $(this).parent().siblings().children('.nav-click').children('.nav-text').removeAttr('style')
          }
        });
      });
   })
   var isClick = false,
   timer = 0;
    // 点击锚点
   $('.nav-click').click(function(){
     isClick = true;
     clearTimeout(timer); 
     var index = $(this).index();
     $(this).addClass("checked").parent().siblings().children('.nav-click').removeClass('checked');
     $(this).children('.icon').children('.icon-light').show();
     $(this).children('.icon').children('.icon-deep').hide();
     $(this).children('.nav-text').css({'font-weight':'bold','color': '#8A1E0F'});
     $(this).parent().siblings().children('.nav-click').children('.icon').children('.icon-light').hide().siblings().show();
     $(this).parent().siblings().children('.nav-click').children('.nav-text').css({'font-weight':'400','color': '#A45822'});
     timer = setTimeout(function(){
        isClick = false;
      },1000)
     var nav_id = $(this).attr('id')
     $.ajax({
      type: 'get',
      dataType: 'json',
      url: 'https://qn.htvront.com/htvront-blindBox/click',
      data: {site: 'US',module:'运营资源位',clickName:nav_id}
    });
   });
</script>
{% schema %}
{
  "name": "Common-Nav-Template",
  "class": "common_sticky_nav",
  "settings": [
    {
      "type":"color",
      "id":"text_color",
      "label":"text color"
    },{
      "type":"color",
      "id":"background_color",
      "label":"background color"
    },{
      "type":"image_picker",
      "id":"background_image",
      "label":"background image"
    }
  ],
   "blocks":[{
    "type":"nav_text",
    "name": "Nav text",
    "settings": [{
      "type": "text",
      "id": "nav_id",
      "label": "id(页面唯一性，全英文)"
    },{
      "type":"text",
      "id":"nav_text",
      "label":"text"
    },{
      "type":"image_picker",
      "id":"icon_deep",
      "label":"icon_deep"
    },{
      "type":"image_picker",
      "id":"icon_light",
      "label":"icon_light"
    }]
 }],
  "presets":[
      {
        "name": "Common-Nav-Template"
      }
  ]
}
{% endschema %}
