<style>
  .cup-big-coupon{
     background-image:url('{{ section.settings.background_image | img_url:'1920x' }}');
     background-size: 100% 100%;
     background-position: center;
  }
  .coupon-bg{
     background-image:url('{{ section.settings.coupon_image | img_url:'1508x' }}');
     background-size: 100% 100%;
     background-position: center;
  }
  .cup-big-coupon-box{
    width: 1600px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 6px 14px #4822034d;
    padding: 16px 46px 15px 46px;
    position: relative;
  }
  .left-box{
    position:relative;
    padding: 32px 0 32px 62px;
  }
  .left-text{
    position: absolute;
    top: 70px;
    left: 131px;
  }
  .left-text>div:nth-child(1){
    font-weight: bold;
    color: #C74D00;
    font-size: 50px;
  }
  .left-text>div:nth-child(1)>span:nth-child(2){
    font-size:88px;
    line-height: 68px;
  }
  .left-text>div:nth-child(1)>span:nth-child(3){
    font-size:22px;
    color: #E98100;
  }
  .left-text>div:nth-child(1)>img{
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
  }
  .coupon-flex{
    display: flex;
    justify-content: space-between;
  }
  .right-box{
    padding: 28px 82px 37px 0;
  }
  .right-box>p{
    font-size: 20px;
    color: #C74D00;
    font-weight: bold;
    text-align: center;
    padding-bottom: 7px;
  }
  .left-text .equation{
    font-size: 24px;
    font-weight: bold;
    color: #E98100;
    line-height: 33px;
    padding: 14px 0 24px 0;
  }
  .left-text .equation span{
    color: #C74D00;
    font-size: 30px;
  }
  .left-text .tips{
    font-size: 20px;
    font-weight: bold;
    color: #E98100;
    line-height: 27px;
  }
  @media screen and (max-width:1720px){
    .cup-big-coupon-box{
      width:83.33%;
      padding: 16px 30px 15px 30px;
    }
    .left-box{
      padding: 32px 0 32px 40px;
    }
    .left-box>picture>img{
      width: 96%;
      height: 100%;
    }
    .right-box{
      padding: 28px 40px 37px 0;
    }
  }
  @media screen and (max-width:1440px){
    .left-box>picture>img{
      width: 94%;
    }
    .left-text{
      left: 90px;
      top: 50px;
    }
    .left-text>div:nth-child(1){
      font-size: 50px;
    }
    .left-text>div:nth-child(1){
      font-size: 42px;
    }
    .left-text>div:nth-child(1)>span:nth-child(3){
      font-size:20px;
    }
    .left-text>div:nth-child(1)>img{
      width:20px;
    }
    .left-text>div:nth-child(1)>span:nth-child(2) {
      font-size: 60px;
      line-height: 50px;
    }
    .left-text .equation {
      font-size: 22px;
      line-height: 22px;
      padding: 9px 0 21px 0;
    }
  }
  @media screen and (max-width:1180px){
    .cup-big-coupon-box{
      width:93.6%
    }
    .left-text .tips{
      font-size: 18px;
    }
    .right-box>p{
      font-size: 18px;
    }
  }
  @media screen and (max-width:820px){
     .cup-big-coupon-box{
        padding: 16px 10px 15px;
     }
  }
  @media screen and (max-width:750px){
    .cup-big-coupon{
      background-image:url('{{ section.settings.background_image_mobile | img_url:'750x' }}');
      background-size: 100% 100%;
      background-position: center;
    }
    .cup-big-coupon .empty-box-top{
      height: 13px;
      top: -13px;
    }
    .coupon-bg{
      background-image:url('{{ section.settings.coupon_image_mobile | img_url:'750x' }}');
      background-size: 100% 100%;
      background-position: center;
    }
    .coupon-flex{
      flex-direction: column;
    }
    .cup-big-coupon-box{
      padding: 10px 12px 12px;
    }
    .left-box>picture>img{
      width:100%;
    }
    .left-box{
      padding: 50px 19px;
    }
    .left-text{
      top: 24%;
      left: 50%;
      transform: translate(-50%);
      width: 75%;
    }
    .left-text>div:nth-child(1){
      line-height: 0;
      margin-bottom: 12px;
    }
    .left-text>div:nth-child(1)>img{
      width: 22px;
    }
    .left-text>div:nth-child(1)>span:nth-child(3){
      font-size:14px;
    }
    .left-text .equation{
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 10px;
    }
    .left-text .equation span{
      font-size:18px;
    }
    .left-text .tips{
      font-size: 14px;
    }
    .right-box>p{
      font-size: 14px;
    }
    .right-box{
      text-align: center;
      margin: 0 auto;
      padding: 15px 20px 45px;
    }
   }
   @media screen and (max-width:750px){
     .cup-big-coupon-box{
       padding-bottom:5px;
     }
     .cup-big-coupon-box .empty-box-bottom{
           bottom: -18px;
     }
   }
   @media screen and (max-width:375px){
     .left-box{
       padding: 35px 19px 40px;
     }
   }
</style>
<div class="cup-big-coupon">
  <div class="cup-big-coupon-box">
    <!-- 遮盖阴影 -->
    <span class="empty-box-top"></span>
    <span class="empty-box-bottom"></span>
    <!-- 遮盖阴影 -->
    <div class="coupon-bg">
      <div class="coupon-flex">
        <div class="left-box">
          <picture>
            <source media="(max-width: 750px)" srcset="{{ section.settings.left_bg_mobile | img_url:'576x' }}">
            <source media="(min-width: 751px)" srcset="{{ section.settings.left_bg | img_url:'723x' }}">
            <img src="{{ section.settings.left_bg | img_url:'723x' }}">
          </picture>
          <div class="left-text">
            <div>
              <span>{{ section.settings.currency }}</span><span>{{ section.settings.price }}</span>
              {% if section.settings.code != blank %}
                <span>Code: {{ section.settings.code }}</span>
                <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/13_1291c84e-d2e5-4ed5-b050-65ba03739508.png?v=1692259186" onclick="copyticket('{{ section.settings.code }}')">
              {% endif %}
            </div>
            <div class="equation">
              {{ section.settings.equation }}
            </div>
            <div class="tips">
              {{ section.settings.tips }}
            </div>
          </div>
        </div>
        <div class="right-box">
          <p>{{ section.settings.right_title }}</p>
          <picture>
            <source media="(max-width: 450px)" srcset="{{ section.settings.right_image_mobile | img_url:'286x' }}">
            <source media="(min-width: 751px)" srcset="{{ section.settings.right_image | img_url:'550x' }}">
            <img src="{{ section.settings.right_image | img_url:'550x' }}">
           </picture>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function copyticket(code){
    let url = code;
    let copyInput = document.createElement('input');
    	document.body.appendChild(copyInput);
    	copyInput.setAttribute('value', url);
    	copyInput.select();
    	document.execCommand("Copy");
    	copyInput.remove();
        alertMsg()
  }
   function alertMsg(){
      var alertFram = document.createElement("DIV");
      alertFram.id = "alertFram";
      alertFram.style.position = "fixed";
      alertFram.style.width = "100%";
      alertFram.style.textAlign = "center";
      alertFram.style.bottom = "40px";
      alertFram.style.zIndex = "10001";
      strHtml = " <span style=\"font-family: 微软雅黑;display:inline-block;background:#333;color:#fff;padding:0 20px;line-height:36px;border-radius:6px; \">Copied successfully</span>";
      alertFram.innerHTML = strHtml;
      document.body.appendChild(alertFram);
      setTimeout((function(){
        alertFram.style.display="none";
      }),2000);
    }
</script>
{% schema %}
  {
    "name": "Cup-Big-Coupon-Version2",
    "settings": [
      {
       "type":"image_picker",
       "id":"background_image",
       "label":"background image"
      },{
       "type":"image_picker",
       "id":"background_image_mobile",
       "label":"background image mobile"
      },{
       "type":"image_picker",
       "id":"coupon_image",
       "label":"coupon image"
      },{
       "type":"image_picker",
       "id":"coupon_image_mobile",
       "label":"coupon image mobile"
      },{
       "type":"image_picker",
       "id":"left_bg",
       "label":"left background"
      },{
       "type":"image_picker",
       "id":"left_bg_mobile",
       "label":"left background mobile"
      },{
        "type":"text",
        "id":"right_title",
        "label":"right title"
      },{
       "type":"image_picker",
       "id":"right_image",
       "label":"right image"
      },{
       "type":"image_picker",
       "id":"right_image_mobile",
       "label":"right image mobile"
      },{
        "type":"text",
        "id":"currency",
        "label":"currency"
      },{
        "type":"text",
        "id":"price",
        "label":"price"
      },{
        "type":"text",
        "id":"code",
        "label":"code"
      },{
        "type":"html",
        "id":"equation",
        "label":"equation"
      },{
        "type":"text",
        "id":"tips",
        "label":"tips"
      }
    ],
    "presets":[
        {
          "name":"Cup-Big-Coupon-Version2"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}