<style>
  .cup-presell-gift{
    background-image:url('{{ section.settings.background_image | img_url:'1920x' }}');
    background-size: 100% 100%;
    background-position: center;
    padding:30px 0 40px 0;
  }
  .presell-swiper{
    width:100%;
    align-items: center;
    justify-content: start;
  }
  .presell-swiper .swiper-slide{
    max-width:450px;
    background-color: #fff;
    padding: 14px 15px 20px 15px;
    border-radius: 8px;
  }
  .gift-width{
    width:1480px;
    margin: 0 auto;
    position: relative;
  }
  .presell-swiper .button--full-width{
    padding:0;
    height: 62px;
    background: linear-gradient(148deg, #FFCD65 0%, #ECA62F 100%);
    border-radius: 4px;
    --border-offset: none;
    --border-opacity: none;
  }
  .presell-swiper .fn-product-title .t{
    height: 42px;
    font-size: 16px;
    color: #723600;
    line-height: 21px;
  }
  .presell-swiper .fn-color-attr{
    display:none;
  }
  .presell-swiper .fn-product-layout{
    margin-bottom:22px;
  }
  .cup-presell-gift>div:nth-child(1){
    font-size: 36px;
    font-weight: bold;
    color: #723600;
    line-height: 49px;
    text-align: center;
  }
 .cup-presell-gift>div:nth-child(2){
   font-size: 24px;
   color: #723600;
   line-height: 33px;
   padding:12px 0 20px 0;
   text-align: center;
 }
  .gift-width .swiper-button-prev{
    left: -50px;
    width: 43px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 4px;
  }
  .gift-width .swiper-button-next{
    right: -50px;
    width: 43px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 4px;
  }
  .gift-width .swiper-button-prev>img{
    margin:0 auto;
    padding-top: 5px;
    padding-right: 2px;
  }
  .gift-width .swiper-button-next>img{
    margin:0 auto;
    padding-top: 3px;
    padding-left: 2px;
  }
  .gift-width .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
  }
  .gift-width .swiper-button-next.swiper-button-disabled>img, .swiper-button-prev.swiper-button-disabled>img{
    opacity: .35;
  }
  .cup-presell-gift .fn-product-price{
    text-align:right;
  }
  .cup-presell-gift .fn-product-price span{
    color: #ECA62F;
  }
  .cup-presell-gift .fn-compareat_price .fn-compare-at_price{
    color: #723600;
    font-weight: 400;
  }
  @media screen and (max-width: 1720px){
    .gift-width{
      width:83.3%;
    }
    .presell-swiper .swiper-slide{
      max-width: 30%;;
    }
    .cup-presell-gift>div:nth-child(1){
      font-size:28px;
    }
    .cup-presell-gift>div:nth-child(2){
      font-size:20px;
    }
  }
  @media screen and (max-width: 1280px){
    .presell-swiper .swiper-slide {
      max-width: 29.5%;
    }
  }
  @media screen and (max-width: 1024px){
    .cup-presell-gift>div:nth-child(2){
      padding: 0;
      padding-bottom: 10px;
    }
    .presell-swiper .swiper-slide{
      max-width: 28.5%;
    }
  }
  @media screen and (max-width: 820px){
    .cup-presell-gift{
      background:#FFEDAC;
      padding: 15px 0 20px 0;
    }
    .cup-presell-gift>div:nth-child(1){
      font-size: 16px;
      line-height: 20px;
    }
    .cup-presell-gift>div:nth-child(2){
      font-size: 14px;
      line-height: 20px;
    }
    .presell-swiper .swiper-slide{
      padding:5px 4px 10px 4px;
      max-width: 30.6%;
      border-radius: 4px;
    }
    .presell-swiper .fn-product-title .t {
      height: 40px;
      font-size: 14px;
      line-height: 19px;
    }
    .cup-presell-gift .fn-product-layout{
      flex-direction: column;
    }
    .cup-presell-gift  .fn-product-title {
        width: 100%;
    }
    .cup-presell-gift  .fn-product-price {
        width: 100%;
      text-align:left;
    }
    .cup-presell-gift .fn-compareat_price{
      flex-direction: row;
      align-items: end;
    }
    .presell-swiper .fn-product-layout {
      margin-bottom: 7px;
      margin-top: 4px;
    }
    .presell-swiper .button--full-width{
      border-radius: 2px;
      height: 32px;
      min-height: 32px;
    }
  }
   @media screen and (max-width: 750px){
     
     .presell-swiper .swiper-slide{
       max-width: 48.1%;
     }
     .gift-width .swiper-button-next{
       right:0;
      border-radius: 2px;
      width: 15px;
      height: 39px;
     }
     .gift-width .swiper-button-next>img{
       padding-top:11px;
     }
     .gift-width .swiper-button-prev{
       left:0;
      border-radius: 2px;
      width: 15px;
      height: 39px;
     }
      .gift-width .swiper-button-prev>img{
       padding-top:11px;
      width: 11px;
     }
     .gift-width{
       width:93.6%;
     }
   }
    @media screen and (max-width: 450px){
     .presell-swiper .swiper-slide{
       max-width: 47.7%;
     }
    }
  
  @media screen and (max-width: 375px){
    .presell-swiper .swiper-slide {
      max-width: 47.1%;
    }
  }
</style>
<div class="cup-presell-gift" id="{{ section.settings.id }}">
  <div>
    {{ section.settings.title }}
  </div>
  <div>
    {{ section.settings.desc }}
  </div>
  <div class="gift-width">
    <div class="swiper-container" id="swiper-container_{{ section.id }}">
      <div class="swiper-wrapper presell-swiper">
         {% for block in section.blocks %}
            <div class="swiper-slide">
              {% render 'product-Model',
                card_product: block.settings.product_item,
                progress: false,
                colorSize: true,
                buttonSeat: 'fileSteam',
                buttonText: 'ADD TO CART',
                title: 'flex',
                pirce: 'intitle'
              %}
            </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-button-next">
      <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/1_01faca56-e406-4982-97ae-d2bb19884f31.png?v=1693301943">
    </div>
    <div class="swiper-button-prev">
      <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/2_07a8aedc-80ab-40ac-adac-3f2cbafad253.png?v=1693301339">
    </div>
  </div>
</div>
<script>
$(function(){
   var mySwiper = new Swiper('#swiper-container_{{ section.id }}',{
    spaceBetween :20,
    slidesPerView: 3,
    observer: true, 
    observeParents: true ,
     freeMode:true,
     navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints:{
       1440:{
        spaceBetween: 11,
      },
      750: {
        slidesPerView: 2,
        spaceBetween: 4,
      }
    }
  })
  if($('.swiper-button-prev').hasClass('swiper-button-disabled') && $('.swiper-button-next').hasClass('swiper-button-disabled')){
    $('.swiper-button-prev').css('display','none')
    $('.swiper-button-next').css('display','none')
  }
})
$(function (){
    var gift_arr = ['6716454273157', '6716455682181', '6716455944325','6716456140933'];
    $(".product-form__submit").click(function(){
      var button_id = $(this).attr('id').substring(9);
       if(gift_arr.indexOf(button_id) != -1 ) {
           setTimeout(function(){
               $('.cup-presell-gift .product-form__submit').attr('disabled',true);
            },1000);
       } else {
         $('.cup-presell-gift .product-form__submit').attr('disabled',false);
       }  
    });
})
</script>
{% schema %}
  {
    "name": "Cup-Presell-Gift",
    "settings": [ 
      {
        "type": "text",
        "id": "id",
        "label": "id(页面唯一性，全英文)"
      },
      {
        "type":"image_picker",
        "id":"background_image",
        "label":"background image"
      },
      {
        "type":"text",
        "id":"title",
        "label":"title"
      },{
        "type":"text",
        "id":"desc",
        "label":"desc"
      }
    ], 
    "blocks":[{
        "name":"bundle",
        "type":"bundle",
         "settings":[
           {
            "type": "product",
            "id": "product_item",
            "label": "product item"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Cup-Presell-Gift"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}