<style>
  #shopify-section-{{ section.id }} .cup-comparison-type{
    background-image:url('{{ section.settings.background_image | img_url:'1920x' }}');
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    background-color: {{section.settings.background_color}};
    padding: 20px 0 30px 0;
  }
  
  @media screen and (max-width: 820px){
    #shopify-section-{{ section.id }} .cup-comparison-type{
      padding:15px 0 20px 0;
      background: {{section.settings.background_color}};
    }
  }
  @media screen and (max-width: 750px){
   .cup-comparison-type>.scroll-type{
      overflow-x: scroll;
      width: 93.3%;
      margin: 0 auto;
      margin-bottom:10px;
    }
    #shopify-section-{{ section.id }} .cup-comparison-type>.scroll-type>div{
      width:{{section.settings.image_mobile_url}}px;
      margin: 0 auto;
      padding-bottom:20px;
    }
    .scroll-type::-webkit-scrollbar {
        width: 100%;
        height: 7px;
    }
    .scroll-type::-webkit-scrollbar-thumb {
        background-color: #FFAA4C;
      border-radius: 4px;
    }
    .scroll-type::-webkit-scrollbar-track {
        background: #FFF6E4;
      border-radius: 4px;
    }
    .comparison-img{
      width:100%;
    }
  }
</style>
<div class="cup-comparison-type">
  <div class="scroll-type">
    <div>
      {% assign imageUrl = section.settings.image_url | append: "x" %}
      {% assign imageUrlMobile = section.settings.image_mobile_url | append: "x" %}
      <picture>
        <source media="(max-width: 750px)" srcset="{{ section.settings.image_mobile | img_url:imageUrlMobile }}" />
        <source media="(min-width: 751px)" srcset="{{ section.settings.image | img_url:imageUrl }}" />
        <img src="{{ section.settings.image | img_url: imageUrl }}" class="comparison-img"/>
      </picture>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cup-Comparison-Type",
    "settings": [
      {
        "type":"color",
        "id":"background_color",
        "label":"background color"
      },
     {
       "type":"image_picker",
       "id":"background_image",
       "label":"background image"
     },
     {
       "type":"image_picker",
       "id":"image",
       "label":"image"
     },{
       "type":"image_picker",
       "id":"image_mobile",
       "label":"image mobile"
     },{
       "type":"text",
       "id":"image_url",
       "label":"图片尺寸（PC）"
     },{
       "type":"text",
       "id":"image_mobile_url",
       "label":"图片尺寸（移动）"
     }
    ],
    "presets":[{
      "name":"Cup-Comparison-Type"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}