{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
/*   .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  } */

  @media screen and (min-width: 750px) {
/*     .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    } */
  }
{%- endstyle -%}

    <div class="color-{{ section.settings.color_scheme }} fn-mask-menu fn-wholesale-Information">
      <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
        <div class="timert_img">
                  <img id="timert_FAQimg" src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/Bold_2px_close.png?v=1659337316" alt="">
          <h2 class="title title-wrapper--no-top-margin fn-title-FAQwrapper">Contact Us</h2>
        </div>
        
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          <div class="fn-contact__field">

              <div class="fn-field-overall">
                  <div class="fn-field fn-ContactForm-name">
                      <input class="fn_field__width fn_field__input" autocomplete="name" type="text" id="ContactForm-name"  placeholder="Name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" >
                  </div>
                  <div class="fn-field--with-error fn-ContactForm-email">
                      <input
                        autocomplete="email"
                        type="email"
                        id="ContactForm-email"
                        class="fn_field__input"
                        placeholder="email" 
                        name="contact[email]"
                        spellcheck="false"
                        autocapitalize="off"
                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                          aria-invalid="true"
                          aria-describedby="ContactForm-email-error"
                        {% endif %}
                      >
                  </div>
              </div>
              <div class="fn-field--with-error">
<!--                <input type="text" id="ContactForm-Subject" class="fn_field__input" placeholder="Subject" name="contact[Subject]"> -->
                 <input type="text" id="ContactForm-Subjects" placeholder="Subject" class="fn_field__input" name="contact[SubjectContent]">
              </div>
              <div class="fn-field">
                <textarea
                  rows="7"
                  id="ContactForm-message"
                  class="text-area field__message"
                  name="contact[message]"
                  placeholder="message"
                >
                  {{- form.body -}}
                </textarea>
              </div>
              <div class="contact__button">
                <button type="submit" class="button">
                  Send Message
                </button>
              </div>
              {%- if form.posted_successfully? -%}
                <div class="fn-mask-message form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
              {%- endif -%}
          </div>
        {%- endform -%}
      </div>
  </div>
<script>
  var flag = true;
  $("#jqueryBtn").click(function(){
      $("#ContactForm-name").next().remove();
     if($("#ContactForm-name").val()==''){
             $("#ContactForm-name").after(`<div class="fn-prompt-message" id="fn-message-name">* Please enter your name</div>`);
            flag = false;
      }
      $("#ContactForm-email").next().remove();
      if($("#ContactForm-email").val()==''){
         $("#ContactForm-email").after(`<div class="fn-prompt-message" id="fn-message-name">* Please enter your email</div>`);
          flag = false;
      } else {
        var email_val = $("#ContactForm-email").val();
        var reg = /^[a-zA-Z0-9]+([-_.][A-Za-zd]+)*@([a-zA-Z0-9]+[-.])+[A-Za-zd]{2,5}$/;
        if(reg.test(email_val) == false) {
           $("#ContactForm-email").after(`<div class="fn-prompt-message" id="fn-message-name">* Please enter the correct email account</div>`);
             flag = false;
        }
      }
      $("#ContactForm-Subject").next().remove();
      if($("#ContactForm-Subject").val()==''){
         $("#ContactForm-Subject").after(`<div class="fn-prompt-message" id="fn-message-name">* Please enter your Company name</div>`);
         flag = false;
      }
      $(".fn-select-country").next().remove();
      if($(".fn-select-country").val()==''){
         $(".fn-select-country").after(`<div class="fn-prompt-message" id="fn-message-name">* Please enter your country</div>`);
         flag = false;
      }
      $("#ContactForm-Details").next().remove();
      if($("#ContactForm-Details").val()==''){
         $("#ContactForm-Details").after(`<div class="fn-prompt-message" id="fn-message-name">* Please enter your Purchasing Details</div>`);
         flag = false;
      }
      if(!flag) {
         return;
      }
	  $("#ContactForm").submit();
  })
</script>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
