<style>
  .fans-buy-more-bond{
    padding:40px 20px 0;
  }
  .bond-title{
   text-align:center; 
  }
  .bond-title>p{
    font-weight: bold;
    font-size: 40px;
    color: #7E3C00;
    line-height: 47px;
  }
  .bond-title>span{
    font-weight: 600;
    font-size: 16px;
    color: #7E3C00;
    line-height: 19px;
    display: inline-block;
    padding:0 203px;
    margin: 15px 0 20px;
  }
  .bond-content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .bond-item{
    background: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #7E3C00;
    margin-bottom: 20px;
    width: 49.5%;
  }
  .bond-item:nth-child(1){
    width:100%;
  }
  .bond-item .image-box{
    height:390px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bond-item .item-text{
    font-weight: 600;
    font-size: 20px;
    color: #7E3C00;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: #FFF4E2;
    border-radius: 0 0 20px 20px;
    border-top: 3px solid #7E3C00;
  }
 @media screen and (max-width: 1440px) {
   .fans-buy-more-bond{
    padding: 20px 20px 0;
   }
   .bond-title>p{
     font-size: 30px;
     line-height: 34px;
   }
   .bond-title>span{
    padding: 0 25px;
    margin: 10px 0 15px;
   }
   .bond-item .image-box img{
     width:80%;
     margin: 0 auto;
   }
   .bond-item:nth-child(1) .image-box img{
     width:75%;
   }
   .bond-item .image-box{
     height:330px;
   }
   .bond-item .item-text{
    height: 80px;
    font-size: 18px;
   }
 }
  @media screen and (max-width: 1280px) {
    .bond-title>p {
      font-size: 26px;
      line-height: 28px;
    }
    .bond-title>span{
      font-size:14px;
    }
    .bond-item .image-box {
      height: 270px;
    }
    .bond-item .item-text {
      height: 65px;
      font-size: 16px;
    }
    .bond-item:nth-child(1) .image-box img{
      width:68%;
    }
  }
 @media screen and (max-width: 820px) {
   .bond-item .item-text{
     font-size:14px;
   }
   .bond-item .image-box {
      height: 235px;
   }
 }
  @media screen and (max-width: 750px) {
    .bond-title>p{
      font-size: 16px;
      line-height: 19px;
      margin-bottom:12px;
    }
    .fans-buy-more-bond {
      padding: 20px 12px 0;
    }
    .bond-title>span{
      display:none;
    }
    .bond-item .item-text{
      height: 60px;
      font-size: 12px;
      line-height: 16px;
    }
  }
   @media screen and (max-width: 480px) {
     .bond-item .item-text{
      padding: 11px 8px;
      text-align: center;
      line-height: 14px;
     }
     .bond-item .image-box {
        height: 105px;
     }
     .bond-item{
        border-radius: 6px;
       margin-bottom:5px;
        border: 1px solid #7E3C00;
     }
     .bond-item .item-text{
       border-radius:0 0 6px 6px;    
       border-top: 1px solid #7E3C00;
     }
     .fans-buy-more-bond{
      padding: 20px 12px 6px;
     }
   }
</style>
<div class="fans-buy-more-bond buy-more-style">
  <div class="bond-title">
    <p>{{ section.settings.title }}</p>
    <span>{{ section.settings.desc }}</span>
  </div>
  <div class="bond-content">
    {% for block in section.blocks %}
      <div class="bond-item">
        <div class="image-box">
           {% assign imageUrl = block.settings.image_url | append: 'x' %}
           {% assign imageUrlMobile = block.settings.image_mobile_url | append: 'x' %}
            <picture>
              <source media="(max-width: 480px)" srcset="{{ block.settings.image_mobile | img_url:imageUrlMobile}}">
              <source media="(min-width: 481px)" srcset="{{ block.settings.image | img_url:imageUrl}}">
              <img src="{{ block.settings.image | img_url: imageUrl }}" class="bond-image">
            </picture>
        </div>
        <div class="item-text">
          {{ block.settings.html_text }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Fans-buy-more-bond",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"title"
      },{
        "type":"text",
        "id":"desc",
        "label":"desc"
      }
    ],
    "blocks":[{
      "type":"block",
      "name": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },{
          "type": "image_picker",
          "id": "image_mobile",
          "label": "image mobile"
        },{
          "type":"html",
          "id":"html_text",
          "label":"text"
        },{
            "type":"text",
            "id":"image_url",
            "label":"图片宽度尺寸（PC）"
        },
        {
            "type":"text",
            "id":"image_mobile_url",
            "label":"图片宽度尺寸（移动）"
        }
      ]
    }]
  }
{% endschema %}