<style>
  .fans-flash-sales{
    letter-spacing: 0;
    padding-bottom:40px;
  }
  .bundle-width {
    width: 1506px;
    margin: 0 auto;
    background: #FFFAEE;
    border: 3px solid #FF8A31;
    border-radius: 10px;
    padding: 20px 35px 20px 60px;
  }
  .flash-sales-box{
    display:flex;
    justify-content: space-between;
    margin-top: 18px;
    align-items: end;
  }
  .bundle-big-imgbox{
    width: 669px;
    background: #FFF5E2;
    border-radius: 10px 10px 10px 10px;
    border: 4px solid #E2763A;
  }
  .bundle-imgbox{
    padding:14px 10px 14px 14px;
    display:flex;
    margin: 5px;
    background: #FFDEB7;
    border-radius: 8px;
  }
  .bundle-image{
    margin-right: 10px;
    position:relative;
    min-width:303px;
  }
  .bundle-image a{
    position:relative;
  }
  .bundle-image p{
    position: absolute;
    width: 100%;
    height: 46px;
    background: linear-gradient(180deg, #FFEFB3 0%, #F9CC55 100%);
    border-radius: 0px 0px 8px 8px;
    color: #C87804;
    font-size: 18px;
    text-align: center;
    line-height: 46px;
    bottom: 0;
    font-weight: bold;
  }
  .bundle-image img{
    border-radius:8px;
  }
  .bundle-imgbox .button--full-width{
    background: linear-gradient( 91deg, #FF8B36 0%, #F16500 100%);
    border-radius: 0 8px 8px 0;
    --border-offset: none;
    --border-opacity: none;
    padding: 0;
    min-width:100%;
    letter-spacing: 0;
    justify-content: right;
    padding-right: 8px;
  }
  .bundle-imgbox .button--full-width .t{
    font-size: 14px;
    font-weight: 600;
    color: #FFE6C1;
  }
  .bundle-text h3{
    font-weight: bold;
    font-size: 20px;
    color: #6D3309;
    line-height: 23px;
    letter-spacing: -0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .bundle-desc{
    font-size: 14px;
    line-height: 23px;
    margin-top: 8px;
    color: #6D3309;
  }
  .bundle-desc>span{
    display:inline-block;
    padding-left:10px;
    position:relative;
  }
  .bundle-desc>span:before{
    content:'';
    position:absolute;
    width: 4px;
    height: 4px;
    background: #6D3309;
    border-radius: 100%;
    left: 0;
    top: 11px;
  }
  .flash-sale-price{
    display:flex;
    align-items: end;
    margin-top: 10px;
  }
  .flash-sale-price>b{
    font-size:24px;
    color: #914408;
  }
  .bundle-text .fn-compareat_price{
    flex-direction: row;
    align-items: baseline;
    font-weight: bold;
    font-size: 24px;
    color: #FF7500;
    line-height: 28px;
  }
  .flash-sale-price .fn-compareat_price .fn-compare-at_price{
    font-weight: 400;
    font-size: 14px;
    color: #FF7500;
    line-height: 16px;
    padding-left: 5px;
  }
  .bundle-text{
    position:relative;
  }
  .bundle-progress{
    display:flex;
    align-items: baseline;
    flex-direction: column;
    width: 65%;
    background: linear-gradient( 91deg, #FFF7CF 0%, #FFD88B 100%);
    height: 100%;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    padding-left: 15px;
  }
  .bundle-addcart{
    width:35%;
    position:relative;
  }
  .bundle-addcart:before{
    content:'';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    background: #FF8B36;
    z-index: 1;
    left: -2px;
  }
  .fn-discounts-productssold{
    font-size: 12px;
    color: #D8620C;
    line-height: 14px;
  }
  .fn-discounts-progressbarone {
    width: 100%; 
    border: 1px solid #FFAB3D;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    color: #D8620C;
  }
  .fn-discounts-progressbartwo, .fn-discounts-progressbarone {
    height: 12px;
    border-radius: 14px;
    background: linear-gradient( 90deg, #FFDF8A 0%, #FFAB01 100%);
  }
  .fn-discounts-progressbartwo {
    max-width: 100%;
    position: absolute;
    background: linear-gradient( 3deg, #FF9900 0%, #F86800 100%);
    top: 0;
  }
  .fn-discounts-progressbar {
    position: relative;
    width:88%;
    padding-bottom:3px;
  }
  .tags-box{
    display: inline-block;
    padding: 5px 28px;
    border-radius: 25px;
    font-size: 18px;
    margin: 10px 10px 0 0 ;
  }
  .tags-box:nth-of-type(1){
    margin-right:0;
  }
  .flash-sale-price .price__regular .price-item--regular{
    font-size: 30px;
    font-weight: bold;
    color: #FF7606;
    line-height: 40px;
  }
  .fans-bundles-title>p{
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    color: #7e3c00;
  }
  .fans-bundle-desc{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #7e3c00;
    margin-top: 8px;
  }
  .bundle-top-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .bundle-top-text>div:nth-child(1){
    display:flex;
    align-items: flex-end;
  }
  .bundle-top-text>div:nth-child(1)>span{
    font-weight: bold;
    font-size: 18px;
    color: #7E3C00;
    line-height: 21px;
    text-align: center;
    font-style: italic;
    padding-left: 7px;
  }
  .bundle-top-text>div:nth-child(2){
    font-weight: 400;
    font-size: 12px;
    color: #7E3C00;
    border: 1px solid #C76C00;
    height: 19px;
    line-height: 18px;
    border-radius: 100px 0 0 100px;
    padding: 0 6px 0 14px;
    margin-right:-10px;
  }
  .flash-sales-button{
    display:flex;
    width: 100%;
    height: 46px;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-top:10px;
  }
  .flash-sales-button>img{
    position: absolute;
    right: 28%;
    z-index: 2;
    top: -1px;
  }
  @media screen and (max-width: 1720px){
    .flash-sales-box .rules-image{
      width: 48%;
    }
  }
 @media screen and (max-width: 1660px){
   .bundle-width{
      width: 83.3%;
    }
 }
  @media screen and (max-width: 1440px){
   .bundle-image{
      min-width: 45%;
   }
    .bundle-text h3{
      font-size: 18px;
      line-height: 21px;
    }
    .bundle-text .fn-compareat_price{
      font-size: 20px;
      line-height: 23px;
    }
    .bundle-addcart:before{
      left:-5px;
    }
    .flash-sale-price{
      margin-top:5px;
    }
  }
   @media screen and (max-width: 1280px){
     .bundle-addcart {
      position: relative;
     }
     .bundle-width{
        padding: 20px;
     }
     .flash-sales-button{
      position: relative;
      margin-top: 20px;
     }
   }
  @media screen and (max-width: 1024px){
    .flash-sales-box .rules-image{
      display:none;
    }
    .bundle-addcart:before {
      left: -1px;
    }
    .flash-sales-box{
      justify-content: center;
    }
    .flash-sales-button{
      position: absolute;
      bottom: 0;
      margin-top:10px;
    }
  }
  @media screen and (max-width:820px){
   
  }
  @media screen and (max-width: 750px){
    .bundle-width{
      width: 93.6%;
    }
    .fans-bundles-title>span{
      width:26px;
    }
  }
  @media screen and (max-width: 480px){
    .fans-flash-sales .fans-bundles-title,.fans-flash-sales .fans-bundle-desc{
      display:none;
    }
    .bundle-width{
      padding: 0;
      background: linear-gradient( 90deg, #FFD39E 0%, #FFBA67 100%);
      border: 1px solid #C76C00;
    }
    .bundle-big-imgbox{
      border: 1px solid #C76C00;
      margin: 0 -1px -1px;
      width: 100%;
      background: #FFF8EF;
    }
    .flash-sales-box{
      margin-top:0;
      flex-direction: column;
      align-items: unset;
    }
    .bundle-imgbox{
      padding:10px 6px 8px;
      background: #FFF8EF;
      margin:0;
    }
    .flash-sales-top>div:nth-child(1){
      display:flex;
      align-items: end;
      padding-left: 15px;
      padding-top: 10px;
    }
    .flash-sales-top>div:nth-child(1)>span{
      font-weight: bold;
      font-size: 16px;
      color: #7E3C00;
      line-height: 21px;
      text-align: center;
      font-style: italic;
      padding-left: 7px;
    }
    .flash-sales-top{
      position:relative;
    }
    .flash-sales-top .tips{
      font-weight: 400;
      font-size: 12px;
      color: #7E3C00;
      border: 1px solid #C76C00;
      height: 19px;
      line-height: 18px;
      border-radius: 100px 0 0 100px;
      padding: 0 6px 0 14px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #FFDCB1;
    }
    .flash-sales-top>p{
      font-size: 14px;
      color: #7E3C00;
      line-height: 16px;
      padding-left: 15px;
      padding-top: 2px;
      padding-bottom:8px;
    }
    .bundle-text h3{
      color: #6D3309;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
    }
    .bundle-text .fn-compareat_price{
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
    }
    .flash-sale-price .fn-compareat_price .fn-compare-at_price{
      font-size:12px;
    }
    .flash-sale-price .price{
      line-height:16px;
    }
    .bundle-desc{
      font-size: 12px;
      line-height: 18px;
      margin-top: 2px;
    }
    .bundle-desc>span:before{
      top:8px;
    }
    .bundle-image {
      min-width: 130px;
    }
    .bundle-image img{
      width: 130px;
    }
    .flash-sales-button.show-in-app-480{      
      position: relative;    
      padding: 0 6px;
      display:flex !important;
      margin-top: 0;
      height: 36px;
      margin-bottom: 12px;
    }
    .fans-flash-sales{
      margin-bottom:18px;
    }
    .fans-flash-sales .button--full-width{
      height: 36px;
      min-height: 36px;
      font-size: 14px;
      padding: 0;
    }
    .bundle-progress{
      align-items: center;
      flex-direction: row;
      padding-left: 10px;
      justify-content: flex-start;
    }
    .fn-discounts-progressbar{
      width: 50%;
      padding-bottom: 0;
      padding-right: 5px;
    }
    .bundle-addcart:before{
      background: #FE7606;  
    }
    .flash-sales-button>img{
      right: 31%;
      width: 30px;
    }
  }
</style>

<div class="fans-flash-sales" id="{{ section.settings.id }}">
  <div class="bundle-width">
     <div class="fans-bundles-title">
       <span>
         <img src="{{ section.settings.title_icon | img_url}}">
       </span>
      <p>{{ section.settings.title }}</p>
    </div>
    <div class="fans-bundle-desc">{{ section.settings.desc }}</div>
    <div class="flash-sales-box">
      <div class="show-in-app-480 flash-sales-top">
        <div>
            <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_383.png?v=1710477922">
            <span>{{ section.settings.small_title }}</span>
        </div>
        <p>{{ section.settings.desc }}</p>
        <div class="tips">
          {{ section.settings.tips }}
        </div>
      </div>
      <div class="bundle-big-imgbox">
        <div class="bundle-imgbox">
          <div class="bundle-image">
             <a href="{{ section.settings.product_item.url }}">
                 <img
                    class="img-first"
                    src="{{ section.settings.product_item.featured_media | img_url: '303x' }}"
                    alt="{{ section.settings.product_item.featured_media.alt | escape }}"
                    {% unless lazy_load == false %}
                      loading="lazy"
                    {% endunless %}
                  >
             </a>
          </div>
          <div class="bundle-text">
            <div class="bundle-top-text show-in-pc-480">
              <div>
                <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_383.png?v=1710477922">
                <span>{{ section.settings.small_title }}</span>
              </div>
              <div>
                {{ section.settings.tips }}
              </div>
            </div>
            <a href="{{ section.settings.product_item.url }}">
                <h3>{{ section.settings.product_item.title }}</h3>
             </a>
            <div class="flash-sale-price">
              {% render 'sffers-price', product: section.settings.product_item, price_class: '' %}
            </div>
            <div class="bundle-desc">{{ section.settings.bundle_desc }}</div>
            <div class="flash-sales-button show-in-pc-480">
              <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_389.png?v=1710486105">
              <div class="bundle-progress">
                <div class="fn-discounts-progressbar">
                  <div class="fn-discounts-progressbarone"></div>
                  <div class="fn-discounts-progressbartwo" id="fn-lowprice_id"></div>
                </div>
                <div class="fn-discounts-productssold">
                  <span class="fn-discounts-inventoryright number" id="lowprice_schedule" total_sum="{{ section.settings.product_total }}" lowprice_id="fn-lowprice_id">
                      {{ section.settings.sold_out_quantity }}
                  </span>
                  units sold
                </div>
              </div>
              {% if section.settings.button == "true" %}
                <div class="bundle-addcart">
                  {% render 'addCart-Model' ,product: section.settings.product_item, buttonText: section.settings.button_text %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="flash-sales-button show-in-app-480">
          <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/Group_389.png?v=1710486105">
          <div class="bundle-progress">
            <div class="fn-discounts-progressbar">
              <div class="fn-discounts-progressbarone"></div>
              <div class="fn-discounts-progressbartwo" id="fn-lowprice_id"></div>
            </div>
            <div class="fn-discounts-productssold">
              <span class="fn-discounts-inventoryright number" id="lowprice_schedule" total_sum="{{ section.settings.product_total }}" lowprice_id="fn-lowprice_id">
                  {{ section.settings.sold_out_quantity }}
              </span>
              units sold
            </div>
          </div>
          {% if section.settings.button == "true" %}
            <div class="bundle-addcart">
              {% render 'addCart-Model' ,product: section.settings.product_item, buttonText: section.settings.button_text %}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="rules-image">
        <img src="{{ section.settings.right_image | img_url:'719x' }}"/> 
      </div>
    </div>
  </div>
</div>
 <!-- 只用来获取时间,所以隐藏 -->
 <div class="group_start_time" style="display:none">{{ section.settings.time }}</div>
   
       
<script>
  $(function (){
    //进度条展示 
      var lowpriceWidth = document.body.clientWidth;
      // 总的目标值remaining_schedule_s
      $('.fn-discounts-inventoryright').each(function(i, item){
          var total = $(item).attr('total_sum')
          var id = '#'+$(item).attr('id')
          var lowprice = '#'+$(item).attr('lowprice_id')
          var lowprice_schedule_s  = total;
          // 实际数值
          var sum_schedule = $(id).text();
          let lowprice_schedule=0
          sum_schedule.split(',').map(item=>{
            lowprice_schedule += parseFloat(item)?parseFloat(item):0
          })
          $(id).text(lowprice_schedule)
          var a =(lowprice_schedule/lowprice_schedule_s)*100
          $(lowprice).css("width",a+'%');
          $('.fn-discounts-progressbarone').text(a+'%')
      })
  })
  $(function (){
      /**
     * 计算两个时间差
     */
    var delta = 0;
    function timePoor() {
      var times = $('.group_start_time').text();
      //开始时间
      var startTime = times;
      //现在时间
      var newTime = new Date();
      var date3 = new Date(newTime).getTime() - new Date(startTime).getTime(); //时间差的毫秒数        
      delta = Math.floor(date3 / (1000 * 60 * 60 * 3))
      // console.log(Math.floor(date3 / (1000 * 60 * 60 * 3)),'时间差除以秒数')
    }
    timePoor();
    let timelyVal;
    let relaVal = localStorage.getItem("real_time");
    let og_num = Number($('.number').text())
    if(relaVal){
       $('.number').text(relaVal)
    }
    // console.log(relaVal,'文本框目前展示的值')
    let num = Number(relaVal)
    let oldNum =  localStorage.getItem("group_buy");
    if(oldNum == null){
     localStorage.setItem("group_buy",num);
    }else if(num != Number(oldNum)){
     localStorage.setItem("group_buy",num);
    }
    var real_num = delta + og_num
    $('.number').text(real_num)
      // console.log(num,'相加后的次数',oldNum,'存的值')
      // console.log(delta,'除出来的次数',og_num,'文本框该显示的值')
      setInterval(updateNum, 1000 * 60 * 60 * 3);
      updateNum();
     function updateNum(){
      if(real_num != num){
        $('.number').text(real_num++)
      }else{
        $('.number').text(num++)
      }
      timelyVal = $('.number').text()
      localStorage.setItem("real_time",timelyVal);
    }
  })
</script>
{% schema %}
  {
    "name": "Fans-flash-sales",
    "settings": [ 
      {
        "type": "text",
        "id": "id",
        "label": "id(页面唯一性，全英文)"
      },{
        "type":"image_picker",
        "id":"title_icon",
        "label":"title icon"
      },{
        "type":"text",
        "id":"title",
        "label":"title"
      },{
        "type":"text",
        "id":"desc",
        "label":"desc"
      },{
        "type":"text",
        "id":"small_title",
        "label":"small title"
      },{
        "type":"text",
        "id":"tips",
        "label":"tips"
      },{
        "type":"html",
        "id":"bundle_desc",
        "label":"bundle desc"
      },{
        "type": "product",
        "id": "product_item",
        "label": "product item"
      },
      {
        "type":"text",
        "id":"time",
        "label":"开始时间（必填）"
      },{
        "type":"text",
        "id":"product_total",
        "label":"product total(总数)"
      },{
        "type":"number",
        "id":"sold_out_quantity",
        "label":"sold out quantity(已抢)"
      },
      {
         "type":"radio",
         "id":"button",
         "label":"button(show/hide) ",
         "default": "true",
           "options": [
            {
              "value": "true",
              "label": "show"
            },
            {
              "value": "false",
              "label": "hide"
            }
          ]
        },{
        "type":"text",
        "id":"button_text",
        "label":"button text"
      },{
        "type":"image_picker",
        "id":"right_image",
        "label":"right image"
      }
    ],
    "presets":[
        {
          "name":"Fans-flash-sales"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}