{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.footer .list-payment__item {
    width: 36px;
    background: #fff;
    padding: 0;

}
.footer {
margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
}

.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}
  .fn-footer-iconlink_left_imges{
        cursor: pointer;
    margin-right:10px;
  }

@media screen and (min-width: 750px) {
.footer {
margin-top: {{ section.settings.margin_top }}px;
}

.section-{{ section.id }}-padding {
padding-top: {{ section.settings.padding_top }}px;
padding-bottom: {{ section.settings.padding_bottom }}px;
}
}
{%- endstyle -%}
<style>
      .fn-footer_payment_base {
          display: none;
    }
  .fn-footer-iconlink_title {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    color: #FFFFFF;
    /* line-height: 44px; */
}
.fn-footer-iconlink {
    display: flex;
    max-width: 372px;
    margin: 14px auto 11px;
    justify-content: center;
}
  .fn-footer-iconlink_right_imges img,
  .fn-footer-iconlink_left_imges img {
        height: 24px;
  }
  .footer {
    background: #E7E7E7;
    border: none;
  }
  .list-social {
    margin-top: 24px;
    justify-content: start;
  }
  .list-social__item + .list-social__item{
    margin-left: 27px;
  }
  .list-social__link {
    padding: 0;
  }
  .list-social__item .icon {
    height: 26px;
    width: 26px;
    position: static;
  }
  .footer__content-top {
    padding-bottom: 60px;
  }
  .footer__content-bottom {
    color: #fff;
    border-top: none;
    padding: 16px 0;
    background: #333333;
  }
  .footer__copyright {
    margin-top: 0;
    font-size: 18px;
    display: flex;
  }
  .copyright__content {
    display: flex;
  }
  .fly-cart {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 53px;
    background: #fff;
    width: 56px;
    height: 56px;
    box-shadow: 0px 10px 16px 0px rgb(174 174 174 / 43%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 9999;
  }
  .fly-cart .fly-num {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FF7606;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    top: 6px;
    right: 5px;
  }
  .fly-num-quantity {
    position: absolute;
    width: 28px;
    height: 16px;
    background: #FF7606;
    border-radius: 7px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    top: 6px;
    right: 0px;
  }
  .fly-num-amount{
    position: absolute !important;
    width: 22px !important;
    height: 16px !important;
    background: #FF7606 !important;
    border-radius: 7px !important;
    display: inline-block !important;
    color: #fff !important;
    font-size: 10px !important;
    text-align: center !important;
    line-height: 16px !important;
    top: 6px !important;
    right: 0px !important;
  }
  .fly-cart a {
    margin: 0 auto;
  }
  .section-footer-padding {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
  .list-menu__item--active {
    text-decoration: none;
  }
  .footer-block .rte img {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  @media screen and (min-width: 990px) {
    .footer-block__heading {
      font-size: 18px;
      margin: 0;
    }
  }
  @media screen and (min-width: 750px) {
    .footer .footer-block__details-content .list-unstyled li{
          line-height: 14px;
    }
    .footer {
      margin-top: 0;
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-block__details-content .list-menu__item--link {
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #333;
      line-height: 14px;
    }
    .footer-block__details-content>li:not(:last-child) {
      margin-right: 0;
    }
    .footer-block__details-content>li {
      margin-top: 18px;
      line-height: 14px;
    }
    footer .page-width {
      padding: 0;
    }
    footer>.page-width {
      padding-bottom: 60px;
    }
    .footer__copyright {
      text-align: center;
    }
    .footer-block__details-content .list-menu__item--link:hover, .copyright__content a:hover {
      color: #ff7606;
    }
    .footer .list-payment {
      justify-content: start;
      margin: 0;
      padding-top: 0;
    }
    .footer .list-payment__item {
      padding: 0;
    }
    .footer .list-payment__item + .list-payment__item {
      margin-left: 15px;
    }
    .footer-block__heading span {
      display: none !important;
    }
    .footer-block__details-content.list-unstyled {
      display: block !important;
    }
  }
  @media screen and (max-width: 749px) {
    .footer__content-bottom {
    padding: 10px 0;
}
    .fn-footer__payment_pc {
          display: none;
    }
          .fn-footer_payment_base {
          display: block;
    }
      .list-social__item + .list-social__item{
    margin-left: 16px;
  }
    li.list-social__item {
    width: 15px;
}
    .fn-footer-iconlink {
    max-width: calc(100% - 120px);
    margin: 0 auto;
}
    .fn-footer-iconlink_title {
    font-size: 10px;
}
    .fn-footer-iconlink_right_imges img, .fn-footer-iconlink_left_imges img {
    height: 15px;
}
      .footer__localization:empty + .footer__column {
    padding-top: 0;
  }
    .footer__content-bottom-wrapper {
    row-gap: 0;
}
      .footer__copyright {
    font-size: 10px;
  }
.footer .list-payment li + li{
      margin-left: 10px;
}
    .footer__list-social.list-social {
/*       justify-content: start; */
      margin-top: 10px;
    }
      .list-social__item .icon {
    height: 15px;
    width: 15px;
  }
    .footer__content-top {
      padding: 30px 15px;
    }
    .fly-cart {
      display: none !important;
    }
    .list-payment {
        margin: 0;
        padding: 10px 0;
    }
        .footer .list-payment__item {
        width: 18px;
    }
    .footer-block__details-content {
      margin-bottom: 0;
    }
    .footer-block__details-logoimg {
      width: 136px;
      margin: auto;
    }
.footer-block__heading {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 14px;
    align-items: center;
}
    .footer-block__heading.active span{
      transform: rotate(-90deg);
    }
    .footer-block__heading span svg {
      width: 20px;
      height: 20px;
    }
    .footer-block.grid__item {
      margin: 28px 0;
    }
    .footer-block__details-content .list-menu__item--link {
        padding: 9px 0;
        line-height: 12px;
      font-size: 12px;
    }
    .footer-block__details-content.list-unstyled {
      margin-bottom: 0;
      display: none;
    }
    .footer-block__details-content.list-unstyled .fn-listunstyled-li:nth-child(1) {
      margin-top: 14px;
    }
  }
</style>
<div class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top fn-page-width">
        {%- if section.blocks.size > 0 -%}
        {%- liquid
        if section.blocks.size == 9
        assign footer_grid_class = 'grid--3-col-tablet'
        elsif section.blocks.size > 6
        assign footer_grid_class = 'grid--4-col-desktop'
        elsif section.blocks.size > 4
        assign footer_grid_class = 'grid--3-col-tablet'
        endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
            {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading t">{{- block.settings.heading | escape -}} <span>{% render 'icon-down' %}</span></h2>
                {%- endif -%}

                {%- case block.type -%}
                {%- when 'text' -%}
                <div class="footer-block__details-content rte footer-block__details-logoimg">
                    <img src="{{ block.settings.logo | image_url }}" />
                </div>
                {%- if section.settings.show_social -%}
                <ul class="footer__list-social list-unstyled list-social" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                            {%- render 'icon-twitter' -%}
                            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                            {%- render 'icon-facebook' -%}
                            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                            {%- render 'icon-pinterest' -%}
                            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                            {%- render 'icon-instagram' -%}
                            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                            {%- render 'icon-tiktok' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                            {%- render 'icon-tumblr' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                            {%- render 'icon-snapchat' -%}
                            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                            {%- render 'icon-youtube' -%}
                            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                    <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                            {%- render 'icon-vimeo' -%}
                            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
                {%- endif -%}
                {%- if section.settings.payment_enable -%}
                <div class="footer__payment fn-footer__payment_pc">
                    <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
                    <ul class="list list-payment" role="list">
                        <li class="list-payment__item">
                               <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/17_d62eb630-1129-4f2a-8ead-4360e92efd8d.png?v=1653983756">
                        </li>
                        <li class="list-payment__item">
                                  <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/12_d1dd9392-a321-437e-a6f8-0ca7c70f1219.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                   <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/5_d87fe045-443d-461b-8f26-269df6f6cb32.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                   <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/11_157ede3b-ed59-4a35-95f8-e3e7001ac65d.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                   <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/amex.png?v=1653983756">
                        </li>
                        <li class="list-payment__item">
                                  <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/12_49b617a5-3afd-4dbd-9179-4c2773f33803.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                     <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/b8785b443c68fb2749c6b31d13653462.png?v=1653983756">
                        </li>
                    </ul>
                </div>
                {%- endif -%}
                {%- when 'link_list' -%}
                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                <ul class="footer-block__details-content list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                    <li class="fn-listunstyled-li">
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
                {%- when 'image' -%}
                <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                    {%- assign image_size = block.settings.image_width | append: 'x' -%}
                    <img
                            srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                            src="{{ block.settings.image | image_url: width: 400 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                            style="max-width: min(100%, {{ block.settings.image_width }}px);"
                    >
                    {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                </div>
                {%- endcase -%}
            </div>
            {%- endfor -%}
        </div>
        {%- endif -%}

        <div class="footer-block--newsletter">
            {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
                {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading t">{{ section.settings.newsletter_heading | escape }}</h2>
                {%- endif -%}
                {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                    <div class="field">
                        <input
                                id="NewsletterForm--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="field__input"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                                {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                        >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                            {{ 'newsletter.label' | t }}
                        </label>
                        <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                            {% render 'icon-arrow' %}
                        </button>
                    </div>
                    {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
                {%- endform -%}
            </div>
            {%- endif -%}
        </div>
    </div>
    {%- endif -%}

    <div class="footer__content-bottom">
        <div class="fn-footer-iconlink">
            <!-- <div class="fn-footer-iconlink_title">LOKLIK INC., Ltd:</div> -->
<!--           href="{{ section.settings.loklik_icon_link }}" -->
            <div class="fn-footer-iconlink_left_imges"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20221007-140020.png?v=1665123674" alt=""></div>
            <div class="fn-footer-iconlink_right_imges"><a href="{{ section.settings.htvront_icon_link }}"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/20221007-140035.png?v=1665123674" alt=""></a> </div>
        </div>
         <div class="footer__payment fn-footer_payment_base">
                    <ul class="list list-payment" role="list">
                        <li class="list-payment__item">
                               <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/17_d62eb630-1129-4f2a-8ead-4360e92efd8d.png?v=1653983756">
                        </li>
                        <li class="list-payment__item">
                                  <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/12_d1dd9392-a321-437e-a6f8-0ca7c70f1219.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                   <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/5_d87fe045-443d-461b-8f26-269df6f6cb32.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                   <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/11_157ede3b-ed59-4a35-95f8-e3e7001ac65d.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                   <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/amex.png?v=1653983756">
                        </li>
                        <li class="list-payment__item">
                                  <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/12_49b617a5-3afd-4dbd-9179-4c2773f33803.png?v=1653983756">
                        </li> 
                        <li class="list-payment__item">
                                     <img src="https://cdn.shopifycdn.net/s/files/1/0356/5997/2741/files/b8785b443c68fb2749c6b31d13653462.png?v=1653983756">
                        </li>
                    </ul>
        </div>
        <div class="footer__content-bottom-wrapper page-width">
            <div class="footer__column footer__localization isolate">
                {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                <noscript>
                    {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select">
                        <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                        <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                            {%- for country in localization.available_countries -%}
                            <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                                {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                            </option>
                            {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                    </div>
                    <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                </noscript>
                <localization-form>
                    {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                        <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                        <div class="disclosure">
                            <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                                {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                                {% render 'icon-caret' %}
                            </button>
                            <div class="disclosure__list-wrapper" hidden>
                                <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                                    {%- for country in localization.available_countries -%}
                                    <li class="disclosure__item" tabindex="-1">
                                        <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                            {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                                        </a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                    </div>
                    {%- endform -%}
                </localization-form>
                {%- endif -%}
                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                <noscript>
                    {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select">
                        <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                        <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                            {%- for language in localization.available_languages -%}
                            <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                                {{ language.endonym_name | capitalize }}
                            </option>
                            {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                    </div>
                    <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                </noscript>

                <localization-form>
                    {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                        <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                        <div class="disclosure">
                            <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                                {{ localization.language.endonym_name | capitalize }}
                                {% render 'icon-caret' %}
                            </button>
                            <div class="disclosure__list-wrapper" hidden>
                                <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                                    {%- for language in localization.available_languages -%}
                                    <li class="disclosure__item" tabindex="-1">
                                        <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                                            {{ language.endonym_name | capitalize }}
                                        </a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                    </div>
                    {%- endform -%}
                </localization-form>
                {%- endif -%}
            </div>
            <div class="footer__column footer__column--info">
                <div class="footer__copyright caption">
                   <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, HK SIJIU INTERNATIONAL SHARE CO., LIMITED.LOKLIK INC.All rights reserved.</small>
                    <!-- <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small> -->
<!--                     <small class="copyright__content">{{ powered_by_link }}</small> -->
                                      <!-- <small class="copyright__content">,LOKLIK INC. All rights reserved.</small> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="fly-cart">
  {%- if cart.item_count < 100 -%}
  {%- if cart.item_count < 10 -%}
  <span class="fly-num">{{ cart.item_count }}</span>
  {%- else -%}
  <span class="fly-num fly-num-amount">{{ cart.item_count }}</span>
  {%- endif -%}
  {%- else -%}
  <span class="fly-num-quantity">99+</span>
  {%- endif -%}
  <a id="doma" href="javascript:void(0)"><img src="https://cdn.shopify.com/s/files/1/0608/6590/4797/files/2_7f96aa78-feec-4f07-bf1b-53a2036de876.png?v=1653031288"></a>
</div> -->
<script>
  $(function(){
    // js_method();
    if (window.matchMedia('(max-width: 749px)').matches) {
      $('.footer-block__heading').click(function () {
        $(this).siblings().slideToggle(300);
        $(this).toggleClass('active');
      });
    }
  })
  $(function(){
    $('.fn-footer-iconlink_left_imges').click(function(){
             let userEmail='{{ customer.email }}';
      if(userEmail === "") {
       window.open("{{ section.settings.loklik_icon_link }}");
      } else {
  	   $.ajax({
                       type:'GET',
                       dataType:'jsonp',
                       contentType: false,
                       cache: false,
                       jsonp :'callback', //指定一个查询参数名称来覆盖默认的 jsonp 回调参数名 callback
                       // jsonpCallback: 'handle', //设置回调函数名
                       url: 'https://www.loklik.com/api/user/htv-user-member/getOfficialToken',
                       data: {userEmail: userEmail},
                       success(result){
                            window.open(result.value);
                       },
                       error(result){
                          console.log('error',result.status);
                       }
        });
      }
    })
  })
//   $(function(){
//        let userEmail='{{ customer.email }}';
// 	   $.ajax({
//          	 type:'GET',
//           	 dataType:'jsonp',
//          	 url: 'http://qn.htvront.com:9000/prod-biz-api/htvront/activity/getstate',
//          	 data: {user_email: userEmail},
//          	 jsonp :'callback', //指定一个查询参数名称来覆盖默认的 jsonp 回调参数名 callback
//              jsonpCallback: 'handle', //设置回调函数名
//           success(result){
//              console.log('error',result);
//             // if (result.message == 'on') {
//             //  $('#email_verification').css("display","none");
//             // }
//           },
//           error(result){
//              console.log('error',result.status);
//           }
//     });
// });
  function js_method() {
      let userEmail='{{ customer.email }}';
      if(userEmail === "") {
       window.open("https://www.loklikworkshop.com");
      } else {
       $.ajax({
                     type:'GET',
                     dataType:'jsonp',
                     jsonp :'callback', //指定一个查询参数名称来覆盖默认的 jsonp 回调参数名 callback
                     // jsonpCallback: 'handle', //设置回调函数名
                     url: 'https://www.loklikworkshop.com/api/user/htv-user-member/jsonp',
                     // url: 'https://www.loklikworkshop.com/api/matter-storage/storage/mate-type/getAll',
                     data: {userEmail: userEmail},
                     success(result){
                       debugger;
                          window.open(result.data);
                     },
                     error(result){
                        debugger;
                        console.log('error',result.status);
                     }
      });
      }
  }
//   window.onload=function(){
//     var o = document.querySelector('.fly-cart');
//     o.onmousedown = function (e) {
//       if (o.setCapture) {
//         o.setCapture()
//       }
//       e = e || window.event
//       // 鼠标相对于盒子的位置
//       var offsetX = e.clientX - o.offsetLeft;
//       var offsetY = e.clientY - o.offsetTop;
//       var x = 0;
//       var y = 0;
//       // 鼠标移动
//       document.onmousemove = function (evt) {
//         evt = evt || window.event
//         o.style.left = evt.clientX - offsetX + "px";
//         o.style.top = evt.clientY - offsetY + "px";
//         x = evt.clientY - offsetY;
//         y = e.clientY - o.offsetTop;
//       }
//       // 鼠标抬起
//       document.onmouseup = function () {
//         document.onmousemove = null;
//         document.onmouseup = null;
//         if (x===0 && y===0) {
//           window.location.href="https://www.htvront.com/cart";
//         }
//       }
//       return false;
//     }
//   }
</script>
{% javascript %}
class LocalizationForm extends HTMLElement {
constructor() {
super();
this.elements = {
input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
button: this.querySelector('button'),
panel: this.querySelector('.disclosure__list-wrapper'),
};
this.elements.button.addEventListener('click', this.openSelector.bind(this));
this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
}

hidePanel() {
this.elements.button.setAttribute('aria-expanded', 'false');
this.elements.panel.setAttribute('hidden', true);
}

onContainerKeyUp(event) {
if (event.code.toUpperCase() !== 'ESCAPE') return;

this.hidePanel();
this.elements.button.focus();
}

onItemClick(event) {
event.preventDefault();
const form = this.querySelector('form');
this.elements.input.value = event.currentTarget.dataset.value;
if (form) form.submit();
}

openSelector() {
this.elements.button.focus();
this.elements.panel.toggleAttribute('hidden');
this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
}

closeSelector(event) {
const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
if (event.relatedTarget === null || shouldClose) {
this.hidePanel();
}
}
}

customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
	"name": "t:sections.footer.name",
	"blocks": [{
			"type": "link_list",
			"name": "t:sections.footer.blocks.link_list.name",
			"settings": [{
					"type": "text",
					"id": "heading",
					"default": "Quick links",
					"label": "t:sections.footer.blocks.link_list.settings.heading.label",
					"info": "t:sections.footer.blocks.link_list.settings.heading.info"
				},
				{
					"type": "link_list",
					"id": "menu",
					"default": "footer",
					"label": "t:sections.footer.blocks.link_list.settings.menu.label",
					"info": "t:sections.footer.blocks.link_list.settings.menu.info"
				}
			]
		},
		{
			"type": "text",
			"name": "t:sections.footer.blocks.text.name",
			"settings": [{
				"type": "image_picker",
				"id": "logo",
				"label": "Logo"
			}]
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 50,
					"max": 200,
					"step": 5,
					"unit": "px",
					"label": "Image width",
					"default": 100
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "Image alignment on large screen",
					"options": [{
							"value": "",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					],
					"default": "center"
				}
			]
		}
	],
	"settings": [{
			"type": "select",
			"id": "color_scheme",
			"options": [{
					"value": "accent-1",
					"label": "t:sections.footer.settings.color_scheme.options__1.label"
				},
				{
					"value": "accent-2",
					"label": "t:sections.footer.settings.color_scheme.options__2.label"
				},
				{
					"value": "background-1",
					"label": "t:sections.footer.settings.color_scheme.options__3.label"
				},
				{
					"value": "background-2",
					"label": "t:sections.footer.settings.color_scheme.options__4.label"
				},
				{
					"value": "inverse",
					"label": "t:sections.footer.settings.color_scheme.options__5.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.footer.settings.color_scheme.label"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__1.content",
			"info": "t:sections.footer.settings.header__1.info"
		},
		{
			"type": "checkbox",
			"id": "newsletter_enable",
			"default": true,
			"label": "t:sections.footer.settings.newsletter_enable.label"
		},
		{
			"type": "text",
			"id": "newsletter_heading",
			"default": "Subscribe to our emails",
			"label": "t:sections.footer.settings.newsletter_heading.label"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__2.content",
			"info": "t:sections.footer.settings.header__2.info"
		},
		{
			"type": "checkbox",
			"id": "show_social",
			"default": false,
			"label": "t:sections.footer.settings.show_social.label"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__3.content",
			"info": "t:sections.footer.settings.header__4.info"
		},
		{
			"type": "checkbox",
			"id": "enable_country_selector",
			"default": true,
			"label": "t:sections.footer.settings.enable_country_selector.label"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__5.content",
			"info": "t:sections.footer.settings.header__6.info"
		},
		{
			"type": "checkbox",
			"id": "enable_language_selector",
			"default": true,
			"label": "t:sections.footer.settings.enable_language_selector.label"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__7.content"
		},
		{
			"type": "checkbox",
			"id": "payment_enable",
			"default": true,
			"label": "t:sections.footer.settings.payment_enable.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.spacing"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.footer.settings.margin_top.label",
			"default": 0
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_bottom",
			"default": 36
		},
      	{
			"type": "url",
			"id": "loklik_icon_link",
            "label": "loklik link"
		},
        {
			"type": "url",
			"id": "htvront_icon_link",
            "label": "htvront link"
		}
	],
	"default": {
		"blocks": [{
				"type": "link_list"
			},
			{
				"type": "text"
			}
		]
	}
}
{% endschema %}
