<style>
  .advertise{
     padding: 30px 0;
     background-image:url('{{section.settings.bg_image | img_url:'1920x' }}');
     background-size:100% 100%;
     background-repeat:no-repeat;
   }
   .ad-width{
      margin:0 auto;
     width:1600px;
   }
  .ad-width img{
    margin:0 auto;
  }
  @media screen and (max-width: 1720px){
    .ad-width{
      width: 83.3%;
    }
  }
  @media screen and (max-width: 750px){
    .advertise{
      padding: 20px 0;
      background:{{section.settings.bg_color}};
    }
    .ad-width{
      width: 93.6%;
    }
 }
</style>
<div class="advertise">
  <div class="ad-width">
     <picture>
        <source media="(max-width: 750px)" srcset="{{ section.settings.image_mobile | img_url:'750x' }}">
        <source media="(min-width: 751px)" srcset="{{ section.settings.image | img_url:'1600x' }}">
        <img src="{{ section.settings.image | img_url:'1600x' }}">
      </picture>
  </div>
</div>
{% schema %}
  {
    "name": "Group-Buying-Advertise",
    "settings": [
      {
        "type":"color",
        "id":"bg_color",
        "label":"background color"
      },
      {
        "type":"image_picker",
        "id":"bg_image",
        "label":"background image"
      },
      {
        "type":"image_picker",
        "id":"image",
        "label":"image"
      },{
        "type":"image_picker",
        "id":"image_mobile",
        "label":"image mobile"
      }
    ],
    "presets": [
      {
        "name": "Group-Buying-Advertise"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}