{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }

  .collection-hero{
	background-color:#F8F8F8;
	}
  {% if collection.image %}
    
  .collection-hero__inner{
    background-image:url("{{collection.image | image_url}}")
  }
  
  {% endif %}
 

{%- endstyle -%}

<div class="collection-hero">
  <div class="collection-hero__inner">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
   
        {{- page_title | escape -}}
      </h1>
  
      <div id="astrict_text" class="collection-hero__description rte">{{ page_description | truncate: 120 }}</div>
     
    </div>

    {%- comment -%}
  
    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w"
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.title | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
      {%- endcomment -%}
  </div>
</div>
<script>
  $(function(){
//     var _text = document.getElementById("astrict_text").innerHTML;
//     var rte_text = document.getElementById("astrict_text");
//     if(_text.length > 50) {      //如果字符长度超过10，后面的字符就变成...可自行调整长度和代替字符
//       _text = _text.substr(0,120) + "..."   //截取从第一个字符开始，往后取10个字符，剩余的用...代替
//       rte_text.innerHTML = _text;
//       console.log(_text, '456');  // 'js字符超出指定个数...'
//  }
  })

</script>
{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ],
    "presets":[
        {
            "name":"t:sections.main-collection-banner.name"
        }
    ]
}
{% endschema %}
