{% if request.page_type == 'article' or request.page_type == 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'page' %}
  {% capture permalinkURL %}{{ shop.url }}{{ page.url }}{% endcapture %}
  {% capture shareTitle %}{{ page.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'collection' %}
  {% capture permalinkURL %}{{ shop.url }}{{ collection.url }}{% endcapture %}
  {% capture shareTitle %}{{ page.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'index' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{{ page.title | url_param_escape }}{% endcapture %}
{% elsif request.page_type == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}
<style>
        .fn-particulars-img {
          display: none;
      }
        .media>*:not(.zoom):not(.deferred-media__poster-button) {
          position: initial;
      }
       .fn-particulars-right li.sale__item {
          margin-top: 30px;
      }
        .fn-Prackageblog-title {
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.5px;
      }
        .fn-newblog-_time {
          font-size: 12px;
          line-height: 18px;
          margin-top: 5px;
      }
        .fn-newblog_headtitle.t {
          font-size: 16px;
          line-height: 24px;
          margin-top: 15px;
      }
        .fn-newblog-blognav-title.t {
          font-size: 20px;
          line-height: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #e6e6e6;
      }
        .fn-particulars-Popular_Products,
      .fn-particulars-Popular_Posts {
          background: #FFFFFF;
          box-shadow: 0px 4px 14px 0px rgb(0 0 0 / 6%);
          border-radius: 8px;
          padding: 32px 30px 53px 30px;
      }
        .fn-particulars-Popular_Products {
          margin-top: 30px;
      }
      .fn-particulars-main {
    /*       display: flex; */
          max-width: 1600px;
          margin: auto;
          justify-content: space-between;
      }
          .fn-particulars {
            letter-spacing:0
    /*           max-width: 1178px; */
      /*         margin: 0 auto; */
          }
          nav.fn-breadcrumb.fn-helpCenter-text {
              display: flex;
              font-size: 24px;
              height: 24px;
              margin: 42px 0;
              line-height: 24px;
          }
          header.fn-particulars-header.page-width.page-width--narrow {
              margin: 0;
          }
          .fn-particulars-content {
              max-width: 100%;
          }
          .field__input {
              height: 48px;
          }
          div#sharing {
              display: flex;
              align-items: center;
          }
          div#sharing a {
              margin-left: 20px;
          }
          .fn-share {
              height: 18px;
              font-size: 24px;
              font-family: OpenSans;
              color: #333333;
              line-height: 18px;
          }
          .sc-jeqYYF {
              color: #333;
          }
          .fn-Customer{
              font-weight: bold;
          }
          .pagination__item--current {
              width: 4rem!important;
              height: 4rem!important;
              border-radius: 50%;
              background-color: #ff7606;
              color: #fff!important;
          }
          input.button.fn-particulars-submit {
              height: 20px;
              font-size: 16px;
              font-weight: bold;
              line-height: 20px;
          }
          .article-template__comments-comment p,
          span.fn-comment-titme {
              word-wrap: break-word;
          }
        .fn-particulars-right {
      /*     max-width: 385px; */
      }
             .fn-particulars-right .button:not([disabled]):hover::after {
          --border-offset: 0;
            box-shadow: 0;
          }
        .fn-particulars-right .fn-Posts-blognav {
              margin-bottom: 30px;
        }
            .fn-particulars-right .fn-product-prices span {
          display: inline-block;
          font-size: 16px;
          font-weight: bold;
          color: #FF7606;
          line-height: 16px;
          margin: 8px 0 8px 0 !important;
      }
           .fn-particulars-right .product-form__submit {
          padding: 0;
          min-height: calc(3rem + var(--buttons-border-width) * 2);
          border-radius: 4px;
      }
        .cup-join-buttons{
          width: 80px;
          background: #FFFFFF;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
          border-radius: 5px;
          padding:10px 7px 17px 7px;
          display: flex;
          flex-direction: column;
          text-align: center;
          position: fixed;
          right: 0;
          top: 60%;
          z-index:10;
        }
        .cup-join-buttons>a{
          width: 66px;
          height: 66px;
          background: #FFFFFF;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1), 0px 2px 4px 0px rgba(0,0,0,0.18);
          border-radius: 2px;
          cursor: pointer;
        }
        .cup-join-buttons>a:nth-of-type(2){
          margin-bottom:10px;
        }
        .cup-join-buttons>a>img{
          margin:0 auto;
          padding-top: 12px;
        }
        .cup-join-buttons>p{
          font-size: 14px;
          font-weight: bold;
          text-shadow: 0px 2px 5px rgba(0,0,0,0.1);
          letter-spacing: 0;    
          padding-bottom: 8px;
        }
        @media screen and (min-width: 1500px) {
      /* .fn-particulars .fn-breadcrumb ul li {
          font-size: 24px;
          line-height: 24px;
      } */
          .fn-particulars-right {
          max-width: 385px;
      }
          .fn-Prackageblog-head {
          width: 56.3%;
      }
          .fn-particulars-right {
          margin-top: 106px;
      }
         .fn-particulars-right .card.fn-Prackageblog-product {
              display: flex;
              justify-content: space-between;
        }
          .fn-particulars-right .medias {
          width: 40%;
      }
      .fn-particulars-right .product-form__submit {
          width: 115px;
      }

        }
        @media screen and (max-width: 1440px) {
            .fn-particulars-main {
               flex-wrap: wrap;
           }
             .fn-particulars {
                max-width: 1400px;
                margin: 0 auto;
            }
          .fn-newblog-blognav ul{
             display: flex;
             justify-content: space-between;
          }
          .fn-newblog_headtitle.t {
          font-size: 14px;
          line-height: 20px;
      }
          li.fn-newblog-list {
          width: 24%;
      }
         .fn-particulars-right {
                width: calc(100% - 40px);
                margin: auto;
            }
         .fn-particulars-right ul.hot-sale-product {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          }
          .fn-particulars-right .medias img {
              margin: auto;
              border-radius: 10px;
          }
              .fn-particulars-right .hot-sale-product li {
              width: 32%;
          }
              .fn-Prackageblog-title {
              height: 44px;
          }
        }
          @media screen and (max-width: 1024px) {
            .fn-particulars {
  /*               max-width: calc(100% - 20px); */
            }
          }
       @media screen and (max-width: 768px) {
           h1.fn-header-template__title.article-template__title {
          text-align: center;
      }
         .article-template>*:first-child:not(.article-template__hero-container){
           margin-top: 20px !important;
         }
         .fn-Prackageblog-title {
          margin-top: 10px;
          height: 66px;
      }
          .fn-particulars-Popular_Products, .fn-particulars-Popular_Posts {
              padding: 15px 15px 30px 15px;
          }
         .fn-newblog-blognav-title.t {
          font-size: 16px;
          line-height: 16px;
          padding-bottom: 15px;
      }
         .fn-newblog-blognav ul {
          flex-wrap: wrap;
      }
         li.fn-newblog-list {
          width: 100%;
      }
         .fn-particulars-right .hot-sale-product li {
          width: 48%;
      }
          .cup-join-buttons{
          width: 49px;
          left: 0;
          padding: 2px 5px 12px 4px;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
        }
        .cup-join-buttons>a{
          width: 40px;
          height: 40px;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1), 0px 2px 4px 0px rgba(0,0,0,0.18);
        }
        .cup-join-buttons>a>img{
          width:28px;
          padding-top: 7px;
        }
        .cup-join-buttons>a:nth-of-type(2){
          margin-bottom:5px;
        }
        .cup-join-buttons>p{
          line-height:19px;
          padding-bottom: 3px;
        }
        }
         @media screen and (max-width: 375px) {
      .fn-Prackageblog-title {
          font-size: 12px;
          line-height: 18px;
      }
        }
</style>

{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
<div class="fn-particulars-main">
  <div class="fn-particulars">
    <div class="fn-breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li>></li>
        <li><a href="/pages/craft-stories">Craft Stories</a></li>
        <li>></li>
        <li>{{ article.title }}</li>
      </ul>
    </div>
    <article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            <div class="fn-page-width page-width--narrow">
              {% render block %}
            </div>
          {%- when 'featured_image' -%}
            {%- if article.image != blank -%}
              <div class="fn-particulars-img article-template__hero-container" {{ block.shopify_attributes }}>
                <div
                  class="article-template__hero-{{ block.settings.image_height }} media"
                  itemprop="image"
                  {% if block.settings.image_height == 'adapt' and article.image %}
                  {% endif %}
                >
                  <img
                    srcset="
                      {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                      {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                      {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                      {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                      {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                      {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                      {{ article.image | image_url }} {{ article.image.width }}w
                    "
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                    src="{{ article.image | image_url: width: 1600 }}"
                    loading="lazy"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    alt="{{ article.image.alt | escape }}"
                  >
                </div>
              </div>
            {%- endif -%}

          {%- when 'title' -%}
            <header class="fn-particulars-header fn-page-width page-width--narrow" {{ block.shopify_attributes }}>
              <h1 class="fn-header-template__title t article-template__title" itemprop="headline">
                {{ article.title | escape }}
              </h1>
              <div class="fn-author-date">
                <div>
                  {%- if block.settings.blog_show_author -%}
                    <span
                      class="caption-with-letter-spacing"
                      itemprop="author"
                      itemscope
                      itemtype="http://schema.org/Person"
                    >
                      <span itemprop="name">By {{ article.author }} | </span>
                    </span>
                  {%- endif -%}
                  {%- if block.settings.blog_show_date -%}
                    <span
                      class="fn-header-time circle-divider caption-with-letter-spacing"
                      itemprop="dateCreated datePublished"
                    >
                      {{- article.published_at | time_tag: format: 'date' -}}
                    </span>
                  {%- endif -%}
                </div>
              </div>
            </header>

          {%- when 'content' -%}
            <div
              class="fn-particulars-content article-template__content page-width page-width--narrow rte"
              itemprop="articleBody"
              {{ block.shopify_attributes }}
            >
              {{ article.content }}
            </div>

          {%- when 'share' -%}
            <div class="article-template__social-sharing page-width page-width--narrow" {{ block.shopify_attributes }}>
              <share-button class="share-button" {{ block.shopify_attributes }}>
                <button class="share-button__button hidden">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </button>
                <details id="Details-{{ block.id }}-{{ section.id }}">
                  <summary class="share-button__button">
                    {% render 'icon-share' %}
                    {{ block.settings.share_label | escape }}
                  </summary>
                  <div id="Article-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                    <div class="field">
                      <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                      </span>
                      <input
                        type="text"
                        class="field__input"
                        id="url"
                        value="{{ request.origin | append: article.url }}"
                        placeholder="{{ 'general.share.share_url' }}"
                        onclick="this.select();"
                        readonly
                      >
                      <label class="field__label" for="url">{{ 'general.share.share_url' }}</label>
                    </div>
                    <button class="share-button__close hidden no-js-hidden">
                      {% render 'icon-close' %}
                      <span class="visually-hidden">{{ 'general.share.close' }}</span>
                    </button>
                    <button class="share-button__copy no-js-hidden">
                      {% render 'icon-clipboard' %}
                      <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' }}</span>
                    </button>
                  </div>
                </details>
              </share-button>
              <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
            </div>
        {%- endcase -%}
      {%- endfor -%}
      <!--
        <div>
          {% include 'blog-share' %}
        </div>
      -->
      {%- if blog.comments_enabled? -%}
        <div class="article-template__comment-wrapper background-secondary">
          <div id="comments" class="page-width page-width--narrow">
            {%- if article.comments_count > 0 -%}
              {%- assign anchorId = '#Comments-' | append: article.id -%}

              <h2 class="fn-Customer" id="Comments-{{ article.id }}" tabindex="-1">Customer Reviews</h2>
              {% paginate article.comments by 5 %}
                <div class="article-template__comments">
                  {%- if comment.status == 'pending' and comment.content -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      {{ comment.content }}
                      <footer class="right">
                        <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                      </footer>
                    </article>
                  {%- endif -%}

                  {%- for comment in article.comments -%}
                    <article id="{{ comment.id }}" class="article-template__comments-comment">
                      <span class="fn-comment-titme circle-divider caption-with-letter-spacing">
                        {{- comment.author -}}</span
                      ><span class="fn-comment-titme caption-with-letter-spacing">
                        {{- comment.created_at | time_tag: format: 'date' -}}
                      </span>
                      {{ comment.content }}
                    </article>
                  {%- endfor -%}
                  {% render 'pagination', paginate: paginate, anchor: anchorId %}
                </div>
              {% endpaginate %}
            {%- endif -%}
            {% form 'new_comment', article %}
              {%- liquid
                assign post_message = 'blogs.article.success'
                if blog.moderated? and comment.status == 'unapproved'
                  assign post_message = 'blogs.article.success_moderated'
                endif
              -%}
              {%- if form.errors -%}
                <div class="form__message" role="alert">
                  <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                    {% render 'icon-error' %}
                    {{ 'templates.contact.form.error_heading' }}
                  </h3>
                </div>
                <ul class="form-status-list caption-large">
                  {%- for field in form.errors -%}
                    <li>
                      <a href="#CommentForm-{{ field }}" class="link">
                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                          {{ 'blogs.article.name' }}
                        {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                          {{ 'blogs.article.message' }}
                        {%- else -%}
                          {{ form.errors.translated_fields[field] }}
                        {%- endif -%}
                        {{ form.errors.messages[field] }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- elsif form.posted_successfully? -%}
                <div class="form-status-list form__message" role="status">
                  <h3 class="form-status" tabindex="-1" autofocus>
                    {% render 'icon-success' %}
                    {{ post_message }}
                  </h3>
                </div>
              {%- endif -%}

              <div
                {% if blog.moderated? == false %}
                  class="article-template__comments-fields"
                {% endif %}
              >
                <div class="article-template__comment-fields">
                  <div class="field field--with-error">
                    <input
                      type="text"
                      name="comment[author]"
                      id="CommentForm-author"
                      class="field__input"
                      autocomplete="name"
                      value="{{ form.author }}"
                      aria-required="true"
                      required
                      {% if form.errors contains 'author' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-author-error"
                      {% endif %}
                      placeholder="Name"
                    >
                    <label class="field__label" for="CommentForm-author">Name <span aria-hidden="true">*</span></label>
                    {%- if form.errors contains 'author' -%}
                      <small id="CommentForm-author-error">
                        <span class="form__message">
                          {%- render 'icon-error' %}Name {{ form.errors.messages.author }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                  <div class="field field--with-error">
                    <input
                      type="email"
                      name="comment[email]"
                      id="CommentForm-email"
                      autocomplete="email"
                      class="field__input"
                      value="{{ form.email }}"
                      autocorrect="off"
                      autocapitalize="off"
                      aria-required="true"
                      required
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-email-error"
                      {% endif %}
                      placeholder="Email"
                    >
                    <label class="field__label" for="CommentForm-email">Email <span aria-hidden="true">*</span></label>
                    {%- if form.errors contains 'email' -%}
                      <small id="CommentForm-email-error">
                        <span class="form__message">
                          {%- render 'icon-error' %}Email {{ form.errors.messages.email }}.</span
                        >
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field field--with-error">
                  <textarea
                    rows="5"
                    name="comment[body]"
                    id="CommentForm-body"
                    class="text-area field__input"
                    aria-required="true"
                    required
                    {% if form.errors contains 'body' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-body-error"
                    {% endif %}
                    placeholder="Message"
                  >{{ form.body }}</textarea>
                  <label class="form__label field__label" for="CommentForm-body"
                    >Message <span aria-hidden="true">*</span></label
                  >
                </div>
                {%- if form.errors contains 'body' -%}
                  <small id="CommentForm-body-error">
                    <span class="form__message">{% render 'icon-error' %}Message {{ form.errors.messages.body }}.</span>
                  </small>
                {%- endif -%}
              </div>
              {%- if blog.moderated? -%}
                <p class="article-template__comment-warning caption">
                  Please note, comments must be approved before they are published
                </p>
              {%- endif -%}
              <input type="submit" class="button fn-particulars-submit" value="POST COMMENTS">
            {% endform %}
          </div>
        </div>
      {%- endif -%}
    </article>
  </div>
  <div class="cup-join-buttons">
    <p>Share on</p>
     <a
      target="_blank"
      href="//www.facebook.com/sharer.php?u={{ permalinkURL }}&title={{ article.title }}"
      class="share-facebook"
      title="{{ article.title | t}}"
     >
      <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/img_v2_330b376d-885a-42ab-a7b8-44a7491d07ag_1.png?v=1690184277">
    </a>
  </div>
  <!--
    <div class="fn-particulars-right">
      <div class="fn-particulars-Popular_Posts">
        <div class="fn-newblog-blognav">
          <div class="fn-newblog-blognav-title t">{{ section.settings.Posts_headline }}</div>
          <ul>
            {% for block in section.blocks %}
              {% if block.type == 'collection' %}
                <li class="fn-newblog-list">
                  <a href="{{ block.settings.Posts_leftLink }}">
                    <div class="fn-newblog_headtitle t">{{ block.settings.Posts_headtitleS }}</div>
                  </a>
                  <div class="fn-newblog-_time">{{ block.settings.Posts_timeS }}</div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="fn-particulars-Popular_Products">
        <div class="fn-newblog-blognav-title t">{{ section.settings.sale_headline }}</div>
        <ul class="hot-sale-product">
          {% for block in section.blocks %}
            {%- if block.type == 'product' -%}
              <li class="sale__item">
                {% render 'fn-Posts-product',
                  card_product: block.settings.product_blog,
                  show_secondary_image: true,
                  limit: 4,
                  lazy_load: lazy_load
                %}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  -->
</div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "section",
      "settings": [
        {
            "type":"text",
            "id":"Posts_headline",
            "label":{
                "en":"headline",
                "zh-CN":"标题"
            }
        },
        {
            "type":"text",
            "id":"sale_headline",
            "label":{
                "en":"headline",
                "zh-CN":"标题"
            }
        }
],
  "blocks": [
      {
      "type": "product",
      "name": "Selected For You",
      "settings": [
        {
          "type": "product",
          "id": "product_blog",
          "label": "productlabel"
        }
      ]
    },
    {
        "type":"collection",
        "name":"Collection",
        "settings":[
    {
        "type":"text",
        "id":"Posts_headtitleS",
        "label":{
            "en":"blog title",
            "zh-CN":"标题"
        }
    },
    {
        "type":"text",
        "id":"Posts_timeS",
        "label":{
            "en":"blog time",
            "zh-CN":"博客时间"
        }
    },
    {
        "type":"url",
        "id":"Posts_leftLink",
        "label":{
            "en":"blog links",
            "zh-CN":"博客链接"
        }
    }
        ]
    },
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "Featured image",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt to image"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "adapt",
          "label": "Featured image height",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "Show date"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "Show author"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "Text",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
