{% comment %} {{ 'Swiper-4.5.3.js' | asset_url | script_tag }}
{{ 'Swiper-4.5.3.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.fn-title-wrapper-with-link.title-wrapper--no-top-margin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0 30px;
}
.fn-topmargin-title.title.t.h1 {
    font-size: 18px;
    padding: 12px 56px;
    background: #F5F5F5;
    border-radius: 10px;
    cursor: pointer;
}
  .fn-topmargin-title.title.t.h1.t_active {
    background: #FF7606;
    color: #fff;
}
  .fn-topmargin-title:nth-child(2) {
        margin-left: 20px;
  }
/*   .fn-productgrid-ul:nth-child(1) {
        display: none;
  } */
  .fn-productgrid-ul:nth-child(2) {
        display: none;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  {% if section.settings.bgimg %}
.bgimg{
     background-image: url("{{section.settings.bgimg | image_url }}");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: left top;
     background-attachment: inherit;
}
    {% endif %}}
 
  @media screen and (min-width: 750px) {
      .yl-page-width{
  padding:15px 0;
}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .title-wrapper-with-link .title{
    font-size: 36px;
    text-align: center;
/*     width: 100%; */
    padding-top: 58px;
    padding-bottom:28px;
  }
  .fn-product-price_sava{
        padding: 5px 10px;
    background: #1890ff;
    color: #fff;
    display: inline-block;
    border-radius: 15px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
   .slider-mobile-gutter .grid__item{
   background: #fff;
    border-radius: 16px;
         overflow: hidden;
  }
  .card__media{
    background: #f1f1f1;
  }
.fn-color-attr ul li+li{
  background: #d8d8d8;
  margin-left:0;
}
  .fn-product-head{
    padding:5px 15px;
  }
  .fn-addcart{
    position: initial;
        display: block;
        padding: 15px 0;
  }
  .fn-addcart button{
        height: 44px;
    width: 100%;
        background: #FF7606;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}
  .tips{
   padding: 45px 0;
    overflow: hidden;
  }
  .tips h2{
    font-size: 16px;
    color: #333333;
    padding:10px 0;
  }
  .tips .rte{
    font-size: 14px;
    color: #333333;
  }
  
  @media (max-width: 750px) {
    .fn-product-price_sava {
    padding: 5px 8px;
    font-size: 12px;
      border-radius: 6px 0;
}
       .title-wrapper-with-link {
         margin-bottom:1.5rem;
       }
    .title-wrapper-with-link .title{
      font-size: 18px;
      padding-top: 0px;
     padding-bottom: 0px;
    }
    .fn-addcart button {
    height: 32px;
    border-radius: 6px;
    font-size: 12px;
}  
    .slider-mobile-gutter .grid__item{
    border-radius: 8px;
  }
    .tips h2{
      font-size:14px;
    }
 .tips .rte{
   font-size: 12px;
 }
  .yl-page-width  .grid {
    column-gap: 10px !important;
    row-gap:10px !important;
}
    .fn-product-layout{
      margin-top:0;
    }
  }
    @media (max-width: 480px) {
      .fn-topmargin-title:nth-child(2) {
    margin-left: 10px;
}
      .fn-title-wrapper-with-link.title-wrapper--no-top-margin {
    margin: 0px;
}
.fn-topmargin-title.title.t.h1 {
    font-size: 12px;
    padding: 9px 10px;
    border-radius: 6px;
}
/*          .fn-color-attr ul li {
    width: 20px;
    height: 20px;
}
    .fn-color-attr ul li img {
    width: 20px;
    height: 20px;
    } */
    }
  .swiper-button-next{
    background-image:url({{'right.png' | asset_url}});
          right: -6px;
  }
      .swiper-button-prev{
       background-image:url({{'left.png' | asset_url}});
        left: -6px;
      }
   .swiper-button-next, .swiper-button-prev{
    background-size: contain;
  }
  .card__media .swiper-button-next, .card__media .swiper-button-prev{
    width:26px;
    height:26px;
  }
  .fn-product-head .swiper-button-next, .fn-product-head .swiper-button-prev {background-color: #fff;}
  .fn-product-head .swiper-button-next.swiper-button-disabled, 
  .fn-product-head .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
  }
  .fn-color-attr {
    height: 100%;
  }
  .swiper-container{
    padding:2px 0;
  }
  .fn-color-attr ul li{
     height: 100%;
    border:0;
  }
  .fn-color-attr ul li img{
     width: auto;
    height: auto;
    max-width: 100%;
    
  }
  .fn-compare-at_price{
    font-size: 14px;
    color: #666666;
  }
  @media screen and (min-width: 1600px){
    .grid--4-col-desktop .grid__item {
     max-width: 375px;
  
}
  }
@media screen and (min-width: 750px) {
  .card__media .swiper-wrapper{
   height:385px; 
  }
  .card__media .swiper-wrapper .swiper-slide img{
    width:375px;
    height:385px;
  }


  }
@media screen and (min-width: 1600px) {
        .yl-page-width{
  padding-left: 0;
        padding-right: 0;
}
   .yl-page-width  .grid {
    column-gap: 33px !important;
    row-gap:30px !important;
}
}
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient bgimg">
	<div class="collection page-width{% if show_mobile_slider %} page-width-desktop{% endif %} section-{{ section.id }}-padding yl-page-width">
		{%- unless section.settings.title == blank -%}
		<div class="fn-title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %} title-wrapper--no-top-margin">
			<div class="fn-topmargin-title title t {{ section.settings.heading_size }} t_active">
				{{ section.settings.title | escape }}
			</div>
<!-- 			<div class="fn-topmargin-title title t t_active {{ section.settings.heading_size }}">
				Advanced Zone
			</div> -->
			{%- if section.settings.show_view_all and section.settings.swipe_on_mobile
			and more_in_collection -%}
			<a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">
				{{ 'sections.featured_collection.view_all' | t }}
			</a>
            {%- endif -%}
		</div>
		{%- endunless -%}
		<slider-component class="slider-mobile-gutter">
			<div class="fn-productgrid-ul">
				<ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %}{% if section.settings.columns_desktop == 1 %} grid--full-width{% else %} grid--{{ section.settings.columns_desktop }}-col-desktop{% endif %}{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
				role="list">
					{%- for product in section.settings.collection.products limit: section.settings.products_to_show
					-%}
					<li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider %} slider__slide{% endif %} ">
						{% render 'page-card-product', card_product: product, 
                          media_aspect_ratio:section.settings.image_ratio,
                          show_secondary_image: section.settings.show_secondary_image,
						  show_vendor: section.settings.show_vendor, show_rating: section.settings.show_rating,
						%}
					</li>
					<script>
						$(function() {
    if ($('#Slide-{{ section.id }}-{{ forloop.index }} .gallery-thumbs .swiper-wrapper').length > 0) {
        var galleryThumbs = new Swiper('#Slide-{{ section.id }}-{{ forloop.index }} .gallery-thumbs', {
            slidesPerView: 8,
            spaceBetween: 10,
            freeMode: true,
            observer: true,
            observeParents: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
            navigation: {
                nextEl: '#Slide-{{ section.id }}-{{ forloop.index }} .gallery-thumbs .swiper-button-next',
                prevEl: '#Slide-{{ section.id }}-{{ forloop.index }} .gallery-thumbs .swiper-button-prev',
            },

            breakpoints: {

                768: {
                    slidesPerView: 6,
                },
                480: {
                    slidesPerView: 5,
                },
            }
        });
        var galleryTop = new Swiper('#Slide-{{ section.id }}-{{ forloop.index }} .gallery-top', {
            spaceBetween: 10,
            lazy: true,
            observer: true,
            observeParents: true,
            navigation: {
                nextEl: '#Slide-{{ section.id }}-{{ forloop.index }} .gallery-top .swiper-button-next',
                prevEl: '#Slide-{{ section.id }}-{{ forloop.index }} .gallery-top .swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
    }
});
					</script>
					{%- else -%} {%- for i in (1..4) -%}
					<li class="grid__item">
						{% render 'page-card-product', show_vendor: section.settings.show_vendor
						%}
					</li>
					{%- endfor -%} {%- endfor -%}
				</ul>
			</div>
			<div class="fn-productgrid-ul fn-productgrid-ul_active">
				<ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %}{% if section.settings.columns_desktop == 1 %} grid--full-width{% else %} grid--{{ section.settings.columns_desktop }}-col-desktop{% endif %}{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
				role="list">
					{%- for product_a in section.settings.collection_a.products limit: section.settings.products_to_show
					-%}
					<li id="Slide-{{ section.id }}-{{ forloop.index }}-a" class="grid__item{% if show_mobile_slider %} slider__slide{% endif %} ">
						{% render 'page-card-product', card_product: product_a, media_aspect_ratio:
						section.settings.image_ratio, show_secondary_image: section.settings.show_secondary_image,
						show_vendor: section.settings.show_vendor, show_rating: section.settings.show_rating,
						%}
					</li>
					<script>
						$(function() {
    if ($('#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-thumbs .swiper-wrapper').length > 0) {
        var galleryThumbs_a = new Swiper('#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-thumbs', {
            slidesPerView: 8,
            spaceBetween: 10,
            freeMode: true,
            observer: true,
            observeParents: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
            navigation: {
                nextEl: '#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-thumbs .swiper-button-next',
                prevEl: '#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-thumbs .swiper-button-prev',
            },

            breakpoints: {

                768: {
                    slidesPerView: 6,
                },
                480: {
                    slidesPerView: 5,
                },
            }
        });
        var galleryTop_a = new Swiper('#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-top', {
            spaceBetween: 10,
            lazy: true,
            navigation: {
                nextEl: '#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-top .swiper-button-next',
                prevEl: '#Slide-{{ section.id }}-{{ forloop.index }}-a .gallery-top .swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs_a,
            },
            observer: true,
            observeParents: true,
        });
    }
});
					</script>
					{%- else -%} {%- for i in (1..4) -%}
					<li class="grid__item">
						{% render 'page-card-product', show_vendor: section.settings.show_vendor
						%}
					</li>
					{%- endfor -%} {%- endfor -%}
				</ul>
			</div>
			{%- if show_mobile_slider -%}
			<div class="slider-buttons no-js-hidden">
				<button type="button" class="slider-button slider-button--prev" name="previous"
				aria-label="{{ 'general.slider.previous_slide' | t }}">
					{% render 'icon-caret' %}
				</button>
				<div class="slider-counter caption">
					<span class="slider-counter--current">
						1
					</span>
					<span aria-hidden="true">
						/
					</span>
					<span class="visually-hidden">
						{{ 'general.slider.of' | t }}
					</span>
					<span class="slider-counter--total">
						{{ products_to_display }}
					</span>
				</div>
				<button type="button" class="slider-button slider-button--next" name="next"
				aria-label="{{ 'general.slider.next_slide' | t }}">
					{% render 'icon-caret' %}
				</button>
			</div>
			{%- endif -%}
		</slider-component>
        {% if 1 == 2 %}
		{%- if section.settings.show_view_all and more_in_collection -%}
		<div class="center collection__view-all{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
			<a href="{{ section.settings.collection.url }}" class="button" aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
				{{ 'sections.featured_collection.view_all' | t }}
			</a>
		</div>
		{%- endif -%}
        {%- endif -%}
		<div class="tips">
			<h2 class="">
				{{ section.settings.tip_heading | escape }}
			</h2>
			<div class="rich-text__text rte">
				{{ section.settings.tip_text }}
			</div>
		</div>
	</div>
</div>
{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
        {
      "type": "collection",
      "id": "collection_a",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
        {
      "type": "range",
      "id": "products_to_Advanced",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "bgimg",
      "label": "Background picture"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
          "type": "text",
          "id": "tip_heading",
          "default": "Tips:",
          "label": "Tips"
    },
   {
        "type": "richtext",
        "id": "tip_text",
        "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
        "label": "content"
   },
   {
      "type": "text",
      "id": "discount_title",
      "default": "discount title",
      "label": "discount title"
    }
  
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}