{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.3fe20b4e.css' | asset_url }}">
		 <style>#shopify-section-footer > div { 	width: auto !important;   background-color: #e9e9e9;     padding-bottom: 50px; } .__pf{ 	overflow-x:hidden; } @media (max-width: 767px) { 	[data-pf-type="Tabs"] { 	flex-flow: column; } } .wrapper { 	max-width: 100%; }</style> {% if product_5067133780101 == null %}{%- assign product_5067133780101 = all_products["htv-vinyl-heat-transfer-vinyl-white-12-x-5-ft-roll"] -%}{% endif %} {% if product_6568716992645 == null %}{%- assign product_6568716992645 = all_products["htvront-colorful-crystal-holographic-heat-transfer-vinyl-12-x-5ft-sparkle-laser-htv-vinyl-for-diy-t-shirts-or-fabrics-iron-on-vinyl-easy-to-cut-and-weed"] -%}{% endif %} {% if product_6618011304069 == null %}{%- assign product_6618011304069 = all_products["htvront-vinyl-roll-holder-vinyl-roll-storage-with-24-compartments-vinyl-storage-organizer-rack-wall-mount-hanging-over-the-door-craft-vinyl-storage-idea-gift-wrap-organizer-grey"] -%}{% endif %} {% if product_6561816510597 == null %}{%- assign product_6561816510597 = all_products["htvront-chameleon-htv-vinyl-roll-12-x-10-ft-heat-transfer-vinyl-for-cricut-silhouette-cameo-easy-to-cut-weed-11-colors-available-1"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["5067133780101"] = {
		id: {{ product_5067133780101.id | json }},
		handle: {{ product_5067133780101.handle | json }},
		title: {{ product_5067133780101.title | json }},
		type: {{ product_5067133780101.type | json }},
		url: {{ product_5067133780101.url | within: collection | json }},
		vendor: {{ product_5067133780101.vendor | json }},
		variants: {{ product_5067133780101.variants | json }},
		options: {{ product_5067133780101.options | json }},
		media: {{ product_5067133780101.media | json }},
		has_only_default_variant: {{ product_5067133780101.has_only_default_variant | json }},
		options_with_values: {{ product_5067133780101.options_with_values | json }},
		selected_variant: {{ product_5067133780101.selected_variant | json }},
		selected_or_first_available_variant: {{ product_5067133780101.selected_or_first_available_variant | json }},
		tags: {{ product_5067133780101.tags | json }},
		template_suffix: {{ product_5067133780101.template_suffix | json }},
		featured_image: {{ product_5067133780101.featured_image | json }},
		featured_media: {{ product_5067133780101.featured_media | json }},
		images: {{ product_5067133780101.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_5067133780101.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["6568716992645"] = {
		id: {{ product_6568716992645.id | json }},
		handle: {{ product_6568716992645.handle | json }},
		title: {{ product_6568716992645.title | json }},
		type: {{ product_6568716992645.type | json }},
		url: {{ product_6568716992645.url | within: collection | json }},
		vendor: {{ product_6568716992645.vendor | json }},
		variants: {{ product_6568716992645.variants | json }},
		options: {{ product_6568716992645.options | json }},
		media: {{ product_6568716992645.media | json }},
		has_only_default_variant: {{ product_6568716992645.has_only_default_variant | json }},
		options_with_values: {{ product_6568716992645.options_with_values | json }},
		selected_variant: {{ product_6568716992645.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6568716992645.selected_or_first_available_variant | json }},
		tags: {{ product_6568716992645.tags | json }},
		template_suffix: {{ product_6568716992645.template_suffix | json }},
		featured_image: {{ product_6568716992645.featured_image | json }},
		featured_media: {{ product_6568716992645.featured_media | json }},
		images: {{ product_6568716992645.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_6568716992645.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["6618011304069"] = {
		id: {{ product_6618011304069.id | json }},
		handle: {{ product_6618011304069.handle | json }},
		title: {{ product_6618011304069.title | json }},
		type: {{ product_6618011304069.type | json }},
		url: {{ product_6618011304069.url | within: collection | json }},
		vendor: {{ product_6618011304069.vendor | json }},
		variants: {{ product_6618011304069.variants | json }},
		options: {{ product_6618011304069.options | json }},
		media: {{ product_6618011304069.media | json }},
		has_only_default_variant: {{ product_6618011304069.has_only_default_variant | json }},
		options_with_values: {{ product_6618011304069.options_with_values | json }},
		selected_variant: {{ product_6618011304069.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6618011304069.selected_or_first_available_variant | json }},
		tags: {{ product_6618011304069.tags | json }},
		template_suffix: {{ product_6618011304069.template_suffix | json }},
		featured_image: {{ product_6618011304069.featured_image | json }},
		featured_media: {{ product_6618011304069.featured_media | json }},
		images: {{ product_6618011304069.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_6618011304069.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};window.__pageflyProducts["6561816510597"] = {
		id: {{ product_6561816510597.id | json }},
		handle: {{ product_6561816510597.handle | json }},
		title: {{ product_6561816510597.title | json }},
		type: {{ product_6561816510597.type | json }},
		url: {{ product_6561816510597.url | within: collection | json }},
		vendor: {{ product_6561816510597.vendor | json }},
		variants: {{ product_6561816510597.variants | json }},
		options: {{ product_6561816510597.options | json }},
		media: {{ product_6561816510597.media | json }},
		has_only_default_variant: {{ product_6561816510597.has_only_default_variant | json }},
		options_with_values: {{ product_6561816510597.options_with_values | json }},
		selected_variant: {{ product_6561816510597.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6561816510597.selected_or_first_available_variant | json }},
		tags: {{ product_6561816510597.tags | json }},
		template_suffix: {{ product_6561816510597.template_suffix | json }},
		featured_image: {{ product_6561816510597.featured_image | json }},
		featured_media: {{ product_6561816510597.featured_media | json }},
		images: {{ product_6561816510597.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product_6561816510597.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | within: collection | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }},
		quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}
	};{% endunless %}
	</script>{% if collection_187371061381 == null %}{%- assign collection_187371061381 = collections["hot-sale"] -%}{% endif %} {% if collection_187782594693 == null %}{%- assign collection_187782594693 = collections["htv-vinyl"] -%}{% endif %} {% if collection_261241536645 == null %}{%- assign collection_261241536645 = collections["new-arrival-in-7-days"] -%}{% endif %} {% if collection_187783577733 == null %}{%- assign collection_187783577733 = collections["glitter-htv-vinyl"] -%}{% endif %} {% if collection_178881069189 == null %}{%- assign collection_178881069189 = collections["adhesive-vinyl"] -%}{% endif %} {% if collection_261329518725 == null %}{%- assign collection_261329518725 = collections["us-warehouse-home-page"] -%}{% endif %} {% if collection_194046197893 == null %}{%- assign collection_194046197893 = collections["5-pack-sheets"] -%}{% endif %} {% if collection_263363199109 == null %}{%- assign collection_263363199109 = collections["home-page-product"] -%}{% endif %} {% if collection_263363231877 == null %}{%- assign collection_263363231877 = collections["home-page-product-2"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["187371061381"] = {{collection_187371061381 | json }};window.__pageflyCollections["187782594693"] = {{collection_187782594693 | json }};window.__pageflyCollections["261241536645"] = {{collection_261241536645 | json }};window.__pageflyCollections["187783577733"] = {{collection_187783577733 | json }};window.__pageflyCollections["178881069189"] = {{collection_178881069189 | json }};window.__pageflyCollections["261329518725"] = {{collection_261329518725 | json }};window.__pageflyCollections["194046197893"] = {{collection_194046197893 | json }};window.__pageflyCollections["263363199109"] = {{collection_263363199109 | json }};window.__pageflyCollections["263363231877"] = {{collection_263363231877 | json }};
	</script>{% if article_555622465669 == null %}{%- assign article_555622465669 = articles["blog/which-side-of-vinyl-goes-down-on-cricut"] -%}{% endif %} {% if article_555621515397 == null %}{%- assign article_555621515397 = articles["blog/what-is-transfer-tape-used-for"] -%}{% endif %} {% if article_555621351557 == null %}{%- assign article_555621351557 = articles["blog/how-to-iron-on-patches-on-jeans"] -%}{% endif %} {% if article_555626168453 == null %}{%- assign article_555626168453 = articles["blog/why-is-my-cricut-not-cutting-properly"] -%}{% endif %}<div style="opacity:0" class="sc-cNKqjZ dPMpmk __pf __pf_Eaubsfpl" id="__pf"><div data-pf-type="Body" class="sc-cHzqoD dSZGnI pf-1_"><div data-pf-type="Layout" class="sc-dSfdvi hbFSvJ pf-2_"><div data-section-id="pf-8041" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-3_"><div class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-4_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-5_"><div data-slider="{'slidesToShow':{'all':1,'laptop':1,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'loop':true,'autoPlay':true,'autoPlayDelay':12000,'pauseOnHover':false,'id':'6580411c-1335-4919-8d85-9dd2fefc0429'}" class="sc-cVAmsi cMmhCo pf-6_ glider-n-1" style="visibility:hidden;height:495.0000305175781px" data-pf-type="Slider"><div class="glider" style="--g-xs:0px"><div class="glide-wrapper"><div class="sc-ksHpcM kXPzVa pf-395_ pf-bg-lazy" data-href="https://www.htvront.com/pages/heat-press-machine-pre-sale" data-target="_self" data-pf-type="Slide"></div></div><div class="glide-wrapper"><div class="sc-ksHpcM kXPzVa pf-7_ pf-bg-lazy" data-href="/pages/seckill-event" data-target="_self" data-pf-type="Slide"></div></div><div class="glide-wrapper"><div class="sc-ksHpcM kXPzVa pf-8_ pf-bg-lazy pf-c-cm" data-href="/pages/htvront-membership" data-target="_self" data-pf-type="Slide"></div></div><div class="glide-wrapper"><div class="sc-ksHpcM kXPzVa pf-9_ pf-bg-lazy pf-c-cm" data-href="/pages/shipping-policy-1" data-target="_self" data-pf-type="Slide"></div></div></div><button aria-label="Previous" class="glider-prev glider-nav glider-nav-1"></button><button aria-label="Next" class="glider-next glider-nav glider-nav-1"></button><div class="glider-dots glider-d-1"></div></div></div></div></div></div></div><div data-section-id="pf-194d" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-10_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-11_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c pf-hide" style="--c-xs:12;--c-sm:6;--c-md:4;--c-lg:4"><div data-href="https://www.htvront.com/collections/us-warehouse" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-12_ pf-bg-lazy pf-hide"><h2 data-pf-type="Heading" class="sc-avest eSTvWa pf-13_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-15_"><br>Free shipping over 39$</span></h2><p class="sc-hYQoXb koTnzq pf-16_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-18_">HTVRONT,&nbsp; Really Outstanding, Never Temporary.</span></p><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-19_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-21_">ALL US PARCEL<br>ARRIVAL&nbsp;&nbsp;<span style="font-weight: bold;">3-10DAYS</span></span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-md:4;--c-lg:4"><div data-href="https://www.htvront.com/collections/htv-vinyl" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-22_ pf-bg-lazy"><h1 data-pf-type="Heading" class="sc-avest eSTvWa pf-23_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-25_">ASSORTED&nbsp;<span style="font-weight: bold;">HEAT&nbsp;&nbsp;<br></span>TRANSFER&nbsp;&nbsp;<span style="font-weight: bold;">VINYL</span></span></h1></div></div><div class="pf-c pf-hide" style="--c-xs:3;--c-sm:6;--c-md:4;--c-lg:4"><div data-href="/pages/htvront-membership" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-26_ pf-bg-lazy pf-hide"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-27_"><a data-link="inherit" href="https://bit.ly/3EMA57Z" target="_self"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-29_"><span style="font-weight: bold;"><br><span style="color: rgb(230, 0, 0);">CREATE AN ACCOUNT <br>&nbsp;REDEEM $10
</span><br><br></span></span></a></h3></div></div></div></div></div><div data-section-id="pf-d467" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-30_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-31_ pf-r pf-c-cm" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-32_"><h1 data-pf-type="Heading" class="sc-avest eSTvWa pf-33_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-35_"><b>HOT</b>&nbsp;HEAT TRANFER VINYL</span></h1></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-36_"><a href="/collections/big-sale" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-37_ pf-hide"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-39_">VIEW ALL</span></a></div></div></div><div class="sc-bBHHxi gGMCwe pf-40_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-41_"><a href="/collections/all" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-42_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-44_">BROWSING ALL ITEMS</span></a><div data-pf-type="Tabs" class="sc-JEhMO kSVwMP pf-45_"><div data-pf-type="TabsMenu" class="sc-gHjyzD hZOxNI pf-46_"><button type="button" data-pf-tab-active="true" class="sc-dcgwPl fAnrQp pf-47_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-48_ pfa pfa-bullhorn" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-49_">Hot sale products</span></button><button type="button" data-pf-tab-active="false" class="sc-dcgwPl fAnrQp pf-50_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-51_ pfa pfa-codepen" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-52_">Htv vinyl</span></button><button type="button" data-pf-tab-active="false" class="sc-dcgwPl fAnrQp pf-53_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-54_ pfa pfa-bell" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-55_">New arrival</span></button><button type="button" data-pf-tab-active="false" class="sc-dcgwPl fAnrQp pf-56_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-57_ pfa pfa-assistive-listening-systems" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-58_">Glitter vinyl</span></button><button type="button" data-pf-tab-active="false" class="sc-dcgwPl fAnrQp pf-59_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-60_ pfa pfa-copy" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-61_">Adhesive vinyl</span></button><button type="button" data-pf-tab-active="false" class="sc-dcgwPl fAnrQp pf-62_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-63_ pfa pfa-bank" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-64_">US warehouse</span></button><button type="button" data-pf-tab-active="false" class="sc-dcgwPl fAnrQp pf-65_ pf-anchor" data-pf-type="TabHeader"><i class="sc-djWRfJ IGsRL pf-66_ pfa pfa-500px" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-67_">Editor's choice</span></button></div><div data-pf-type="TabContentWrapper" class="sc-itWPBs jiNqPs pf-68_"><div data-pf-expandable="true" style="display:block" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-69_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-70_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_187371061381 = collections["hot-sale"] %}{% assign defaultProduct = product %}{% paginate collection_187371061381.products by 4 %}{% for product in collection_187371061381.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-71_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-72_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-href="https://bit.ly/3vkBnUs" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-73_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-74_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-75_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-77_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-78_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-79_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-82_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-83_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_187782594693 = collections["htv-vinyl"] %}{% assign defaultProduct = product %}{% paginate collection_187782594693.products by 4 %}{% for product in collection_187782594693.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-84_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-85_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-86_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-87_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-88_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-90_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-91_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-92_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-95_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-96_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_261241536645 = collections["new-arrival-in-7-days"] %}{% assign defaultProduct = product %}{% paginate collection_261241536645.products by 4 %}{% for product in collection_261241536645.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-97_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-98_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-99_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-100_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-101_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-103_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-104_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-105_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-108_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-109_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_187783577733 = collections["glitter-htv-vinyl"] %}{% assign defaultProduct = product %}{% paginate collection_187783577733.products by 4 %}{% for product in collection_187783577733.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-110_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-111_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-112_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-113_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "x185", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-114_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-116_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-117_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-118_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-121_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-122_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_178881069189 = collections["adhesive-vinyl"] %}{% assign defaultProduct = product %}{% paginate collection_178881069189.products by 4 %}{% for product in collection_178881069189.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-123_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-124_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-125_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-126_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-127_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-129_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-130_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-131_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-134_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-135_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_261329518725 = collections["us-warehouse-home-page"] %}{% assign defaultProduct = product %}{% paginate collection_261329518725.products by 4 %}{% for product in collection_261329518725.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-136_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-137_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-138_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-139_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-140_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-142_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-143_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-144_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div><div data-pf-expandable="true" style="display:none" data-pf-type="TabsContent" class="sc-ehIJor hONXmc pf-147_ pf-bg-lazy"><div class="sc-cxVPaa iNvxTn pf-148_ pf-r pf-r-ew" style="--s-xs:0px;--s-md:6.5px;--s-lg:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_194046197893 = collections["5-pack-sheets"] %}{% assign defaultProduct = product %}{% paginate collection_194046197893.products by 4 %}{% for product in collection_194046197893.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-149_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-150_ pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-151_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-152_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-href="{{ product.url | within: collection }}" data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "xNaN", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-153_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-155_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-156_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-157_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><div data-section-id="pf-ea4d" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-160_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-161_ pf-r pf-c-cm" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-162_"><h2 data-pf-type="Heading" class="sc-avest eSTvWa pf-163_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-165_">BE A HAPPY CRAFTER IN&nbsp;<span style="font-weight: bold;">HTVRONT</span><br></span></h2></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-166_"><a href="/collections/htv-vinyl" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-167_ pf-hide"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-169_">VIEW ALL</span></a></div></div></div><div class="sc-bBHHxi gGMCwe pf-170_ pf-r pf-c-cm pf-hide" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2;--c-lg:2"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-171_"><a title="Glitter vinly" data-action="url" href="https://www.htvront.com/collections/glitter-htv-vinyl" target="_self" data-pf-type="Image" class="sc-fyrocj gLYNRs pf-172_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-745a8191--A2_1200x.png?v=1620445388" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-745a8191--A2.png?v=1620445388 1536w" width="102" height="37" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" alt="Glitter vinly" title="Glitter vinly"/></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2;--c-lg:2"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-173_"><a title="Holographic Adhesive Vinyl" data-action="url" href="https://www.htvront.com/collections/holographic-adhesive-vinyl" target="_self" data-pf-type="Image" class="sc-fyrocj gLYNRs pf-174_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-5a819154--A3_1200x.png?v=1620445403" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-5a819154--A3.png?v=1620445403 1536w" width="102" height="37" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" alt="Holographic Adhesive Vinyl" title="Holographic Adhesive Vinyl"/></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2;--c-lg:2"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-175_"><a title="htv-vinyl-bundle" data-action="url" href="/collections/htv-vinyl-bundle" target="_self" data-pf-type="Image" class="sc-fyrocj gLYNRs pf-176_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-8191545d--A1_1200x.png?v=1620445420" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-8191545d--A1.png?v=1620445420 1536w" width="102" height="37" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" alt="htv-vinyl-bundle" title="htv-vinyl-bundle"/></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2;--c-lg:2"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-177_"><a title="Iron on Patches - 3" by 4-1/4", 4 Assorted Colors 20 Pack Iron on Patches for Inside Jeans & Clothing Repair" data-action="url" href="https://www.htvront.com/products/iron-on-patches-for-clothing-repair-20pcs?_pos=1&_sid=72ae84ed6&_ss=r" target="_self" data-pf-type="Image" class="sc-fyrocj gLYNRs pf-178_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-91545db8--A8_1200x.png?v=1620445435" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-91545db8--A8.png?v=1620445435 1536w" width="102" height="37" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" alt="Iron on Patches - 3" by 4-1/4", 4 Assorted Colors 20 Pack Iron on Patches for Inside Jeans & Clothing Repair" title="Iron on Patches - 3" by 4-1/4", 4 Assorted Colors 20 Pack Iron on Patches for Inside Jeans & Clothing Repair"/></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2;--c-lg:2"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-179_"><a title="HTVRONT Cutting Mat" data-action="url" href="https://www.htvront.com/products/cutting-mat-for-cricut-12x12-inch-cutting-mat-single-sheet-1" target="_self" data-pf-type="Image" class="sc-fyrocj gLYNRs pf-180_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-545db8f1--A6_1200x.png?v=1620445450" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-545db8f1--A6.png?v=1620445450 1536w" width="102" height="37" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" alt="HTVRONT Cutting Mat" title="HTVRONT Cutting Mat"/></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:4;--c-md:2;--c-lg:2"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-181_"><a title="HTVRONT Sublimation Paper " data-action="url" href="https://www.htvront.com/products/pre-sale-sublimation-paper-150-sheets-a4-8-5-x-11-inch-sublimation-transfer-paper-for-inkjet-printer-shipping-after-30th-may" target="_self" data-pf-type="Image" class="sc-fyrocj gLYNRs pf-182_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-5db8f1b8--A9_1200x.png?v=1620445463" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-5db8f1b8--A9.png?v=1620445463 1536w" width="102" height="37" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy" alt="HTVRONT Sublimation Paper " title="HTVRONT Sublimation Paper "/></a></div></div></div></div></div><div data-section-id="pf-7361" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-183_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-184_ pf-r pf-r-eh" style="--s-xs:0px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-href="/products/chameleon-htv-vinyl-rolls-12-x-5-ft" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-185_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-186_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-188_"><span style="font-weight: bold;">HTVRONT Chameleon <br></span>htv
12''*5ft<br></span></h3><p class="sc-hYQoXb koTnzq pf-189_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-191_">Unique and shiny&nbsp;</span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-href="/products/easy-press-mini-heat-press-machine-for-t-shirts" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-192_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-193_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-195_"><span style="font-weight: bold;">HTVRONT Easy <br>press&nbsp;</span>Mini&nbsp;<br></span></h3><p class="sc-hYQoXb koTnzq pf-196_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-198_">The lightness and flexibility you want</span></p></div></div></div></div></div><div data-section-id="pf-4027" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-199_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-200_ pf-r pf-c-cm" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-201_"><h2 data-pf-type="Heading" class="sc-avest eSTvWa pf-202_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-204_">SPECIAL&nbsp;<span style="font-weight: bold;">OFFERS</span><br></span></h2></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-205_"><a href="/collections/daily-deal" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-206_ pf-hide"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-208_">VIEW ALL</span></a></div></div></div><div class="sc-bBHHxi gGMCwe pf-209_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:6;--c-lg:6"><div data-href="/products/htv-vinyl-heat-transfer-vinyl-white-12-x-5-ft-roll" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-210_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-211_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-213_">36 Color 12''*5ft Htv vinyl roll<br></span></h3><p class="sc-hYQoXb koTnzq pf-214_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-216_">Duable PU materials , soft and easy to cut and weed, help to make colorful project as easy as you want.<br></span></p><button data-product-id="5067133780101" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-217_"><span>$5.99</span></button></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="https://www.htvront.com/collections/big-sale/products/htvront-mirror-metallic-adhesive-vinyl-roll-12-x-5-ft-gold-chrome-vinyl-for-cricut-silhouette-cameo-cutters-for-craft-on-cups-3-colors-available" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-220_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-221_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-223_">Mirror Metallic dhesive Vinyl Roll</span></h3><p class="sc-hYQoXb koTnzq pf-224_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-226_">$5.99</span></p><a href="https://www.htvront.com/collections/big-sale/products/htvront-mirror-metallic-adhesive-vinyl-roll-12-x-5-ft-gold-chrome-vinyl-for-cricut-silhouette-cameo-cutters-for-craft-on-cups-3-colors-available" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-227_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-229_">SEE ITEM</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-230_"><div class="sc-cxVPaa iNvxTn pf-231_ pf-r pf-r-ew" style="--s-xs:0px;--s-lg:15px;--ew-xs:2;--ew-sm:1" data-pf-type="ProductList">{% assign collection_263363199109 = collections["home-page-product"] %}{% assign defaultProduct = product %}{% paginate collection_263363199109.products by 2 %}{% for product in collection_263363199109.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-232_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-233_ pf-r pf-r-eh" style="--s-xs:0px;--s-sm:10px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:12;--c-lg:4"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-234_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-235_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "x70", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-236_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:12;--c-lg:7"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-238_"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-239_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-240_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-241_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div><div class="sc-bBHHxi gGMCwe pf-244_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/products/htvront-soft-metallic-htv-heat-transfer-vinyl-roll-12x5ft-foil-htv-vinyl-roll-for-t-shirts-8-assorted-colors-iron-on-vinyl-for-clothes" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-245_ pf-bg-lazy"><p class="sc-hYQoXb koTnzq pf-246_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-248_">shining and charming</span></p><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-249_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-251_">HTVRONT Soft Metallic HTV Vinyl<br><b>12" x 5ft Roll</b></span></h3><button data-product-id="6568716992645" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-252_"><span>$5.99</span></button></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="https://www.htvront.com/collections/equipments/products/htvront-vinyl-roll-holder-vinyl-roll-storage-with-24-compartments-vinyl-storage-organizer-rack-wall-mount-hanging-over-the-door-craft-vinyl-storage-idea-gift-wrap-organizer-grey" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-255_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-256_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-258_"><b>Vinyl Roll Holder<br></b>24 Compartments</span></h3><p class="sc-hYQoXb koTnzq pf-259_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-261_"><br></span></p><button data-product-id="6618011304069" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-262_"><span>$19.99</span></button></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="https://www.htvront.com/collections/big-sale/products/htv-vinyl-heat-transfer-vinyl-black-12-x-10-ft-roll" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-265_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-266_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-268_"><span style="font-weight: 700;"><br><br>Heat Transfer Vinyl Roll<br>&nbsp;12x10FT<br></span></span></h3><button data-product-id="6561816510597" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-269_"><span>$9.99</span></button></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-272_"><div class="sc-cxVPaa iNvxTn pf-273_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-sm:1" data-pf-type="ProductList">{% assign collection_263363231877 = collections["home-page-product-2"] %}{% assign defaultProduct = product %}{% paginate collection_263363231877.products by 2 %}{% for product in collection_263363231877.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dYPfWK iwmEnH pf-274_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHxi gGMCwe pf-275_ pf-r pf-r-eh" style="--s-xs:10px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:12;--c-lg:3"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-276_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-haTkiu kJKBKL pf-277_">{% assign images = product.images %}<div style="--w-xs:0" class="sc-bttaWv iWqnVl pf-r-dg"><div data-pf-type="MasterImage" style="order:0" class="sc-ekrjqK dHhmrE"><img src="{{ product.featured_image | img_url: "x46.7708", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-cfJLRR iATxOo pf-hide pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-bLdqUH bCsIgw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jibziO gmAGYO pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-emDsmM ehPSbt pf-278_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-jCHUfY jYHMIh"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:12;--c-lg:9"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-280_"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url | within: collection }}" data-pf-type="ProductTitle" class="sc-hLVXRe iUHqpo pf-281_">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-product-price="true" data-pf-type="ProductPrice" class="sc-gfXuXe gSOtTI pf-282_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-iidyiZ juvTbr pf-283_"><span>Add to Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | within: collection  | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }},
					quantity: {% assign quantity = '' %}{% for variant in product.variants %}{% assign quantity = quantity | append: variant.id | append: ':' | append: variant.inventory_quantity | append: ',' %}{% endfor %}{% assign quantity = quantity | split: ','%}{{quantity | json }}

				};</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-section-id="pf-802e" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-286_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-287_ pf-r pf-c-cm" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-288_"><h2 data-pf-type="Heading" class="sc-avest eSTvWa pf-289_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-291_">BLOG<span style="font-weight: bold;"> POSTS</span><br></span></h2></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-292_"><a href="/blogs/blog" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-293_ pf-hide"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-295_">VIEW ALL</span></a></div></div></div><div class="sc-bBHHxi gGMCwe pf-296_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/blogs/news-1" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-297_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-298_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-300_"><b>Latest NEWS - Giveaway</b></span></h3><a href="https://www.htvront.com/blogs/news-1" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-301_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-303_">View More</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/pages/cricut-projects" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-304_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-305_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-307_"><b>100+ Cricut Projects with Ideas and Tutorials in 2021</b></span></h3><a href="/pages/cricut-projects" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-308_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-310_">View More</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/blogs/blog/how-to-use-heat-transfer-vinyl" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-311_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-312_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-314_"><b>How to Use Heat Transfer Vinyl</b></span></h3><a href="/blogs/blog/how-to-use-heat-transfer-vinyl" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-315_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-317_">View More</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-318_"><div class="sc-bBHHxi gGMCwe pf-319_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0.5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-320_"><a href="{{ article_555622465669.url }}" data-pf-type="ArticleImage" class="sc-fTQvRK krgTft pf-321_">
						<img src="{{ article_555622465669.image | img_url: 'master' }}" loading="lazy" alt="{{ article_555622465669.image.alt }}" width="{{ article_555622465669.image.width }}" height="{{ article_555622465669.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-fivaXQ dggQUE pf-322_"><a href="{{ article_555622465669.url }}">{{ article_555622465669.title }}</a></h3><p data-compact="20" data-show-button="true" data-more="" data-less="" data-article-id="555622465669" data-pf-type="ArticleExcerpt" class="sc-lhMiDA dxnWhw pf-323_">{{ article_555622465669.excerpt | strip_html}}</p></div></div></div><div class="sc-bBHHxi gGMCwe pf-324_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-325_"><a href="{{ article_555621515397.url }}" data-pf-type="ArticleImage" class="sc-fTQvRK krgTft pf-326_">
						<img src="{{ article_555621515397.image | img_url: 'master' }}" loading="lazy" alt="{{ article_555621515397.image.alt }}" width="{{ article_555621515397.image.width }}" height="{{ article_555621515397.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-fivaXQ dggQUE pf-327_"><a href="{{ article_555621515397.url }}">{{ article_555621515397.title }}</a></h3><p data-compact="17" data-show-button="true" data-more="" data-less="" data-article-id="555621515397" data-pf-type="ArticleExcerpt" class="sc-lhMiDA dxnWhw pf-328_">{{ article_555621515397.excerpt | strip_html}}</p></div></div></div></div></div></div><div class="sc-bBHHxi gGMCwe pf-329_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/blogs/blog/htv-vinyl-heat-press-temperature-chart-and-time-guide" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-330_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-331_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-333_"><b>HTV Vinyl Heat Press Temperature Chart and Time Guide</b></span></h3><a href="/blogs/blog/htv-vinyl-heat-press-temperature-chart-and-time-guide" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-334_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-336_">View More</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/blogs/blog/how-to-use-printable-vinyl-for-beginners" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-337_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-338_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-340_"><b>How to Use Printable Vinyl for Beginners</b></span></h3><a href="/blogs/blog/how-to-use-printable-vinyl-for-beginners" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-341_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-343_">View More</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-href="/blogs/blog/how-to-stop-heat-transfer-vinyl-layers-from-bubbling" data-target="_self" data-pf-type="Column" class="sc-JkixQ bOeEnL pf-344_ pf-bg-lazy"><h3 data-pf-type="Heading" class="sc-avest eSTvWa pf-345_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-347_"><b>&nbsp;Stop Heat Transfer Vinyl Layers from Bubbling</b></span></h3><a href="/blogs/blog/how-to-stop-heat-transfer-vinyl-layers-from-bubbling" target="_self" data-pf-type="Button" class="sc-iqVWFU eMDCkx pf-348_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-350_">View More</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:3;--c-lg:3"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-351_"><div class="sc-bBHHxi gGMCwe pf-352_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0.5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-353_"><a href="{{ article_555621351557.url }}" data-pf-type="ArticleImage" class="sc-fTQvRK krgTft pf-354_">
						<img src="{{ article_555621351557.image | img_url: 'master' }}" loading="lazy" alt="{{ article_555621351557.image.alt }}" width="{{ article_555621351557.image.width }}" height="{{ article_555621351557.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-fivaXQ dggQUE pf-355_"><a href="{{ article_555621351557.url }}">{{ article_555621351557.title }}</a></h3><p data-compact="16" data-show-button="true" data-more="" data-less="" data-article-id="555621351557" data-pf-type="ArticleExcerpt" class="sc-lhMiDA dxnWhw pf-356_">{{ article_555621351557.excerpt | strip_html}}</p></div></div></div><div class="sc-bBHHxi gGMCwe pf-357_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-358_"><a href="{{ article_555626168453.url }}" data-pf-type="ArticleImage" class="sc-fTQvRK krgTft pf-359_">
						<img src="{{ article_555626168453.image | img_url: 'master' }}" loading="lazy" alt="{{ article_555626168453.image.alt }}" width="{{ article_555626168453.image.width }}" height="{{ article_555626168453.image.height }}"/>
					</a><h3 data-pf-type="ArticleTitle" class="sc-fivaXQ dggQUE pf-360_"><a href="{{ article_555626168453.url }}">{{ article_555626168453.title }}</a></h3><p data-compact="16" data-show-button="true" data-more="" data-less="" data-article-id="555626168453" data-pf-type="ArticleExcerpt" class="sc-lhMiDA dxnWhw pf-361_">{{ article_555626168453.excerpt | strip_html}}</p></div></div></div></div></div></div></div></div><div data-section-id="pf-ec0b" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-362_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-363_ pf-r pf-c-cm" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-364_"><h2 data-pf-type="Heading" class="sc-avest eSTvWa pf-365_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-367_">HTVRONT <span style="font-weight: bold;">VIDEOS</span><br></span></h2></div></div></div></div></div><div data-section-id="pf-e2ce" data-pf-type="Section" class="sc-bSqaIl hxsZTX pf-368_"><div style="--cw:1460px" class="sc-hkgtus clVJp"><div class="sc-bBHHxi gGMCwe pf-369_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-370_"><div data-pf-type="Youtube" class="sc-dwFVFH ghBOFe pf-371_"><div style="position:relative;padding-bottom:56.25%"><iframe class="pf-ifr" src="https://www.youtube.com/embed/wYv4P1zvXlU?start=0&autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" allowfullscreen="" width="560" height="315" allow="autoplay" title="yt-video" loading="lazy"></iframe></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-372_"><h1 data-pf-type="Heading" class="sc-avest eSTvWa pf-373_"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-375_"><span style="font-weight: bold;">HTVRONT</span> | Best HTV and Adhesive Vinyl Supplier</span></h1><p class="sc-hYQoXb koTnzq pf-376_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-378_">Really Outstanding, Never Temporary. Pieces that inspire and intrigue. A keen eye for trend. A pursuit for high quality. That is what you'll discover at HTVRONT. We're committed to innovating with machines, materials, and tools in handicraft. And our mission is to help bring peoples imagination to life. Make fun and happiness with HTVRONT.<br><br>We commit to delivering the creative handicraft culture, which comes from our love to handicraft in our company. We have been providing practical and quality-assured craft tool to the world. We remain consistent in making our customers satisfied with what we do. Life is beautiful, we can be better!</span></p><div class="sc-bBHHxi gGMCwe pf-379_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:5px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-380_"><div data-pf-type="Image" class="sc-gIBqdA biKLcv pf-381_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-1777f232--customer-service1_1200x.png?v=1620789594" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-1777f232--customer-service1.png?v=1620789594 1536w" width="792" height="314" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy"/></div><p class="sc-hYQoXb koTnzq pf-382_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-384_"><span style="font-weight: bold;">Excellent Customer Service</span></span></p></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-385_"><div data-pf-type="Image" class="sc-gIBqdA biKLcv pf-386_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-f232f43d--shipping_1200x.png?v=1620789777" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-f232f43d--shipping.png?v=1620789777 1536w" width="792" height="314" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy"/></div><p class="sc-hYQoXb koTnzq pf-387_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-389_"><span style="font-weight: bold;">Free Shipping Over $39</span></span></p></div></div><div class="pf-c" style="--c-xs:12;--c-md:4;--c-lg:4"><div data-pf-type="Column" class="sc-JkixQ bOeEnL pf-390_"><div data-pf-type="Image" class="sc-gIBqdA biKLcv pf-391_"><img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-77f232f4--refund1_1200x.png?v=1620789703" srcSet="https://cdn.shopify.com/s/files/1/0356/5997/2741/t/26/assets/pf-77f232f4--refund1.png?v=1620789703 1536w" width="792" height="314" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, 320px" loading="lazy"/></div><p class="sc-hYQoXb koTnzq pf-392_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-hGnimi cpnKBf pf-394_"><span style="font-weight: bold;">Refund &amp; Return Guarantee</span></span></p></div></div></div></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__ && (window.__pagefly_setting2__ = window.__pagefly_setting__);window.__pagefly_setting__ = {"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.19.3","shopDomain":"htvront.myshopify.com","elementData":{"pf-74_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"282d7e60-e902-4faf-9348-3c36ede37fe3","_type":"ProductImage"},"pf-76_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"7e60e902-9faf-4348-bc36-ede37fe3841c","_type":"ProductBadge"},"pf-87_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"e37fe384-1c07-4afa-9bfc-4b644f231cd5","_type":"ProductImage"},"pf-89_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"e3841c07-5afa-4bfc-8b64-4f231cd54929","_type":"ProductBadge"},"pf-100_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"231cd549-299c-4df9-ad42-926db122e55d","_type":"ProductImage"},"pf-102_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"d549299c-1df9-4d42-926d-b122e55d3e63","_type":"ProductBadge"},"pf-113_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"22e55d3e-636d-430d-8992-5472104084a1","_type":"ProductImage"},"pf-115_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"5d3e636d-d30d-4992-9472-104084a16ec0","_type":"ProductBadge"},"pf-126_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"4084a16e-c03b-4979-a33a-b488dd2c89ac","_type":"ProductImage"},"pf-128_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"a16ec03b-e979-433a-b488-dd2c89acf2e2","_type":"ProductBadge"},"pf-139_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"2c89acf2-e2ba-4c60-89bc-554c17cd2244","_type":"ProductImage"},"pf-141_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"acf2e2ba-9c60-49bc-954c-17cd22442339","_type":"ProductBadge"},"pf-152_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","id":"cd224423-39af-4a44-ab1d-11e3ea4d8f3d","_type":"ProductImage"},"pf-154_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"442339af-9a44-4b1d-91e3-ea4d8f3d8eaf","_type":"ProductBadge"},"pf-235_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","id":"7dbccd72-861e-49f3-8d23-8bd4bbd6719b","_type":"ProductImage"},"pf-237_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"cd72861e-09f3-4d23-8bd4-bbd6719ba680","_type":"ProductBadge"},"pf-277_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","id":"648011f8-4492-4953-bafc-957424802e7d","_type":"ProductImage"},"pf-279_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"11f84492-9953-4afc-9574-24802e7d0790","_type":"ProductBadge"}},"pageTitle":"/","pageType":"home","pageId":"3fe20b4e-813a-4890-a6bb-15d750087df5","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Chivo":{"300":0,"400":0,"700":0,"bold":0},"Roboto":{"400":0},"Lato":{"400":0,"600":0,"700":0},"Crimson Text":{"400":0},"Playfair Display":{"400":0},"Source Sans Pro":{"400":0}},"trackingIDs":[{"elementIndex":74,"elementId":"282d7e60-e902-4faf-9348-3c36ede37fe3","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":77,"elementId":"60e9029f-af13-483c-b6ed-e37fe3841c07","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":79,"elementId":"029faf13-483c-46ed-a37f-e3841c075afa","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":87,"elementId":"e37fe384-1c07-4afa-9bfc-4b644f231cd5","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":90,"elementId":"841c075a-fa1b-4c4b-a44f-231cd549299c","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":92,"elementId":"075afa1b-fc4b-444f-a31c-d549299c1df9","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":100,"elementId":"231cd549-299c-4df9-ad42-926db122e55d","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":103,"elementId":"49299c1d-f9ed-4292-adb1-22e55d3e636d","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":105,"elementId":"9c1df9ed-4292-4db1-a2e5-5d3e636dd30d","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":113,"elementId":"22e55d3e-636d-430d-8992-5472104084a1","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":116,"elementId":"3e636dd3-0d89-4254-b210-4084a16ec03b","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":118,"elementId":"6dd30d89-9254-4210-8084-a16ec03be979","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":126,"elementId":"4084a16e-c03b-4979-a33a-b488dd2c89ac","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":129,"elementId":"6ec03be9-7923-4ab4-88dd-2c89acf2e2ba","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":131,"elementId":"3be97923-3ab4-48dd-ac89-acf2e2ba9c60","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":139,"elementId":"2c89acf2-e2ba-4c60-89bc-554c17cd2244","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":142,"elementId":"f2e2ba9c-6089-4c55-8c17-cd22442339af","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":144,"elementId":"ba9c6089-bc55-4c17-8d22-442339af9a44","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":152,"elementId":"cd224423-39af-4a44-ab1d-11e3ea4d8f3d","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":155,"elementId":"2339af9a-44eb-4d11-a3ea-4d8f3d8eaf6f","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":157,"elementId":"af9a44eb-1d11-43ea-8d8f-3d8eaf6f8cda","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":217,"elementId":"6abe2698-e574-4364-9a21-d9c6ab2bbff7","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":239,"elementId":"861e09f3-8d23-4bd4-bbd6-719ba68022b3","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":241,"elementId":"09f38d23-8bd4-4bd6-b19b-a68022b35656","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":252,"elementId":"8022b356-56ce-4a9a-90a1-8e127980b4b8","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":262,"elementId":"8e127980-b4b8-434b-8153-41a9873aae64","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":269,"elementId":"4b815341-a987-4aae-a480-11f844929953","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":281,"elementId":"44929953-7afc-4574-a480-2e7d07907c37","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":283,"elementId":"99537afc-9574-4480-ae7d-07907c37b04c","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting2__&&(window.__pagefly_setting__=(function _(t,e){for(var n in e)"object"==typeof e[n]?t[n]=_(t[n]||{},e[n]):t[n]=e[n];return t})(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__);window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};}()
  </script><script src="https://cdn.pagefly.io/pagefly/3.19.3/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=3fe20b4e-813a-4890-a6bb-15d750087df5)."
    }
  ]
}
{% endschema %}