<style>
  .loved-machine {
    background-image: url('https://htvront.myshopify.com/cdn/shop/files/Slice_1_f6326044-40a3-4ec1-bf37-932e08d7e576_1920x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12px 0 24px;
  }
  .loved-machine .title-content {
    position: relative;
  }
  .title-content img {
    margin: 0 auto;
  }
  .loved-machine .title-content .title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    line-height: 42px;
  }
  .loved-machine .title-content .s_title {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    margin: 6px 0 0;
    line-height: 28px;
  }
  .loved-machine .title-box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .machine-content {
    background-color: #fbb7c2;
    max-width: 1600px;
    border-radius: 10px;
    padding: 133px 30px 0;
    margin: 0 auto;
    margin-top: -90px;
  }
  .item-direction {
    flex-direction: row-reverse;
  }
  .machine-grid-item {
    display: flex;
    border-radius: 6px;
    padding-bottom: 20px;
  }
  .machine-grid-item .item-img {
    margin-right: 20px;
  }
  .machine-grid-item.item-direction .item-img {
    margin-right: 0px;
    margin-left: 20px;
  }
  .item-grid .grid-img img {
    max-width: 268px;
  }
  .item-img {
    min-width: 810px;
  }
  .item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .item-grid {
    width: 100%;
    display: flex;
    padding: 10px 18px 10px 10px;
    background: #fff4f4;
    border-radius: 6px;
  }
  .item .item-grid:first-of-type {
    margin-bottom: 8px;
  }
  .grid-info {
    position: relative;
    width: 100%;
    margin-left: 18px;
  }
  .grid-info .fn-compareat_price {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    margin-top: 10px;
  }
  .grid-info .fn-compareat_price .price-item--sale {
    font-size: 28px;
    color: #ff708a;
    font-weight: bold;
    padding-right: 8px;
  }
  .grid-info .fn-compareat_price .fn-compare-at_price {
    font-size: 18px;
    color: #71132e;
  }
  .info-title {
    font-size: 18px;
    font-weight: bold;
    color: #71132e;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .color-picker {
    margin-top: 10px;
  }
  .color-picker ul {
    display: flex;
    align-items: baseline;
  }
  .color-picker ul .img-picker {
    border-radius: 40px;
    border: 2px solid transparent;
  }
  .color-picker ul .img-picker img {
    width: 40px;
    border-radius: 40px;
  }
  .color-picker ul .img-picker:hover {
    border: 2px solid #71132e;
  }
  .grid-info .item-form {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .item-form .button--full-width {
    border-radius: 4px;
    height: 52px;
    background: linear-gradient(270deg, #ff7d9a 0%, #ff8ea7 100%);
    font-size: 18px;
    padding: 0;
  }
  .item-form .button--full-width::after {
    box-shadow: none;
  }
  @media screen and (max-width: 1600px) {
    .machine-content {
      width: 83.3% !important;
    }
    .item-img {
      min-width: 50% !important;
    }

    .item-form .button--full-width {
      height: 47px;
    }
  }
  @media screen and (max-width: 1599px) and (min-width: 1024px) {
    .item-grid .grid-img img {
      max-width: 190px;
    }
    .info-title {
      font-size: 16px;
    }
    .grid-info .fn-compareat_price .price-item--sale {
      font-size: 22px;
    }
    .grid-info .fn-compareat_price .fn-compare-at_price {
      font-size: 14px;
    }
    .color-picker ul .img-picker img {
      width: 25px;
    }
    .item-form .button--full-width {
      height: 47px;
    }
  }
  @media screen and (max-width: 1500px) and (min-width: 1024px) {
    .item-grid .grid-img img {
      max-width: 160px;
    }
    .info-title {
      font-size: 14px;
    }
    .grid-info .fn-compareat_price .price-item--sale {
      font-size: 16px;
    }
    .price {
      line-height: 10px;
    }
  }
  @media screen and (max-width: 1024px) {
    .machine-grid-item {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 990px) {
    .item {
      flex-wrap: nowrap;
    }
    .machine-content {
      width: auto !important;
      padding: 133px 10px 0;
    }
    .machine-grid-item {
      flex-direction: column;
    }
    .machine-grid-item .item {
      flex-direction: row;
    }
    .machine-grid-item .item-img {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .machine-grid-item.item-direction .item-img {
      margin: 0 0 10px 0;
    }
    .item-grid {
      margin: 0 4px;
      padding: 8px;
      flex-direction: column;
    }
    .item-grid .grid-img img {
      margin: 0 auto;
      max-width: 100%;
    }
    .grid-info {
      margin-left: 0;
    }
    .item .item-grid:first-of-type {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .loved-machine {
      background-image: none;
    }
    .loved-machine .title-content .title {
      font-size: 16px;
      line-height: 18px;
    }
    .loved-machine .title-content .s_title {
      font-size: 14px;
      font-weight: normal;
      line-height: 14px;
    }
    .machine-content {
      margin: -50px 8px 0;
      padding: 60px 6px 0;
    }
    .title-content > picture img {
      width: 295px;
    }
    .loved-machine .title-box {
      margin-top: 0;
    }
  }
</style>
<div class="loved-machine">
  <div class="title-content">
    <picture>
      <source
        media="(max-width: 750px)"
        srcset="//cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_300_2x_66efd76b-7a5a-4df0-926d-b3e0f9d381b4_592x.png"
      >
      <source
        media="(min-width: 751px)"
        srcset="//cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_286_26c15b67-992c-4024-af59-dac71da9154d_816x.png"
      >
      <img src="//cdn.shopify.com/s/files/1/0356/5997/2741/files/Group_286_26c15b67-992c-4024-af59-dac71da9154d_816x.png">
    </picture>
    <div class="title-box">
      <p class="title">Loved Machine, Lovely Price</p>
      <p class="s_title">Special Offer For Special YOU</p>
    </div>
  </div>
  <div class="machine-content qrj-ethan-width">
    <div class="machine-grid">
      {% for block in section.blocks %}
        <div class="machine-grid-item {% if block.settings.img_position == 'right' %}item-direction{% endif %}">
          <div class="item item-img">
            <img src="https://htvront.myshopify.com/cdn/shop/files/Rectangle_6_b5651515-eb16-445a-b368-a980a0ce1ece_810x.png">
          </div>
          <div class="item">
            <div class="item-grid">
              <a href="{{ block.settings.item_product1.url }}" class="grid-img">
                <img src="{{ block.settings.item_product1.featured_media | img_url: '420x' }}">
              </a>
              <div class="grid-info">
                <a href="#">
                  <p class="info-title">{{ block.settings.item_product1.title | escape }}</p>
                </a>
                {% render 'sffers-price', product: block.settings.item_product1, price_class: '' %}
                <div class="color-picker">
                  {% for option in block.settings.item_product1.options_with_values %}
                    {% if option.name == 'Colors' or option.name == 'Color' %}
                      <ul>
                        {% if option.name == 'Colors' %}
                          {% assign colorList = block.settings.item_product1.options_by_name.Colors.values
                            | slice: 0, 5
                          %}
                        {% else %}
                          {% assign colorList = block.settings.item_product1.options_by_name.Color.values
                            | slice: 0, 5
                          %}
                        {% endif %}
                        {% for value in colorList %}
                          <li class="img-picker">
                            <a href="{{ block.settings.item_product1.url }}?variant={{ block.settings.item_product1.variants[forloop.index0].id }}">
                              {%- if block.settings.item_product1.variants[forloop.index0].featured_image != blank -%}
                                <img
                                  src="{{ block.settings.item_product1.variants[forloop.index0].featured_image | img_url: '50x' }}"
                                  alt="{{ value }}"
                                >
                              {% endif %}
                            </a>
                          </li>
                        {% endfor %}
                        {%- if option.name == 'Colors' -%}
                          {% assign size = block.settings.item_product1.options_by_name.Colors.values
                            | size
                            | minus: 5
                          %}
                        {%- else -%}
                          {% assign size = block.settings.item_product1.options_by_name.Color.values
                            | size
                            | minus: 5
                          %}
                        {%- endif -%}
                        {%- if size > 0 -%}
                          <li class="color-quantity">
                            <a href="{{ block.settings.item_product1.url }}">+{{ size }}more</a>
                          </li>
                        {%- endif -%}
                      </ul>
                    {%- endif -%}
                  {% endfor %}
                </div>
                <div class="item-form">
                  {% render 'easter-addCart', product: block.settings.item_product1 %}
                </div>
              </div>
            </div>
            <div class="item-grid">
              <a href="{{ block.settings.item_product2.url }}" class="grid-img">
                <img src="{{ block.settings.item_product2.featured_media | img_url: '420x' }}">
              </a>
              <div class="grid-info">
                <a href="#">
                  <p class="info-title">{{ block.settings.item_product2.title | escape }}</p>
                </a>
                {% render 'sffers-price', product: block.settings.item_product2, price_class: '' %}
                <div class="color-picker">
                  {% for option in block.settings.item_product2.options_with_values %}
                    {% if option.name == 'Colors' or option.name == 'Color' %}
                      <ul>
                        {% if option.name == 'Colors' %}
                          {% assign colorList = block.settings.item_product2.options_by_name.Colors.values
                            | slice: 0, 5
                          %}
                        {% else %}
                          {% assign colorList = block.settings.item_product2.options_by_name.Color.values
                            | slice: 0, 5
                          %}
                        {% endif %}
                        {% for value in colorList %}
                          <li class="img-picker">
                            <a href="{{ block.settings.item_product2.url }}?variant={{ block.settings.item_product2.variants[forloop.index0].id }}">
                              {%- if block.settings.item_product2.variants[forloop.index0].featured_image != blank -%}
                                <img
                                  src="{{ block.settings.item_product2.variants[forloop.index0].featured_image | img_url: '40x' }}"
                                  alt="{{ value }}"
                                >
                              {% endif %}
                            </a>
                          </li>
                        {% endfor %}
                        {%- if option.name == 'Colors' -%}
                          {% assign size = block.settings.item_product2.options_by_name.Colors.values
                            | size
                            | minus: 5
                          %}
                        {%- else -%}
                          {% assign size = block.settings.item_product2.options_by_name.Color.values
                            | size
                            | minus: 5
                          %}
                        {%- endif -%}
                        {%- if size > 0 -%}
                          <li class="color-quantity">
                            <a href="{{ block.settings.item_product2.url }}">+{{ size }}more</a>
                          </li>
                        {%- endif -%}
                      </ul>
                    {%- endif -%}
                  {% endfor %}
                </div>
                <div class="item-form">
                  {% render 'easter-addCart', product: block.settings.item_product2 %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "QRJ-Loved-Machine",
  "settings": [
    {
      "type": "image_picker",
      "id": "loved_machine_bg",
      "label": "该部分背景图"
    },
    {
      "type": "image_picker",
      "id": "lm_title_bg_mb",
      "label": "标题部分背景图-移动端"
    },
    {
      "type": "image_picker",
      "id": "lm_title_bg_pc",
      "label": "标题部分背景图-PC端"
    },
    {
      "type": "text",
      "id": "title",
      "label": "大标题"
    },
    {
      "type": "text",
      "id": "s_title",
      "label": "小标题"
    }
  ],
  "blocks": [
    {
      "name": "Img + Machine",
      "type": "img_machine",
      "settings": [
        {
          "type": "select",
          "label": "设置图片在左还是在右",
          "id": "img_position",
          "options": [
            {
              "value": "left",
              "label": "图片在左"
            },
            {
              "value": "right",
              "label": "图片在右"
            }
          ],
          "default": "left"
        },
        {
          "type": "product",
          "id": "item_product1",
          "label": "产品1"
        },
        {
          "type": "product",
          "id": "item_product2",
          "label": "产品2"
        },
        {
          "type": "image_picker",
          "id": "item_img",
          "label": "图片选择"
        }
      ]
    }
  ]
}
{% endschema %}
