<style>
    .valentinesday-subscribe{
      background-image:url('{{ section.settings.background_image | img_url:'1920x' }}');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      {% if section.settings.background_color != blank %}
        background:{{section.settings.background_color}};
      {% endif %}
      padding:40px 0 23px;
    }
    .valentinesday-subscribe>div{
      display: flex;
      justify-content: center;
      margin:0 auto;
    }
    .subscribe-title{
      width: 655px;
      height: 142px;
      background: #F8849E;
      border-radius: 4px;
      position:relative;
      font-size: 32px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 42px;
      position: absolute;
      top: 150px;
      left: -40px;
      padding-left: 104px;
      padding-top: 25px;
    }
    .subscribe-title:before{
      content:'';
      position:absolute;
      width:0;
      height:0;
      border-top: solid 0 transparent;
      border-right: solid 40px #9F1F33;
      border-bottom: solid 32px transparent;
      left: 0;
      bottom: -31px;
    }
    .valentinesday-subscribe>div .left{
      position:relative;
    }
    .valentinesday-subscribe>div .rules{
      position: absolute;
      font-size: 18px;
      font-weight: 400;
      color: #71132E;
      line-height: 30px;
      top: 320px;
      padding: 0 18px 0 63px;
    }
    .valentinesday-subscribe>div .rules>span{
      display:block;
      margin-top: 10px;
    }
    .valentinesday-subscribe>div .rules>strong{
      font-size: 20px;
    }
    .valentinesday-subscribe .newsletter-form__field-wrapper>div{
      display:flex;
    }
    .subscribe-form{
      position: absolute;
      bottom: 100px;
      left: 63px;
    }
    .subscribe-form .newsletter-form__field-wrapper .field__input{
      padding-right: 2rem;
      width: 392px;
      height: 50px;
      border-radius: 4px;
      border: 1px solid #FF8EA7;
      background: none;
      color: #71132E;
    }
    .subscribe-form .home-emailButton{
      width: 127px;
      height: 50px;
      background: linear-gradient(270deg, #FF7D9A 0%, #FF8EA7 100%);
      border-radius: 4px;
      line-height: 50px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-left: 12px;
      outline: none;
      border: none;
      cursor: pointer;
    }
     @media screen and (max-width: 1660px){
       .subscribe-title{
          width: 550px;
          padding: 20px 0 15px 80px;
          top: 20%;
          height:auto;
      font-size: 20px;
      line-height: 28px;
        }
       .valentinesday-subscribe>div .rules{
          top: 42%;
       }
     }
     @media screen and (max-width: 1660px) and (min-width: 1521px){
       .valentinesday-subscribe>div .rules{
          top: 36%;
       }
       .subscribe-form .newsletter-form__field-wrapper .field__input {
      width: 320px;
  }
     }

     @media screen and (max-width: 1520px){
       .subscribe-form .newsletter-form__field-wrapper .field__input{
          width: 305px;
       }
      .subscribe-form {
      bottom: 50px;
      left: 50px;
  }
       .valentinesday-subscribe>div .rules {
      top: 45%;
      line-height: 24px;
         padding: 0 20px 0 50px;
  }
     }
     @media screen and (max-width: 1440px){
      .subscribe-form {
          bottom: 8%;
      }
          .valentinesday-subscribe>div .rules {
              font-size: 14px;
              line-height: 20px;
          }
          .valentinesday-subscribe>div .rules>span {
              margin-top: 5px;
          }
     }
      @media screen and (max-width: 1200px){
       .subscribe-title {
         width: 490px;
         padding: 20px 0 20px 50px;
       }
       .valentinesday-subscribe>div .rules {
         top: 43%;
         padding-left: 30px;
      }
       .subscribe-form{
        left: 20px;
       }
      }
      @media screen and (max-width: 1200px) and (min-width: 1025px){
      .subscribe-title {
          width: 120%;
          padding: 20px 0 20px 50px;
          font-size: 16px;
          line-height: 22px;
          top: 17%;
      }
        .valentinesday-subscribe>div .rules {
      top: 38%;
          padding-left: 10px;
  }
        .subscribe-form {
      left: 10px;
  }
        .subscribe-form .newsletter-form__field-wrapper .field__input {
      width: 100%;
  }
      }
     @media screen and (max-width: 1024px){
      .valentinesday-subscribe{
         background:{{section.settings.background_color_mobile}}
      }
       .valentinesday-subscribe>div{
          flex-direction: column;
          width: 702px !important;
       }
       .valentinesday-subscribe .valentinesday-width>picture>img{
         margin:0 auto;
       }
       .valentinesday-subscribe>div .left>picture>img{
         margin:0 auto;
       }
     }
     @media screen and (max-width: 820px){
         .valentinesday-subscribe{
          {% if section.settings.background_color_mobile != blank %}
            background:{{section.settings.background_color_mobile}}
          {% else %}
            background:none;
          {% endif %}
        }
     }
     @media screen and (max-width: 750px){
      .valentinesday-subscribe>div{
        width: 90% !important;
      }
      .subscribe-title {
        width: 390px;
        left: -20px;
      }
       .subscribe-title:before{
          border-right: solid 18px #9F1F33;
          border-bottom: solid 12px transparent;
          left: 2px;
          bottom: -11px;
       }
     }
    @media screen and (max-width: 480px){
       .subscribe-title{
          width: 249px;
          height: 53px;
          background: #F8849E;
          border-radius: 4px;
          font-size: 16px;
          line-height: 19px;
          padding: 10px 0 10px 30px;
       }
       .valentinesday-subscribe>div .rules{
          font-size: 14px;
          padding-left: 12px;
          line-height: 18px;
          top: 40%;
       }
       .subscribe-form .home-emailButton{
          width: 127px;
          font-size: 14px;
          height: 44px;
          line-height: 44px;
          margin-left: 8px;
       }
       .subscribe-form .newsletter-form__field-wrapper .field__input{
         height:44px;
         width: 260px
       }
      .subscribe-form {
        left: 10px;
      }
      .subscribe-form .newsletter-form__field-wrapper{
        max-width:100%;
      }
      .valentinesday-subscribe{
        padding-top:0;
      }
    }
    @media screen and (max-width: 450px){
      .subscribe-form .newsletter-form__field-wrapper .field__input{
        width: 197px;
      }
      .subscribe-form{
        bottom:3%;
      }
      .subscribe-form .home-emailButton{
        width:100px;
      }
    }
</style>
<div class="valentinesday-subscribe " id="{{ section.settings.id }}">
  <div class="valentinesday-width">
    <div class="left">
      <picture>
        <source media="(max-width: 1024px)" srcset="{{ section.settings.left_image_mobile | img_url:'1024x' }}">
        <source media="(min-width: 1025px)" srcset="{{ section.settings.left_image | img_url:'704x' }}">
        <img src="{{ section.settings.left_image | img_url:'1024x' }}">
      </picture>
      <div class="subscribe-title">
        {{ section.settings.title }}
      </div>
      <div class="rules">
        {{ section.settings.rules }}
      </div>
      <div class="subscribe-form">
        {% form 'customer', class: 'newsletter-form' %}
          <input type="hidden" name="contact[tags]" value="newsletter,Valentine_Day">
          <div class="newsletter-form__field-wrapper">
            <div>
              <div class="home-emailInput">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="Enter your email "
                  required
                >
                <label class="field__label" for="NewsletterForm--{{ section.id }}">Enter your email </label>
              </div>
              <div>
                <button
                  type="submit"
                  class="home-emailButton t"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  <!-- {% render 'icon-arrow' %} -->
                  Subscribe
                </button>
              </div>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {% endform %}
      </div>
    </div>
    <picture>
      <source media="(max-width: 1024px)" srcset="{{ section.settings.right_image_mobile | img_url:'702x' }}">
      <source media="(min-width: 1025px)" srcset="{{ section.settings.right_image | img_url:'896x' }}">
      <img src="{{ section.settings.right_image | img_url:'896x' }}">
    </picture>
  </div>
</div>
{% schema %}
{
  "name": "QRJ-Subscribe",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "id(页面唯一性，全英文)"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "background color(PC)"
    },
    {
      "type": "color",
      "id": "background_color_mobile",
      "label": "background color(mobile)"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "background image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "html",
      "id": "rules",
      "label": "rules"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "left image"
    },
    {
      "type": "image_picker",
      "id": "left_image_mobile",
      "label": "left image mobile"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "right image"
    },
    {
      "type": "image_picker",
      "id": "right_image_mobile",
      "label": "right image mobile"
    }
  ],
  "presets": [
    {
      "name": "QRJ-Subscribe"
    }
  ]
}
{% endschema %}
