{%- style -%}
  #shopify-section-{{ section.id }} .thousand-banner{
    background: {{ section.settings.bg_color }};
  }
{%- endstyle -%}
<style>
         .thousand-banner .show-in-mobile{
           display: none;
         }
         .thousand-banner{
           padding-bottom:152px;
         }
        .thousand-banner>div{
          position:relative;
        }
         .thousand-banner>img{
           width:100%
         }
         .thousand-banner-content{
           position:absolute;
           left: 50%;
           transform: translateX(-50%);
           bottom:-13.5%
         }
        .thousand-banner-content .swiper-container{
          display:none
        }
         .thousand-banner .swiper-slide{
           border:3px solid #ffffff;
           border-radius: 50%;
         }
         .banner-list{
            display:flex;
            justify-content: center;
            width: max-content;
          }
          .banner-list li{
            margin-right:19px;
            border:5px solid #ffffff;
            border-radius: 50%;
          }
          .banner-list li:last-child{
            margin-right:0
          }
         .thousand-banner .swiper-slide:last-child{
            margin-right:0 !important
          }
         .swiper-slide-btn{
           position:absolute;
           top:50%;
           left:50%;
           transform:translate(-50%, -50%);
           display: none;
         }
         .swiper-slide-mask{
           position: absolute;
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
           background: rgba(0,0,0,0.5);
           display: none;
           border-radius: 50%;
         }
      /*    .swiper-slide-img{
           width:100%
         } */
         .zoom{
           scale:1.15;
           cursor: pointer;
         }
         .zoom .swiper-slide-btn, .zoom .swiper-slide-mask{
           display:block
         }
        @media screen and (max-width: 1440px){
            .thousand-banner-content{
              bottom: -18.5%;
            }
        }
         @media screen and (max-width: 1366px){
           .thousand-banner-content{
             width:80%;
             margin:0 auto
           }
           .banner-list{
             width:100%
           }
         }
        @media screen and (max-width: 1366px){
           .thousand-banner{
             padding-bottom: 115px;
           }
          }
         @media screen and (max-width: 768px){
           .thousand-banner{
             padding-bottom: 85px;
           }
          }
          @media screen and (max-width: 750px){
            .thousand-banner{
             padding-bottom: 70px;
           }
            .thousand-banner-content{
              width:100%;
              bottom: -16.5%;
    /*           padding-left:19px */
            }
            .thousand-banner .show-in-mobile{
               display:block;
              width:100%;
             }
            .thousand-banner .show-in-pc{
                display: none;
            }
             .banner-list{
               display:none
             }
            .thousand-banner-content .swiper-wrapper{
              height:auto;
              margin-top: 10px;
            }
             .thousand-banner-content .swiper-container{
               display:block
             }
            .thousand-banner-content .swiper-slide.swiper-slide-active {
                transform: scale(1.15);
                z-index: 2;
            }
  /*           .swiper-slide.swiper-slide-active .swiper-slide-btn, .swiper-slide.swiper-slide-active .swiper-slide-mask{
               display:block
             } */
            .swiper-slide-img{
                width:100%
            }
          }
</style>
<div class="thousand-banner">
  <div>
    {% if section.settings.image != blank %}
      <img class="show-in-pc" src="{{ section.settings.image | img_url:'1920x' }}" alt="{{ image.alt }}">
    {% endif %}
    {% if section.settings.image_mobile != blank %}
      <img class="show-in-mobile" src="{{ section.settings.image_mobile | img_url:'375x' }}" alt="{{ image.alt }}">
    {% endif %}
    <div class="thousand-banner-content">
      <ul class="banner-list">
        {% for block in section.blocks %}
          <li>
            <a href="#{{ block.settings.crad_id }}" onclick="jumpImage('{{ block.settings.crad_id }}')">
              {% if block.settings.crad_image != blank %}
                <img
                  class="show-in-pc swiper-slide-img"
                  src="{{ block.settings.crad_image | img_url: '178x' }}"
                  alt="{{ image.alt }}"
                >
              {% endif %}
              {% if block.settings.crad_image_mobile != blank %}
                <img
                  class="show-in-mobile swiper-slide-img"
                  src="{{ block.settings.crad_image_mobile | img_url:'68x' }}"
                  alt="{{ image.alt }}"
                >
              {% endif %}
              <div class="swiper-slide-mask"></div>
              <img
                class="swiper-slide-btn"
                src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/12_3322beec-a8c8-4f9b-aa23-81477ced026c.png?v=1683798374"
              >
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <a href="#{{ block.settings.crad_id }}" onclick="jumpImage('{{ block.settings.crad_id }}')">
                {% if block.settings.crad_image != blank %}
                  <img
                    class="show-in-pc swiper-slide-img"
                    src="{{ block.settings.crad_image | img_url: '178x' }}"
                    alt="{{ image.alt }}"
                  >
                  <div class="swiper-slide-mask"></div>
                  <img
                    class="swiper-slide-btn"
                    src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/12_3322beec-a8c8-4f9b-aa23-81477ced026c.png?v=1683798374"
                  >
                {% endif %}
                {% if block.settings.crad_image_mobile != blank %}
                  <img
                    class="show-in-mobile swiper-slide-img"
                    src="{{ block.settings.crad_image_mobile | img_url:'178x' }}"
                    alt="{{ image.alt }}"
                  >
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    let customIndex= 0
    let iconLength = 0
    if($('.banner-list li').length % 2 == 0){
      customIndex = $('.banner-list li').length / 2 - 1
    }else{
      customIndex =($('.banner-list li').length - 1 ) / 2
    }
    if($('.banner-list li').length > 5){
      iconLength = 4.9
    }else if($('.banner-list li').length < 3){
      iconLength = 3
    }else{
      iconLength = $('.banner-list li').length
    }
    var bannerSwiper = new Swiper('.thousand-banner .swiper-container', {
      spaceBetween: 10,
      breakpoints:{
        750: {
           loop: true,
           slidesPerView: iconLength,
           loopedSlides: 6,
           centeredSlides: true,
           noSwiping: true, //设置为true时禁止切换
           slideToClickedSlide: true,
        }
      }
    });
    
    $('.banner-list li')[customIndex].classList.add('zoom')
    $('.thousand-banner-content .swiper-container')[0].style.height = $('.swiper-wrapper')[0].offsetHeight + 20 +'px'
     $('.banner-list li').on('mouseenter', function(e){
       if(document.body.clientWidth <= 1366) return
       let index = $(this).index()
        $('.banner-list li')[index].classList.add('zoom')
       for(var i = 0;i<$('.banner-list li').eq(index).siblings('li').length;i++){
         if(i != index){
           $('.banner-list li')[i].classList.remove('zoom')
         }
       }

     }).on('mouseleave', function(e){
       if(document.body.clientWidth <= 1366) return
        let index = $(this).index()
        $('.banner-list li')[index].classList.remove('zoom')
     })
  });
  var userEmail='{{ customer.email }}';
  function jumpImage(id){
    $.ajax({
                      type:'GET',
                      dataType:'jsonp',
                      jsonp :'callback',
                      url: 'https://qn.htvront.com/htvront-thousands-page-entity/page',
                      data: {userEmail: userEmail,pageName:'{{page_title}}',productId:id}
           });
  }
</script>
{% schema %}
{
  "name": "Thousand Banner",
  "settings": [{
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },{
          "type": "image_picker",
          "id": "image_mobile",
          "label": "image mobile"
        },{
            "type":"color",
            "id":"bg_color",
            "label":"背景颜色"
        }],
  "blocks":[{
      "type": "images",
      "name": "crad_image",
      "settings": [
        {
          "type": "image_picker",
          "id": "crad_image",
          "label": "image"
        },{
          "type": "image_picker",
          "id": "crad_image_mobile",
          "label": "image mobile"
        },
        {
          "type": "text",
          "id": "crad_id",
          "label": "image id(与下方块id一致，无空格，不能重复,格式image_)"
        }
      ]
    }],
  "presets": [
    {
      "name": "Thousand Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
