<style>
  #shopify-section-{{ section.id }} .womensday-bundles{
    position:relative;
    background-image:url('{{ section.settings.background_image | img_url:'1920x' }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    {% if section.settings.background_color != blank %}
        background:{{section.settings.background_color}};
    {% endif %}
    padding-bottom: 60px;
  }
  .bundle-big-box{
    background: #FFF5FE;
    border-radius: 10px 10px 10px 10px;
  }
  .bundles-box{
    display: flex;
    align-items: flex-start;
    padding: 0 20px 20px;
    width:100%;
  }
  .bundles-box>picture{
    min-width:514px;
  }
  .womensday-bundles .product-item .img-first {
    min-width: 247px;
  }
  .bundle-product{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .womensday-bundles .product-item>a{
    margin-left:10px;
  }
  .womensday-bundles .product-item{
    width:48.5%;
  }
  .womensday-bundles .product-item:nth-child(n+3){
    margin-bottom:0;
  }
  .bundles-box.right{
    flex-direction: row-reverse;
  }
  .bundles-box.right .bundle-product{
    margin-left:0;
    margin-right:20px;
  }
  @media screen and (max-width: 1660px){
    .womensday-bundles .product-item .img-first {
      min-width: auto;
    }
    .womensday-bundles .product-item>a {
      width: 40%;
    }
    .womensday-bundles .product-item .heat-press-layout {
      width: 60%;
    }
    .bundles-box>picture {
      min-width: 27.4%;
    }
  }
  @media screen and (max-width: 1520px){
    .womensday-bundles .product-item .fn-color-attr ul li, .product-item .fn-color-attr ul li img {
      width: 30px;
      height: 30px;
    }
    .womensday-bundles .product-item .fn-color-attr {
      margin-top: 5px;
      height: 32px;
    }
    .womensday-bundles .product-item .fn-color-attr ul .color-quantity {
      line-height: 30px;
    }
  }
  @media screen and (max-width: 1280px){
    .womensday-bundles .product-item>a {
      width: 55%;
    }
  }
  
  @media screen and (max-width: 1280px){
    .womensday-bundles .product-item:nth-child(odd) {
      margin-right: 15px;
    }
  }
  @media screen and (max-width: 1024px){
    .bundles-box{
      align-items: unset;
      flex-direction: column;
      padding: 0 6px 12px;
    }
    .bundles-box>picture>img {
      width: 100%;
    }
    .bundles-box>picture{
      margin-bottom:6px;
    }
    .bundle-product{
      margin-left:0;
      justify-content: space-between;
    }
    .womensday-bundles .product-item>a{
      margin-left:0;
    }
    .bundles-box.right {
      flex-direction: column;
    }
    .bundles-box.right .bundle-product{
      margin-right:0;
    }
  }
  @media screen and (max-width: 820px){
    .womensday-bundles .product-item>a{
      width: 100%;
      margin-right: 0;
    }
    .womensday-bundles .product-item .heat-press-layout{
      width:100%;
    }
    .womensday-bundles .product-item{
      width:49.5%;
    }
     .womensday-bundles .product-item:nth-child(odd) {
      margin-right: 5px;
    }
  }
  @media screen and (max-width: 480px){
    .womensday-bundles .product-item{
      width:48.5%;
    }
    #shopify-section-{{ section.id }} .womensday-bundles{
        padding-bottom: 30px;
        background: #FEE8F9;
    }
  }
</style>
<div class="womensday-bundles" id="{{ section.settings.id }}">
  <div class="womensday-width">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/6585217-02_3.png?v=1707018035" class="flower-image">
    <div class="bundle-big-box">
      <p class="title">{{ section.settings.title }}</p>
      <p class="desc">{{ section.settings.desc }}</p>
      <div class="bundles-box {% if section.settings.image_position == 'right' %}right{% endif %} {% if section.settings.image_position == 'left' %}left{% endif %}">
        <picture>
          <source media="(max-width: 1024px)" srcset="{{ section.settings.image_mobile | img_url:'654x' }}">
          <source media="(min-width: 1025px)" srcset="{{ section.settings.image | img_url:'514x' }}">
          <img src="{{ section.settings.image | img_url:'514x' }}">
        </picture>
        <div class="bundle-product">
          {% for block in section.blocks %}
            <div class="product-item">
                {%- if block.settings.product_item.featured_media -%}
                <a href="{{ block.settings.product_item.url }}">
                  <img
                    class="img-first"
                    src="{{ block.settings.product_item.featured_media | img_url: '420x' }}"
                    alt="{{ block.settings.product_item.featured_media.alt | escape }}"
                    {% unless lazy_load == false %}
                      loading="lazy"
                    {% endunless %}
                  >
                </a>
                {%- endif -%}
                <div class="heat-press-layout">
                  <div class="womensday-sale-title t">
                    <a href="{{ block.settings.product_item.url }}" class="t">{{ block.settings.product_item.title | escape }}</a>
                  </div>
                  <div class="heat-press--price">
                    {% render 'sffers-price', product: block.settings.product_item, price_class: '' %}
                  </div>
                  <div class="price-code">
                    {% if block.settings.code != blank %}
                      <div class="code">
                        <span>Code: {{ block.settings.code }}</span>
                        <span class="show-pc" onclick="copyticket({{ block.settings.code }})">copy</span>
                        <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/8_23556d6b-f24f-4b67-8f64-73196bf27b0a.png?v=1691375251" onclick="copyticket({{ block.settings.code }})" class="show-mobile">
                      </div>
                    {% endif %}
                  </div>
                  <div class="fn-color-attr">
                    {%- for option in block.settings.product_item.options_with_values -%}
                      {%- if option.name == 'Colors' or option.name == 'Color' -%}
                        <ul>
                          {%- if option.name == 'Colors' -%}
                            {% assign colorList = block.settings.product_item.options_by_name.Colors.values | slice: 0, 2 %}
                          {%- else -%}
                            {% assign colorList = block.settings.product_item.options_by_name.Color.values | slice: 0, 2 %}
                          {%- endif -%}
                          {%- for value in colorList -%}
                            <li>
                              <a href="{{ block.settings.product_item.url }}?variant={{ block.settings.product_item.variants[forloop.index0].id }}">
                                {%- if block.settings.product_item.variants[forloop.index0].featured_image != blank -%}
                                  <img
                                    src="{{ block.settings.product_item.variants[forloop.index0].featured_image | img_url: '50x50' }}"
                                    alt="{{ value }}"
                                  >
                                {%- endif -%}
                              </a>
                            </li>
                          {% endfor %}
                          {%- if option.name == 'Colors' -%}
                            {% assign size = block.settings.product_item.options_by_name.Colors.values | size | minus: 2 %}
                          {%- else -%}
                            {% assign size = block.settings.product_item.options_by_name.Color.values | size | minus: 2 %}
                          {%- endif -%}
                          {%- if size > 0 -%}
                            <li class="color-quantity">
                              <a href="{{ block.settings.product_item.url }}">+{{ size }}</a>
                            </li>
                          {%- endif -%}
                        </ul>
                      {%- endif -%}
                    {% endfor %}
                  </div>
                   <div class="heatPress-addcart-sale">
                    {% render 'easter-addCart', product: block.settings.product_item %}
                  </div>
                </div>
             </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Womens-Day-Bundles",
    "settings": [
      {
        "type": "text",
        "id": "id",
        "label": "id(页面唯一性，全英文)"
      },{
        "type":"image_picker",
        "id":"background_image",
        "label":"background image"
      },{
        "type":"color",
        "id":"background_color",
        "label":"background color"
      },{
         "type":"text",
         "id":"title",
         "label":"title"
      },{
         "type":"text",
         "id":"desc",
         "label":"desc"
      },{
         "type":"radio",
         "id":"image_position",
         "label":"图片位置 ",
         "default": "left",
         "options": [
          {
            "value": "left",
            "label": "left"
          },
          {
            "value": "right",
            "label": "right"
          }
        ]
      },{
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },{
        "type":"image_picker",
        "id":"image_mobile",
        "label":"Image Mobile"
      }
    ],
     "blocks":[{
      "name":"bundle",
      "type":"bundle",
      "settings":[
        {
          "type": "product",
          "id": "product_item",
          "label": "product item"
        }
      ]
     }],
    "presets":[
        {
          "name":"Womens-Day-Bundles"
        }
    ]
  }
{% endschema %}