 <style>
  body {
    min-height: auto;
  }
  .fn-container {
    width: 100%;
    background-image: url("https://cdn.shopify.com/s/files/1/0356/5997/2741/files/1_1_d228e5e4-71fa-4c41-b58a-8acc6b308c31.png?v=1658287527");
    background-size: 100% 100%;
  }
  .fn-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fn-content-title {
    font-size: 60px;
    font-family: Open Sans;
    font-weight: bold;
    color: #FFFFFF; 
    margin-top: 192px;   
  }
  .fn-content-subtitle {
    font-size: 30px;
    font-family: Open Sans;
    font-weight: 400;
    color: #FFFFFF;
  }
  .fn-content-date {
    margin-top: 18px;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: bold;
    color: #FFFFFF;
    background: #FF7606;
    border-radius: 16px;
    padding: 0 15px;
  }
  .fn-content-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 308px;
  }
  .form-input {
    width: 413px;
    height: 50px;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: none;
    margin-right: 13px;
    padding: 0 20px;
    color: #ffffff;
  }
  /*    WebKit 谷歌 */
  .form-input::-webkit-input-placeholder {
    color: #FFFFFF;
  }
  /* Mozilla Firefox 4 - 18 适配火狐 */
  .form-input:-moz-placeholder { 
    color: #FFFFFF;
  }
  /* Mozilla Firefox 19+ 适配火狐 */
  .form-input::-moz-placeholder {
    color: #FFFFFF;
  }
  /* IE 10+   */
  .form-input:-ms-input-placeholder { 
    color: #FFFFFF;
  }
  .form-button {
    border: none;
    width: 176px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: bold;
    color: #FF7606;
  }
  .fn-footer {
    width: fit-content;
    margin: 33px auto 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-title {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: bold;
    color: #333333;
    margin-right: 17px;
    line-height: 37px;
  }
  a + a {
    margin-left: 20px;
  }
  .newsletter-form__message {
    color: #ffffff;
  }
   .newsletter-form__message:focus-visible {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
  }
  @media screen and (max-width: 750px) {
    .fn-container {
      background-image: url("https://cdn.shopify.com/s/files/1/0356/5997/2741/files/711_62237b09-adb8-4291-98b9-102d673ebd0f.png?v=1658286291");
    }
    .fn-content-title {
      font-size: 28px;
      margin-top: 55px;   
    }
    .fn-content-subtitle {
      font-size: 14px;
    }
    .fn-content-date {
      margin-top: 9px;
      font-size: 12px;
      border-radius: 7px;
      padding: 0 6px;
    }
    .fn-content-form {
      margin-top: 15px;
      margin-bottom: 100px;
    }
    .form-input {
      width: 171px;
      height: 23px;
      font-size: 12px;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      margin-right: 5px;
      padding: 0 9px;
    }
    .form-button {
      border: none;
      width: 103px;
      height: 23px;
      border-radius: 4px;
      font-size: 12px;
    }
    .fn-footer {
      margin: 14px auto;
    }
    .footer-title {
      font-size: 12px;
      margin-right: 10px;
    }
    a + a {
      margin-left: 12px;
    }
  }
</style>
<div class="fn-container">
  <div class="fn-content">
    <div class="fn-content-title">Get Road Trip Inspired</div>
    <div class="fn-content-subtitle">New Free Svg Images/ Nice Deal</div>
    <div class="fn-content-date">July 25th - 31th, 2022</div>
    <div class="fn-content-form">
    {% form 'customer'%}
      <input id="NewsletterForm--{{ section.id }}" type="email" name="contact[email]" class="form-input" value="{{ form.email }}" aria-required="true"
              autocorrect="off" autocapitalize="off" autocomplete="email" 
              {% if form.errors %}
               autofocus
               aria-invalid="true"
               aria-describedby="Newsletter-error--{{ section.id }}"
               {% elsif form.posted_successfully? %}
               aria-describedby="Newsletter-success--{{ section.id }}"
               {% endif %}
               placeholder="Enter Email"
            required/>
      <button type="submit" class="form-button" name="commit" id="Subscribe">SUBSCRIPTION</button>
      {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}"
          tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
      {%- endif -%}
    {% endform %}
    </div>
  </div>
</div>
<div class="fn-footer">
  <div class="footer-title">Follow us:</div>
  <a href="//twitter.com/share?text=&url=https://www.htvront.com">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/5c1c18adb65c7850c0e95c123d529df6_849099a8-8580-4a86-9cf0-1b995370eb52.png?v=1658200150" alt="" />
  </a>
  <a href="//pinterest.com/pin/create/button/?url=https://www.htvront.com">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/1_a43b07cf-22fa-4736-acbf-a1c055c0f90b.png?v=1658200150" alt="" />
  </a>
  <a href="https://www.instagram.com/htvront/">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/2_39219814-fb3c-4aac-8b8f-1260fc015f30.png?v=1658200150" alt="" />
  </a>
  <a href="//www.facebook.com/sharer.php?u=https://www.htvront.com">
    <img src="https://cdn.shopify.com/s/files/1/0356/5997/2741/files/3_d7b0ae6b-f3d5-46a5-9993-26b42588e13b.png?v=1658200150" alt="" />
  </a>
</div>